<!DOCTYPE html>
<html>

<head>
  <title>Badge Outlined</title>
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class="badge-outlined">
      <div class="outlined-example">
        <div class="icon-circle">
          <igc-icon name="favorite_border" collection="material"></igc-icon>
        </div>
        <igc-badge variant="info" outlined>23</igc-badge>
      </div>
      <div class="outlined-example">
        <igc-avatar initials="AZ" shape="rounded"></igc-avatar>
        <igc-badge variant="danger" outlined>
          <igc-icon name="close" collection="material"></igc-icon>
        </igc-badge>
      </div>
      <div class="stepper-wrapper">
        <igc-stepper class="steps" orientation="horizontal">
        <igc-step complete>
          <span slot="title">Orders</span>
        </igc-step>
        <igc-step>
          <span slot="title">Payment</span>
        </igc-step>
        <igc-step>
          <span slot="title">Shipping</span>
        </igc-step>
        </igc-stepper>
        <igc-badge class="flagged-badge" dot variant="info" outlined></igc-badge>
      </div>
    </div>
  </div>

  <!-- This script is needed only for parcel and it will be excluded for webpack -->
  <% if (false) { %>
    <script src="src/index.ts"></script>
    <% } %>

</body>

</html>
