#sample-content {
    width: 300px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#circularProgress {
    margin-right: 50px;
    margin-left: 20px;
    --diameter: 50px;
    --stroke-thickness: 3px;
}