<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    
    <div class="legend-title">
        Highest Grossing Movie Franchises
    </div>
    
    <div class="container fill">
        <igc-category-chart
        chart-type="Column"
        x-axis-interval="1"
        y-axis-label-left-margin="0"
        y-axis-title-left-margin="10"
        y-axis-title-right-margin="5"
        y-axis-title="Billions of U.S. Dollars"
        data-tool-tip-grouped-position-mode-x="PinRight"
        data-tool-tip-grouped-position-mode-y="PinTop"
        tool-tip-type="Data"
        crosshairs-display-mode="None"
        name="chart"
        id ="chart">
        </igc-category-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>