<html>
  <head>
    <title>DataChartTypePolarSeries</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options vertical">
        <span class="legend-title"> Points of Sail Chart</span>
        <div class="legend">
            <igc-legend id="legend" orientation="Horizontal"></igc-legend>
        </div>
    </div>

    <div class="overlay-right" style="margin-right: 1rem">
        <div class="options horizontal">
            <label class="options-label">Type of Polar Chart </label>
            <select id="seriesTypeSelect">
                <option>Polar Area Chart</option>
                <option>Polar Spline Chart</option>
                <option>Polar Line Chart</option>
                <option>Polar Scatter Chart</option>
            </select>
        </div>
    </div>

    <div class="container" >
        <igc-data-chart id="chart" width="100%" height="100%"
            title-top-margin="10px"
            is-horizontal-zoom-enabled="false"
            is-vertical-zoom-enabled="false" >
            <igc-numeric-angle-axis  name="angleAxis"
                start-angle-offset="-90"
                interval="30"
                minimum-value="0"
                maximum-value="360">
            </igc-numeric-angle-axis>
            <igc-numeric-radius-axis name="radiusAxis"
                inner-radius-extent-scale="0.1"
                radius-extent-scale="0.9"
                minimum-value="0"
                maximum-value="100"
                interval="25">
            </igc-numeric-radius-axis>
        </igc-data-chart>
    </div>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>