span{
  font-size: 30px;
}

p {
  font-size: 25px;
  margin-left: 20px;
}

.btnWrapper {
  margin: 0 0 15px 20px;
}

igc-button:nth-of-type(-n+3) {
  margin-right: 5px;;
}

igc-tile-manager {
  max-width: 1000px;
}