<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

    <div class="container fill">
        <igc-data-chart
        name="chart"
        id="chart"
        should-auto-expand-margin-for-initial-labels="true"
        computed-plot-area-margin-mode="Series"
        is-vertical-zoom-enabled="false"
        is-horizontal-zoom-enabled="true"
        brushes="green red"
        outlines="green red"
        plot-area-margin-left="10"
        plot-area-margin-top="0"
        plot-area-margin-right="20"
        plot-area-margin-bottom="0"
        left-margin="10"
        top-margin="0"
        right-margin="20"
        bottom-margin="0"
        is-window-synced-to-visible-range="false"
        chart-title="This Data Chart demonstrates the DataAnnotationRectLayer bound to data that annotates bearish patterns in stock prices.">
            <igc-category-x-axis
            name="xAxis"
            id="xAxis"
            label="date"
            label-left-margin="0"
            label-top-margin="10"
            label-right-margin="0"
            label-bottom-margin="10">
            </igc-category-x-axis>
            <igc-numeric-y-axis
            name="yAxis"
            id="yAxis"
            minimum-value="0"
            maximum-value="550">
            </igc-numeric-y-axis>
            <igc-financial-price-series
            name="series1"
            id="series1"
            title="Stock Price"
            display-type="Candlestick"
            open-member-path="open"
            high-member-path="high"
            low-member-path="low"
            close-member-path="close"
            show-default-tooltip="false">
            </igc-financial-price-series>
            <igc-data-tool-tip-layer
            name="Tooltip"
            id="Tooltip"
            included-columns="High, Low, Open, Close"
            layout-mode="Vertical">
            </igc-data-tool-tip-layer>
            <igc-data-annotation-rect-layer
            name="RectLayer"
            id="RectLayer"
            center-label-x-display-mode="Hidden"
            start-label-x-display-mode="Hidden"
            end-label-x-display-mode="Hidden"
            start-label-y-display-mode="Hidden"
            end-label-y-display-mode="Hidden"
            actual-area-fill-opacity="0.1"
            brush="purple"
            outline="purple"
            overlay-text-color="purple"
            overlay-text-vertical-margin="20"
            overlay-text-horizontal-margin="-50"
            overlay-text-location="OutsideBottomCenter"
            overlay-text-member-path="label"
            start-label-x-member-path="startLabel"
            end-label-x-member-path="endLabel"
            start-value-x-member-path="startX"
            start-value-y-member-path="startY"
            end-value-x-member-path="endX"
            end-value-y-member-path="endY">
            </igc-data-annotation-rect-layer>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>