<!DOCTYPE html>
<html>
  <head>
    <title>Button Sizing</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
  </head>

  <body>
    <div id="root">
      <div class="container sample">
        <div class="size-grid">
          <div class="size-header"><span></span><span>Contained</span><span>Outlined</span><span>Flat</span><span>Fab</span></div>
          <div class="size-row">
            <span class="size-label">Large</span>
            <igc-button class="size-large" variant="contained"><igc-icon slot="prefix" name="notifications" collection="material"></igc-icon>contained<igc-icon slot="suffix" name="notifications" collection="material"></igc-icon></igc-button>
            <igc-button class="size-large" variant="outlined"><igc-icon slot="prefix" name="notifications" collection="material"></igc-icon>outlined<igc-icon slot="suffix" name="notifications" collection="material"></igc-icon></igc-button>
            <igc-button class="size-large" variant="flat"><igc-icon slot="prefix" name="notifications" collection="material"></igc-icon>flat<igc-icon slot="suffix" name="notifications" collection="material"></igc-icon></igc-button>
            <igc-button class="size-large" variant="fab"><igc-icon slot="prefix" name="add" collection="material"></igc-icon>Floating Action<igc-icon slot="suffix" name="add" collection="material"></igc-icon></igc-button>
          </div>
          <div class="size-row">
            <span class="size-label">Medium</span>
            <igc-button class="size-medium" variant="contained"><igc-icon slot="prefix" name="notifications" collection="material"></igc-icon>contained<igc-icon slot="suffix" name="notifications" collection="material"></igc-icon></igc-button>
            <igc-button class="size-medium" variant="outlined"><igc-icon slot="prefix" name="notifications" collection="material"></igc-icon>outlined<igc-icon slot="suffix" name="notifications" collection="material"></igc-icon></igc-button>
            <igc-button class="size-medium" variant="flat"><igc-icon slot="prefix" name="notifications" collection="material"></igc-icon>flat<igc-icon slot="suffix" name="notifications" collection="material"></igc-icon></igc-button>
            <igc-button class="size-medium" variant="fab"><igc-icon slot="prefix" name="add" collection="material"></igc-icon>Floating Action<igc-icon slot="suffix" name="add" collection="material"></igc-icon></igc-button>
          </div>
          <div class="size-row">
            <span class="size-label">Small</span>
            <igc-button class="size-small" variant="contained"><igc-icon slot="prefix" name="notifications" collection="material"></igc-icon>contained<igc-icon slot="suffix" name="notifications" collection="material"></igc-icon></igc-button>
            <igc-button class="size-small" variant="outlined"><igc-icon slot="prefix" name="notifications" collection="material"></igc-icon>outlined<igc-icon slot="suffix" name="notifications" collection="material"></igc-icon></igc-button>
            <igc-button class="size-small" variant="flat"><igc-icon slot="prefix" name="notifications" collection="material"></igc-icon>flat<igc-icon slot="suffix" name="notifications" collection="material"></igc-icon></igc-button>
            <igc-button class="size-small" variant="fab"><igc-icon slot="prefix" name="add" collection="material"></igc-icon>Floating Action<igc-icon slot="suffix" name="add" collection="material"></igc-icon></igc-button>
          </div>
        </div>
      </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>
