<html>
  <head>
    <title>Button Sizing</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" type="text/css" />
  </head>

  <body>
    <div id="root">
      <div class="container sample center">
        <igc-radio-group id="radio-group" alignment="horizontal">
          <igc-radio name="size" value="small" label-position="after">Small</igc-radio>
          <igc-radio name="size" value="medium" label-position="after" checked>Medium</igc-radio>
          <igc-radio name="size" value="large" label-position="after">Large</igc-radio>
        </igc-radio-group>
  
        <div class="button-container">
          <igc-button id="flat-btn" variant="flat">Flat</igc-button>
          <igc-button id="contained-btn" variant="contained">Contained</igc-button>
          <igc-button id="outlined-btn" variant="outlined">Outlined</igc-button>
          <igc-button id="fab-btn" variant="fab">Like</igc-button>
        </div>
      </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>
