<html>
  <head>
    <title>{SampleName}</title>
    <meta charset="UTF-8" />

    <style>
      html,body,#root {
        height: calc(100%);
        margin: 0px;
      }
    </style>
     <link rel="stylesheet" type="text/css" href="/src/index.css"  />
  </head>

  <body>
    <div id="root">
        {InsertHtml}
    </div>

    <% if (false) { %>
    <!-- This area isn't needed for webpack, only parcel -->
    <script src="@webcomponents/custom-elements/src/native-shim.js"></script>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
    <% } %>
  </body>
</html>