<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    
    <div class="legend-title">
        Ronaldo vs Messi Player Stats
    </div>
    <div class="legend">
        <igc-legend
        orientation="Horizontal"
        name="Legend"
        id ="Legend">
        </igc-legend>
    </div>
    <div class="container fill">
        <igc-data-chart
        is-horizontal-zoom-enabled="false"
        is-vertical-zoom-enabled="false"
        name="chart"
        id ="chart">
            <igc-category-angle-axis
            
            label="attribute"
            name="angleAxis"
            id ="angleAxis">
            </igc-category-angle-axis>
            <igc-numeric-radius-axis
            inner-radius-extent-scale="0.1"
            minimum-value="0"
            maximum-value="10"
            interval="2"
            name="radiusAxis"
            id ="radiusAxis">
            </igc-numeric-radius-axis>
            <igc-radial-column-series
            value-member-path="ronaldo"
            thickness="3"
            area-fill-opacity="0.8"
            show-default-tooltip="true"
            title="Ronaldo"
            name="RadialColumnSeries1"
            id ="RadialColumnSeries1">
            </igc-radial-column-series>
            <igc-radial-column-series
            
            value-member-path="messi"
            show-default-tooltip="true"
            area-fill-opacity="0.8"
            thickness="3"
            title="Messi"
            name="RadialColumnSeries2"
            id ="RadialColumnSeries2">
            </igc-radial-column-series>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>