igc-banner::part(spacer) {
  background: var(--ig-surface-600);
}

igc-banner::part(illustration) {
  color: var(--ig-surface-600-contrast);;
}

igc-banner::part(content) {
  color: var(--ig-gray-900);;
}