<!DOCTYPE html>
<html>
  <head>
    <title>Button Group Alignment</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" type="text/css" />
  </head>

  <body>
    <div id="root">
      <div class="container sample">
        <igc-button-group alignment="vertical">
          <igc-toggle-button value="sofia">
            <igc-ripple></igc-ripple>
            Sofia
          </igc-toggle-button>
          <igc-toggle-button value="london">
            <igc-ripple></igc-ripple>
            London
          </igc-toggle-button>
          <igc-toggle-button value="new york">
            <igc-ripple></igc-ripple>
            New York
          </igc-toggle-button>
          <igc-toggle-button value="tokyo">
            <igc-ripple></igc-ripple>
            Tokyo
          </igc-toggle-button>
        </igc-button-group>
      </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>