<!DOCTYPE html>
<html>
    <head>
        <title>Textarea Resize</title>
        <meta charset="UTF-8" />

        <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browser/wc.png" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
        <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v5.css" type="text/css" />
    </head>

    <body>
        <div id="root">
            <div class="container sample">
                <igc-textarea label="Resize: none" resize="none">
                    <p slot="helper-text">This textarea does not resize and uses a scroll bar to show overflow text.</p>
                </igc-textarea>
                <igc-textarea label="Resize: vertical (default)">
                    <p slot="helper-text">This textarea lets the user resize vertically.</p>
                </igc-textarea>
                <igc-textarea label="Resize: auto" resize="auto">
                    <p slot="helper-text">This textarea shows all the user input at once. Overflow text wraps onto a new line and expands the text area.</p>
                </igc-textarea>
            </div>
        </div>
        <!-- This script is needed only for parcel and it will be excluded for webpack -->
        <% if (false) { %>
        <script src="src/index.ts"></script>
        <% } %>
    </body>
</html>
