<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options vertical">
        <igc-property-editor
        
        description-type="Treemap"
        is-horizontal="true"
        is-wrapping-enabled="true">
            <igc-property-editor-property-description
            property-path="LayoutType"
            label="Layout"
            primitive-value="Squarified">
            </igc-property-editor-property-description>
            <igc-property-editor-property-description
            property-path="LayoutOrientation"
            primitive-value="Vertical"
            label="Orientation">
            </igc-property-editor-property-description>
            <igc-property-editor-property-description
            property-path="HeaderDisplayMode"
            primitive-value="Overlay"
            label="Headers">
            </igc-property-editor-property-description>
            <igc-property-editor-property-description
            property-path="LabelVerticalAlignment"
            primitive-value="Center"
            label="Labels">
            </igc-property-editor-property-description>
        </igc-property-editor>
    </div>
    <div class="legend-title">
        Comparing Population of Countries
    </div>
    
    <div class="container fill">
        <igc-treemap
        value-member-path="pop"
        root-title="Countries"
        parent-id-member-path="parent"
        label-member-path="name"
        id-member-path="name"
        fill-brushes="rgba(41, 158, 65, 1) rgba(78, 98, 207, 1) rgba(94, 53, 156, 1)"
        is-fill-scale-logarithmic="true"
        header-display-mode="Overlay"
        parent-node-left-padding="0"
        parent-node-top-padding="0"
        parent-node-right-padding="0"
        parent-node-bottom-padding="0"
        name="treemap"
        id ="treemap">
        </igc-treemap>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>