<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample ig-typography">

    <div class="container fill">
        <igc-tree-grid
        auto-generate="false"
        id="treeGrid"
        name="treeGrid"
        id="treeGrid"
        row-editable="true"
        primary-key="ID"
        foreign-key="ParentID"
        cell-selection="none">
            <igc-column
            field="Name"
            header="Full Name">
            </igc-column>
            <igc-column
            field="Age"
            data-type="number">
            </igc-column>
            <igc-column
            field="Title">
            </igc-column>
            <igc-column
            field="HireDate"
            data-type="date">
            </igc-column>
            <igc-action-strip
            name="actionStrip"
            id="actionStrip">
                <igc-grid-pinning-actions
                >
                </igc-grid-pinning-actions>
            </igc-action-strip>
        </igc-tree-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>