<!DOCTYPE html>
<html>
  <head>
    <title>DoughnutChartSelection</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browser/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample" >
    <div class="options vertical">
        <span class="legend-title">Global Electricity Demand by Energy Use</span>
        <div class="legend">
            <igc-item-legend id="legend" orientation="Horizontal"></igc-item-legend>
        </div>
    </div>

    <div class="container relative">
        <div class="container-overlay">
            <igc-doughnut-chart
                id="chart"
                width="100%"
                height="100%"
                allow-slice-selection="true"
                inner-extent="0.6">
                <igc-ring-series
                    name="ringSeries" id="ringSeries"
                    label-member-path="Summary"
                    labels-position="OutsideEnd"
                    label-extent="30"
                    value-member-path="MarketShare"
                    legend-label-member-path="Category"
                    radius-factor="0.7"
                    start-angle="30"
                    >
                </igc-ring-series>
            </igc-doughnut-chart>

            <div class="overlay-center" style="line-height: 1.1;">
              <label id="selectedSliceLabel" class="options-label" style="font-size: 1.2rem;"></label>
              <label id="selectedSliceValue" class="options-label" style="font-size: 2.2rem;"></label>
          </div>
        </div>
    </div>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>