<!DOCTYPE html>
<html>

<head>
    <title>QR Code Tailwind Styling</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png">
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />

</head>

<body>
    <div id="root">
        <div class="container sample">
        <igc-qr-code
          value="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
          size="150"
          error-level="H"
          dot-style="circle"
          square-style="rounded"
          logo-src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png"
          logo-size="0.75"
          class="!light-qr-code [--ig-qr-code-dark-color:#1a1a1a] [--ig-qr-code-background:#f7df1e] [--ig-qr-code-corner-square-color:#1a1a1a] [--ig-qr-code-corner-dot-color:#1a1a1a]"
        ></igc-qr-code>
        <igc-qr-code
          value="https://developer.mozilla.org/en-US/docs/Web/HTML"
          size="150"
          error-level="H"
          dot-style="circle"
          square-style="rounded"
          logo-src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg"
          logo-size="0.75"
          class="!light-qr-code [--ig-qr-code-dark-color:#ffffff] [--ig-qr-code-background:#e44d26] [--ig-qr-code-corner-square-color:#ffffff] [--ig-qr-code-corner-dot-color:#ffffff]"
        ></igc-qr-code>
        <igc-qr-code
          value="https://developer.mozilla.org/en-US/docs/Web/CSS"
          size="150"
          error-level="H"
          dot-style="circle"
          square-style="rounded"
          logo-src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg"
          logo-size="0.75"
          class="!light-qr-code [--ig-qr-code-dark-color:#ffffff] [--ig-qr-code-background:#1572b6] [--ig-qr-code-corner-square-color:#ffffff] [--ig-qr-code-corner-dot-color:#ffffff]"
        ></igc-qr-code>
        <igc-qr-code
          value="https://www.infragistics.com/products/ignite-ui-web-components"
          size="150"
          error-level="H"
          dot-style="circle"
          square-style="rounded"
          logo-src="https://static.infragistics.com/marketing/Website/products/ignite-ui/shared/ignite-ui-logo-light-background-horizontal.svg"
          logo-size="0.75"
          class="!light-qr-code [--ig-qr-code-dark-color:#0f172a] [--ig-qr-code-background:#ffffff] [--ig-qr-code-corner-square-color:#0f172a] [--ig-qr-code-corner-dot-color:#0f172a]"
        ></igc-qr-code>
        </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %>
        <script src="src/index.ts"></script>
        <% } %>

</body>
</html>