<html>
  <head>
    <title>NavbarStyling</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" type="text/css" />
  </head>

  <body>
    <div id="root">

<div class="container sample">
    <igc-navbar style="height:40px">
      <span slot="start" class="material-icons">home</span>
      <h2>Sample App</h2>
      <span slot="end" class="material-icons">search</span>
      <span slot="end" class="material-icons">favorite</span>
      <span slot="end" class="material-icons">more_vert</span>
    </igc-navbar>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>