<html>
  <head>
    <title>SparklineUnknownValues</title>
    <meta charset="UTF-8" />

    <style>
      html,
      body,
      #root {
        height: calc(100%);
        margin: 0px;
      }
    </style>
     <link rel="stylesheet" type="text/css" href="/src/index.css"  />
  </head>

  <body>
    <div id="root">
        
<div class="igContainer">
    <label class="optionItem">
    <input id="plotUnknownValue" checked="false" type="checkbox"/>Plot Unknown Values</label>
    <igc-sparkline id="sparkline"
        height="calc(100% - 55px)"
        width="100%"
        value-member-path="Value"
        display-type="Area"
        unknown-value-plotting="LinearInterpolate">
    </igc-sparkline>
</div>
    </div>
    <% if (false) { %>
    <!-- This area isn't needed for webpack, only parcel -->
    <script src="@webcomponents/custom-elements/src/native-shim.js"></script>
    <script src="src/index.ts"></script>
    <% } %>
  </body>
</html>