<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

    <div class="legend-title">
        Olympic Medals By Country
    </div>

    <div class="container fill">
        <igc-category-chart
        chart-type="Line"
        x-axis-interval="1"
        x-axis-gap="0.125"
        x-axis-overlap="0"
        y-axis-interval="25"
        y-axis-minimum-value="50"
        y-axis-maximum-value="150"
        y-axis-minor-interval="5"
        x-axis-label-top-margin="5"
        y-axis-label-right-margin="0"
        x-axis-label-text-color="gray"
        y-axis-label-text-color="gray"
        y-axis-title-left-margin="5"
        x-axis-title-text-color="gray"
        y-axis-title-text-color="gray"
        x-axis-label-text-style="9pt Verdana"
        y-axis-label-text-style="9pt Verdana"
        x-axis-title-text-style="10pt Verdana"
        y-axis-title-text-style="10pt Verdana"
        x-axis-major-stroke="gray"
        y-axis-major-stroke="black"
        x-axis-major-stroke-thickness="0.5"
        y-axis-major-stroke-thickness="1"
        y-axis-minor-stroke-thickness="0.5"
        x-axis-tick-length="10"
        y-axis-tick-length="10"
        x-axis-tick-stroke="black"
        y-axis-tick-stroke="black"
        x-axis-tick-stroke-thickness="0.5"
        y-axis-tick-stroke-thickness="0.5"
        x-axis-title="Olympic Games"
        y-axis-title="Total Medals"
        y-axis-minor-stroke="gray"
        x-axis-title-angle="0"
        y-axis-title-angle="90"
        y-axis-label-location="OutsideRight"
        thickness="3"
        name="chart"
        id ="chart">
        </igc-category-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>