<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample ig-typography">

    <div class="container fill">
        <igc-tree-grid
        auto-generate="false"
        name="treeGrid"
        id="treeGrid"
        id="treeGrid"
        primary-key="ID"
        foreign-key="ParentID">
            <igc-column
            field="ID"
            header="Order ID">
            </igc-column>
            <igc-column
            field="Name"
            header="Order Product"
            has-summary="true"
            name="column1"
            id="column1">
            </igc-column>
            <igc-column
            field="Category"
            header="Category"
            has-summary="true"
            name="column2"
            id="column2">
            </igc-column>
            <igc-column
            field="Units"
            header="Units"
            data-type="number"
            has-summary="true"
            editable="true"
            name="column3"
            id="column3">
            </igc-column>
            <igc-column
            field="UnitPrice"
            header="Unit Price"
            data-type="number"
            has-summary="true"
            editable="true"
            name="column4"
            id="column4">
            </igc-column>
            <igc-column
            field="Price"
            header="Price"
            data-type="number"
            has-summary="true"
            editable="true"
            name="column5"
            id="column5">
            </igc-column>
            <igc-column
            field="Delivered"
            header="Delivered"
            data-type="boolean"
            has-summary="true"
            name="column6"
            id="column6">
            </igc-column>
            <igc-column
            field="OrderDate"
            header="Order Date"
            data-type="date"
            has-summary="true"
            name="column7"
            id="column7">
            </igc-column>
        </igc-tree-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>