<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options vertical">
        <igc-property-editor-panel

        description-type="DataChart"
        is-horizontal="true"
        is-wrapping-enabled="true"
        name="propertyEditorPanel1"
        id="propertyEditorPanel1">
            <igc-property-editor-property-description
            property-path="Axes[0 as CategoryAngleAxis].LabelExtent"
            name="LabelExtent"
            id="LabelExtent"
            label="Label Extent"
            should-override-default-editor="true"
            value-type="Slider"
            primitive-value="5"
            min="0"
            max="100"
            step="1">
            </igc-property-editor-property-description>
            <igc-property-editor-property-description
            property-path="Axes[0 as CategoryAngleAxis].LabelMode"
            name="LabelMode"
            id="LabelMode"
            label="LabelMode"
            should-override-default-editor="true"
            value-type="EnumValue"
            drop-down-names="Auto, Center, ClosestPoint"
            drop-down-values="Auto, Center, ClosestPoint"
            primitive-value="Auto">
            </igc-property-editor-property-description>
        </igc-property-editor-panel>
    </div>

    <div class="legend-title">
        Ronaldo vs Messi Player Stats
    </div>

    <div class="legend">
        <igc-legend
        name="legend"
        id="legend"
        orientation="Horizontal">
        </igc-legend>
    </div>

    <div class="container fill">
        <igc-data-chart
        name="chart"
        id="chart"
        is-horizontal-zoom-enabled="false"
        is-vertical-zoom-enabled="false">
            <igc-category-angle-axis
            name="angleAxis"
            id="angleAxis"
            label="attribute">
            </igc-category-angle-axis>
            <igc-numeric-radius-axis
            name="radiusAxis"
            id="radiusAxis"
            inner-radius-extent-scale="0.1"
            interval="2"
            minimum-value="0"
            maximum-value="10">
            </igc-numeric-radius-axis>
            <igc-radial-column-series
            name="RadialColumnSeries1"
            id="RadialColumnSeries1"
            value-member-path="ronaldo"
            show-default-tooltip="false"
            area-fill-opacity="0.8"
            thickness="3"
            title="Ronaldo">
            </igc-radial-column-series>
            <igc-radial-column-series
            name="RadialColumnSeries2"
            id="RadialColumnSeries2"
            value-member-path="messi"
            show-default-tooltip="false"
            area-fill-opacity="0.8"
            thickness="3"
            title="Messi">
            </igc-radial-column-series>
            <igc-data-tool-tip-layer
            name="dataToolTipLayer"
            id="dataToolTipLayer">
            </igc-data-tool-tip-layer>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>