<!DOCTYPE html>
<html>
  <head>
    <title>Button Styling</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
  </head>

  <body>
    <div id="root">
      <div class="container sample">
        <div class="button-grid">
          <div class="button-row">
            <igc-button variant="contained" class="confirm-button">Confirm</igc-button>
            <igc-button variant="outlined" class="send-button">
              <igc-icon slot="prefix" name="send" collection="material"></igc-icon>
              Send
            </igc-button>
            <igc-button variant="flat" class="cancel-button">Cancel</igc-button>
            <igc-button variant="fab" class="add-button">
              Add
              <igc-icon slot="suffix" name="add" collection="material"></igc-icon>
            </igc-button>
          </div>
        </div>
      </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>
