<!DOCTYPE html>
<html>
  <head>
    <title>Expansion Panel Customization</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />

  </head>

  <body>
    <div id="root">
      <div class="container sample">
        <igc-expansion-panel id="exp-panel" indicator-position="end">
          <h1 slot="title">Golden Retriever</h1>
          <h3 slot="subtitle">Medium-large gun dog</h3>
          <div slot="indicator">Show more</div>
          <img height="100" src="https://i.ibb.co/6ZdY7cn/Untitled-design-3.png" alt="">
          <span>The Golden Retriever is a medium-large gun dog that retrieves shot waterfowl, such as ducks
          and upland game birds, during hunting and shooting parties.[3] The name "retriever" refers to the breed's ability
          to retrieve shot game undamaged due to their soft mouth. Golden retrievers have an instinctive love of water, and
          are easy to train to basic or advanced obedience standards.</span>
          <igc-button href="https://en.wikipedia.org/wiki/Golden_Retriever" variant="outlined" target="_blank">Read more</igc-button>
        </igc-expansion-panel>
      </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>
