<!DOCTYPE html>
<html>

<head>
  <title>Tile Manager Columns</title>
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class="container sample center">
      <div class="inputWrapper">
      <igc-input label="Columns Number" id="rowIn" type='number' value="0" min="0"></igc-input>
      <igc-input label="Gap Size" type='string'></igc-input>
      <igc-input label="Minimum Column Width" type='string'></igc-input>
      <igc-input label="Minimum Row Height" type='string'></igc-input>
    </div>
      <igc-tile-manager gap="10px">
        <igc-tile>
          <div class="picture">
            <img src="https://picsum.photos/1048/998" alt="picture" />
          </div>
        </igc-tile>
        <igc-tile>
          <div class="picture">
            <img src="https://picsum.photos/1049/999" alt="picture" />
          </div>
        </igc-tile>
        <igc-tile>
          <div class="picture">
            <img src="https://picsum.photos/1050/1000" alt="picture" />
          </div>
        </igc-tile>
        <igc-tile>
          <div class="picture">
            <img src="https://picsum.photos/1051/1001" alt="picture" />
          </div>
        </igc-tile>
        <igc-tile>
          <div class="picture">
            <img src="https://picsum.photos/1052/1002" alt="picture" />
          </div>
        </igc-tile>
        <igc-tile>
          <div class="picture">
            <img src="https://picsum.photos/1053/1003" alt="picture" />
          </div>
        </igc-tile>
      </igc-tile-manager>
    </div>
  </div>

  <!-- This script is needed only for parcel and it will be excluded for webpack -->
  <% if (false) { %>
    <script src="src/index.ts"></script>
    <% } %>

</body>

</html>