/* shared styles are loaded from: */
/* https://static.infragistics.com/xplatform/css/samples */
igc-rating {
    --symbol-size: 44px;
    --symbol-full-color: var(--ig-primary-500);
    --symbol-empty-color: var(--ig-secondary-200);
    --label-color: var(--ig-gray-600);
    --ig-size: var(--ig-size-large);
}

igc-rating[disabled] {
    --symbol-full-color: var(--ig-gray-400);
    --symbol-empty-color: var(--ig-gray-400);
    --disabled-label-color: var(--ig-gray-400);
}

igc-rating::part(label) {
    font-size: 18px;
    font-weight: 600;
    text-transform: var(--ig-overline-text-transform);
}

igc-rating::part(symbols) {
    gap: 8px; 
}
