<!DOCTYPE html>
<html>
  <head>
    <title>DockManagerAddContentRuntime</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" type="text/css" />
  </head>

  <body>
    <div id="root">
      <div class="container sample">
          <div class="options horizontal">
            <button id="contentPaneBtn">Add content pane</button>
            <button id="tabGroupPaneBtn">Add document</button>
            <button id="floatingPaneBtn">Add floating pane</button>
          </div>

          <igc-dockmanager id="dockManager">
              <div slot="content1">Content 1</div>
              <div slot="content2">Content 2</div>
              <div slot="content3">Content 3</div>
              <div slot="content4">Content 4</div>
              <div slot="content5">Content 5</div>
              <div slot="content6">Content 6</div>
              <div slot="content7">Content 7</div>
              <div slot="content8">Content 8</div>
              <div slot="content9">Content 9</div>
          </igc-dockmanager>
      </div>
    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>
