<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    
    
    <div class="legend">
        <igc-data-legend
        included-columns="Close, Change, Value"
        excluded-columns="High, Low, Open, Volume"
        value-format-mode="Currency"
        value-format-culture="en-GB"
        label-display-mode="Hidden"
        name="Legend"
        id ="Legend">
        </igc-data-legend>
    </div>
    
    <div class="container fill">
        <igc-financial-chart
        chart-type="Candle"
        zoom-slider-type="None"
        data-tool-tip-included-columns="Close, Change, Value"
        data-tool-tip-value-format-mode="Currency"
        data-tool-tip-value-format-culture="en-GB"
        data-tool-tip-header-format-time="None"
        data-tool-tip-label-display-mode="Hidden"
        name="chart"
        id ="chart">
        </igc-financial-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>