<html>
  <head>
    <title>DataChartPerformance</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options horizontal">
        <label class="options-label">Data Points: </label>
        <label class="options-value" id="dataInfo">
        </label>
        <input class="options-slider" id="dataPointsSlider" type="range"
            min="10000" max="1000000" step="1000">
        </input>
        <button id="genData">Generate Data</button>
        <label class="options-label">
            <input type="checkbox" id="scaleRatio"
            onChange={this.onScalingRatioChanged}></input> Optimize Scaling
        </label>
        <span id="fps" class="options-label"></span>
    </div>
    <div class="container" style="height: calc(100% - 3rem)">
        <igc-data-chart id="chart" width="100%" height="100%"
        is-horizontal-zoom-enabled="true"
        is-vertical-zoom-enabled="true">
            <igc-category-x-axis name="xAxis" label="Label">
            </igc-category-x-axis>
            <igc-numeric-y-axis name="yAxis">
            </igc-numeric-y-axis>

            <igc-line-series name="series1"
                value-member-path="Value"
                x-axis-name="xAxis"
                y-axis-name="yAxis"
                marker-type="None">
            </igc-line-series>
        </igc-data-chart>
    </div>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>