
.igLegend, #legend {
    --legend-item-overflow: hidden;
    width: calc(100% - 1rem);
    font-size: 0.75rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 1rem;
    padding: 0rem;
    display: inline-block;
    vertical-align: middle;
}

.igLegend-title {
    font-size: 14px;
    margin-left: 1rem;
    margin-right: 0.25rem;
    padding: 0rem;
    align-self: center;
    display: inline-block;
}