<html>
  <head>
    <title>DataChartScrollbars</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <igc-data-chart
        id="chart"
        width="100%"
        height="100%"
        chart-title="Stock Prices Series in Candlestick Display Type"
        chart-title-top-margin="10"
        is-horizontal-zoom-enabled="true"
        is-vertical-zoom-enabled="true"
        default-interaction="DragPan"
        horizontal-view-scrollbar-mode="Persistent"
        vertical-view-scrollbar-mode="Persistent">
        <igc-category-x-axis
            name="xAxis"
            label="Label"></igc-category-x-axis>
        <igc-numeric-y-axis
            name="yAxis"
            title="Amount (in USD)"
            title-right-margin="10"
            label-right-margin="10"
            label-horizontal-alignment="Left"
            label-location="OutsideRight"></igc-numeric-y-axis>
        <igc-financial-price-series
            x-axis-name="xAxis"
            y-axis-name="yAxis"
            display-type="Candlestick"
            open-member-path="Open"
            close-member-path="Close"
            high-member-path="High"
            low-member-path="Low"
            volume-member-path="Volume"
            show-default-tooltip="true"
            is-transition-in-enabled="true"
            title="Price"></igc-financial-price-series>
    </igc-data-chart>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>