<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options horizontal" style="gap: 50px;">
      <igc-input id="input">
        <span slot="prefix">Change copy separator:</span>
        <span slot="helper-text">The default value is a single tabulation.</span>
      </igc-input>
      <igc-switch id="copy" label-position="before" checked>Grid copy behavior</igc-switch>
      <igc-switch id="headerCopy" label-position="before" checked>Copying of header labels</igc-switch>
      <igc-switch id="formatterCopy" label-position="before" checked>Copying column formatters</igc-switch>
      <igc-button id="selectionClear">Clear selection</igc-button>
    </div>

    <div class="container fill">
        <igc-grid
        auto-generate="false"
        name="grid"
        id="grid"
        row-editable="true">
            <igc-column
            field="ProductID"
            header="Product ID">
            </igc-column>
            <igc-column
            field="ProductName"
            header="Product Name">
            </igc-column>
            <igc-column
            field="SupplierID"
            header="Supplier ID">
            </igc-column>
            <igc-column
            field="CategoryID"
            header="Category ID">
            </igc-column>
            <igc-column
            field="QuantityPerUnit"
            header="Quantity Per Unit">
            </igc-column>
            <igc-column
            field="UnitPrice"
            header="Unit Price">
            </igc-column>
            <igc-column
            field="UnitsInStock"
            header="Units In Stock">
            </igc-column>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>