<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    
    <div class="legend-title">
        Total Population of Selected Countries
    </div>
    <div class="legend">
        <igc-data-legend
        
        name="Legend"
        id ="Legend">
        </igc-data-legend>
    </div>
    <div class="container fill">
        <igc-data-chart
        name="chart"
        id ="chart">
            <igc-numeric-x-axis
            minimum-value="4"
            maximum-value="16"
            interval="1"
            title="Death Rate"
            name="xAxis"
            id ="xAxis">
            </igc-numeric-x-axis>
            <igc-numeric-y-axis
            minimum-value="0"
            maximum-value="60"
            interval="10"
            title="Birth Rate"
            name="yAxis"
            id ="yAxis">
            </igc-numeric-y-axis>
            <igc-bubble-series
            radius-member-path="population"
            radius-member-as-legend-label="Population:"
            x-member-path="deathRate"
            y-member-path="birthRate"
            x-member-as-legend-label="Death Rate:"
            y-member-as-legend-label="Birth Rate:"
            title="Africa"
            name="BubbleSeries1"
            id ="BubbleSeries1">
                <igc-size-scale
                minimum-value="10"
                maximum-value="100">
                </igc-size-scale>
            </igc-bubble-series>
            <igc-bubble-series
            
            x-member-path="deathRate"
            y-member-path="birthRate"
            radius-member-path="population"
            title="Europe"
            radius-member-as-legend-label="Population:"
            x-member-as-legend-label="Death Rate:"
            y-member-as-legend-label="Birth Rate:"
            name="BubbleSeries2"
            id ="BubbleSeries2">
                <igc-size-scale
                minimum-value="10"
                maximum-value="100">
                </igc-size-scale>
            </igc-bubble-series>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>