<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

    <div class="legend-title">
        Total Population of Selected Countries
    </div>

    <div class="legend">
        <igc-data-legend
        name="legend"
        id="legend"
        units-text="%"
        included-columns="birthRate, deathRate">
        </igc-data-legend>
    </div>

    <div class="container fill">
        <igc-data-chart
        name="chart"
        id="chart">
            <igc-numeric-y-axis
            name="yAxis"
            id="yAxis"
            title="Birth Rate"
            interval="10"
            minimum-value="0"
            maximum-value="60">
            </igc-numeric-y-axis>
            <igc-numeric-x-axis
            name="xAxis"
            id="xAxis"
            title="Death Rate"
            interval="1"
            minimum-value="4"
            maximum-value="16">
            </igc-numeric-x-axis>
            <igc-bubble-series
            name="bubbleSeries1"
            id="bubbleSeries1"
            x-member-path="deathRate"
            y-member-path="birthRate"
            radius-member-path="population"
            title="Africa"
            radius-member-as-legend-label="Population: "
            x-member-as-legend-label="Death Rate: "
            y-member-as-legend-label="Birth Rate: ">
            </igc-bubble-series>
            <igc-bubble-series
            name="bubbleSeries2"
            id="bubbleSeries2"
            x-member-path="deathRate"
            y-member-path="birthRate"
            radius-member-path="population"
            title="Europe"
            radius-member-as-legend-label="Population: "
            x-member-as-legend-label="Death Rate: "
            y-member-as-legend-label="Birth Rate: ">
            </igc-bubble-series>
            <igc-crosshair-layer
            name="CrosshairLayer"
            id="CrosshairLayer">
            </igc-crosshair-layer>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>