<!DOCTYPE html>
<html>
  <head>
    <title>CategoryChartHighFrequency</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browser/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options horizontal">
        <label class="options-label">Refresh: </label>
        <button id="timerButton">Start</button>
        <label class="options-value" id="refreshInfoLabel"></label>
        <input class="options-slider" id="refreshSlider" type="range" min="10" max="500"></input>
        <button class="options-button" id="dataGenerate">Generate</button>
        <label class="options-label">Points: </label>
        <label class="options-value" id="dataInfoLabel" >100000 </label>
        <input class="options-slider" id="slider" type="range" min="10000" max="1000000" step="1000" value="100000"></input>
    </div>

    <igc-category-chart id="chart"
        chart-type="Line"
        width="100%"
        height="calc(100% - 3rem)"
        y-axis-extent="60"
        x-axis-enhanced-interval-prefer-more-category-labels="false"
        should-consider-auto-rotation-for-initial-labels="false"
        should-auto-expand-margin-for-initial-labels="false"
        crosshairs-display-mode="None"
        auto-margin-and-angle-update-mode="None"
        marker-types="None" >
    </igc-category-chart>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>