/* shared styles are loaded from: */
/* https://static.infragistics.com/xplatform/css/samples */

.grid {
    --igx-grid-cell-active-border-color: #ffcd0f;
    --igx-grid-cell-selected-background: #6f6f6f;
    --igx-grid-row-hover-background: #fde069;
    --igx-grid-row-selected-background: #8d8d8d;
    --igx-grid-header-background: #494949;
    --igx-grid-header-text-color: #fff;
}