<!DOCTYPE html>
<html>
  <head>
    <title>Add List Items</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" type="text/css" />
  </head>

  <body>
    <div id="root">
      <div class="container sample center">
        <igc-list id="list">
          <igc-list-header>Header</igc-list-header>
          <igc-list-item>
            <h2 slot="title">Item 1</h2>
          </igc-list-item>
          <igc-list-item>
            <h2 slot="title">Item 2</h2>
          </igc-list-item>
          <igc-list-item>
            <h2 slot="title">Item 3</h2>
          </igc-list-item>
        </igc-list>
      </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>
