<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    
    <div class="legend-title">
        Monthly Temperature Range in LA and NYC
    </div>
    
    <div class="legend">
        <igc-legend
        orientation="Horizontal"
        name="Legend"
        id ="Legend">
        </igc-legend>
    </div>
    
    <div class="container fill">
        <igc-data-chart
        is-horizontal-zoom-enabled="false"
        is-vertical-zoom-enabled="false"
        name="chart"
        id ="chart">
            <igc-category-x-axis
            interval="1"
            label="month"
            name="xAxis"
            id ="xAxis">
            </igc-category-x-axis>
            <igc-numeric-y-axis
            title="Temperature (in Celsius)"
            title-angle="90"
            title-left-margin="10"
            name="yAxis"
            id ="yAxis">
            </igc-numeric-y-axis>
            <igc-range-column-series
            
            low-member-path="lowLA"
            high-member-path="highLA"
            title="Los Angeles"
            name="series1"
            id ="series1">
            </igc-range-column-series>
            <igc-range-column-series
            
            title="New York City"
            low-member-path="lowNY"
            high-member-path="highNY"
            name="series2"
            id ="series2">
            </igc-range-column-series>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>