<html>
  <head>
    <title>BulletGraphRanges</title>
    <meta charset="UTF-8" />

    <style>
      html,
      body,
      #root {
        height: calc(100%);
        margin: 0px;
      }
    </style>
     <link rel="stylesheet" type="text/css" href="/src/index.css"  />
  </head>

  <body>
    <div id="root">
        
<div class="igContainer-center" >
    <igc-bullet-graph
        id="gauge"
        height="80px"
        width="100%"
        minimum-value="0" value="80" interval="10"
        maximum-value="100" target-value="90"
        range-brushes ="#C62828, #F96232, #FF9800"
        range-outlines="#C62828, #F96232, #FF9800">
        <igc-linear-graph-range name="range1"
            start-value="0" end-value="40"
            inner-start-extent="0.075" inner-end-extent="0.075"
            outer-start-extent="0.95" outer-end-extent="0.95" >
        </igc-linear-graph-range>
        <igc-linear-graph-range name="range2"
            start-value="40" end-value="70"
            inner-start-extent="0.075" inner-end-extent="0.075"
            outer-start-extent="0.95" outer-end-extent="0.95" >
        </igc-linear-graph-range>
        <igc-linear-graph-range name="range3"
            start-value="70" end-value="100"
            inner-start-extent="0.075" inner-end-extent="0.075"
            outer-start-extent="0.95" outer-end-extent="0.95" >
        </igc-linear-graph-range>
    </igc-bullet-graph>
</div>
    </div>
    <% if (false) { %>
    <!-- This area isn't needed for webpack, only parcel -->
    <script src="@webcomponents/custom-elements/src/native-shim.js"></script>
    <script src="src/index.ts"></script>
    <% } %>
  </body>
</html>