<!DOCTYPE html>
<html>
<head>
    <title>Color Picker Sizes</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png">
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
</head>
<body>
    <div id="root">
        <div class="container sample">
            <div>
            <span>Small</span>
            <igc-color-picker class="smallPicker" label="Pick a color"></igc-color-picker>
            </div>
            <div>
            <span>Medium</span>
            <igc-color-picker class="mediumPicker" label="Pick a color"></igc-color-picker>
            </div>
            <div>
            <span>Large</span>
            <igc-color-picker class="largePicker" label="Pick a color"></igc-color-picker>
            </div>
        </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %>
        <script src="src/index.ts"></script>
        <% } %>
</body>
</html>