<!DOCTYPE html>
<html>
  <head>
    <title>Accordion Customization</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" type="text/css" />
  </head>

  <body>
    <div id="root">
      <div class="sample-wrapper">
        <igc-accordion id="accordion">
          <igc-expansion-panel>
            <h1 slot="title" id="categories">Categories</h1>
            <div class="categories-container">
              <igc-checkbox>Bike</igc-checkbox>
              <igc-checkbox>Motorcycle</igc-checkbox>
              <igc-checkbox>Car</igc-checkbox>
              <igc-checkbox>Taxi</igc-checkbox>
              <igc-checkbox>Public Transport</igc-checkbox>
            </div>
          </igc-expansion-panel>
           <igc-expansion-panel>
            <h1 slot="title">Cost: $<span id="lowerCost">200</span> to $<span id="upperCost">800</span></h1>
            <igc-range-slider min="0" max="1000" lower="200" upper="800"></igc-range-slider>
          </igc-expansion-panel>
          <igc-expansion-panel>
            <h1 slot="title" id="rating">Rating</h1>
            <igc-radio-group>
              <igc-radio>
                <igc-rating label="1 star or more" max="5" value="1.5" size="small" readonly></igc-rating>
              </igc-radio>
              <igc-radio>
                <igc-rating label="2 stars or more" max="5" value="2.5" size="small" readonly></igc-rating>
              </igc-radio>
              <igc-radio>
                <igc-rating label="3 stars or more" max="5" value="3.5" size="small" readonly></igc-rating>
              </igc-radio>
              <igc-radio>
                <igc-rating label="4 stars or more" max="5" value="4.5" size="small" readonly></igc-rating>
              </igc-radio>   
            </igc-radio-group>
          </igc-expansion-panel>
          <igc-expansion-panel>
            <h1 slot="title" id="timeTitle">Time</h1>
            <igc-date-time-input input-format="hh:mm tt" label="Arrive before" size="small">
              <igc-icon name="clock" collection="material" slot="prefix"></igc-icon>
              <igc-icon name="clear" collection="material" slot="suffix"></igc-icon>
            </igc-date-time-input>
          </igc-expansion-panel>
        </igc-accordion>
      </div>
    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>
