<!DOCTYPE html>
<html>

<head>
  <title>Avatar Styling</title>
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class="sample">
      <igc-list class="chat-list">
        <igc-list-header>Chats</igc-list-header>
        <igc-list-item>
          <span class="avatar-with-badge" slot="start">
            <igc-avatar
              class="size-small"
              shape="circle"
              src="https://dl.infragistics.com/x/img/avatars/avatar-profile-07.png"
              alt="A profile photo of Nick Evans."
            ></igc-avatar>
            <igc-badge class="avatar-status avatar-check-badge size-small" outlined shape="rounded" variant="success">
              <igc-icon name="check" collection="material"></igc-icon>
            </igc-badge>
          </span>
          <h2 slot="title">Nick Evans</h2>
          <span slot="subtitle">Hi Samira, thanks for the ...</span>
          <span slot="end">9:44 AM</span>
        </igc-list-item>

        <igc-list-item>
          <span class="avatar-with-badge" slot="start">
            <igc-avatar
              class="size-small avatar-muted"
              shape="circle"
              initials="JF"
              alt="Avatar with JF initials."
            ></igc-avatar>
            <igc-badge class="avatar-status avatar-check-badge avatar-muted-badge size-small" outlined shape="rounded" variant="primary">
              <igc-icon name="x" collection="material"></igc-icon>
            </igc-badge>
          </span>
          <h2 slot="title">James Ford</h2>
          <span slot="subtitle">I'll send the text and im ...</span>
          <span slot="end">8:30 AM</span>
        </igc-list-item>

        <igc-list-item>
          <span class="avatar-with-badge" slot="start">
            <igc-avatar
              class="size-small"
              shape="circle"
              src="https://dl.infragistics.com/x/img/avatars/avatar-profile-08.png"
              alt="A profile photo of Kate Porter."
            ></igc-avatar>
            <igc-badge class="avatar-status avatar-check-badge size-small" outlined shape="rounded" variant="danger">
              <igc-icon name="horizontalRule" collection="material"></igc-icon>
            </igc-badge>
          </span>
          <h2 slot="title">Kate Porter</h2>
          <span slot="subtitle">That's great!</span>
          <span slot="end">Yesterday</span>
        </igc-list-item>

        <igc-list-header>Meetings</igc-list-header>
        <igc-list-item>
          <igc-avatar class="size-small" shape="circle" slot="start" alt="Calendar icon.">
            <igc-icon name="calendar" collection="material"></igc-icon>
          </igc-avatar>
          <h2 slot="title">Weekly Meeting</h2>
          <span slot="subtitle">https://www.infra.com</span>
          <span slot="end">Monday</span>
        </igc-list-item>

        <igc-list-item>
          <igc-avatar class="size-small" shape="circle" slot="start" alt="Group icon.">
            <igc-icon name="group" collection="material"></igc-icon>
          </igc-avatar>
          <h2 slot="title">Design Discussion</h2>
          <span slot="subtitle">https://www.infra.com</span>
          <span slot="end">11:30 AM</span>
        </igc-list-item>
      </igc-list>
    </div>
  </div>

  <!-- This script is needed only for parcel and it will be excluded for webpack -->
  <% if (false) { %>
    <script src="src/index.ts"></script>
    <% } %>

</body>

</html>
