<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample ig-typography">

    <div class="container fill">
        <igc-grid
        auto-generate="false"
        name="grid"
        id="grid"
        id="grid"
        allow-filtering="true">
            <igc-column
            field="Category"
            width="120px">
            </igc-column>
            <igc-column
            field="Type"
            filterable="false"
            width="150px">
            </igc-column>
            <igc-column
            field="Open"
            width="120px"
            data-type="currency">
            </igc-column>
            <igc-column
            field="Price"
            width="120px"
            data-type="currency">
            </igc-column>
            <igc-column
            field="Change"
            width="120px"
            data-type="number"
            name="column1"
            id="column1">
            </igc-column>
            <igc-column
            field="ChangePercent"
            header="Change(%)"
            width="120px"
            data-type="number"
            name="column2"
            id="column2">
            </igc-column>
            <igc-column
            field="YearlyChange"
            header="Change On Year(%)"
            width="150px"
            data-type="number"
            name="column3"
            id="column3">
            </igc-column>
            <igc-column
            field="Buy"
            width="130px"
            data-type="currency">
            </igc-column>
            <igc-column
            field="Sell"
            width="130px"
            data-type="currency">
            </igc-column>
            <igc-column
            field="Spread"
            width="130px"
            data-type="number">
            </igc-column>
            <igc-column
            field="Volume"
            width="130px"
            data-type="number">
            </igc-column>
            <igc-column
            field="High"
            width="130px"
            data-type="currency">
            </igc-column>
            <igc-column
            field="Low"
            width="130px"
            data-type="currency">
            </igc-column>
            <igc-column
            field="YearlyHigh"
            header="High(Y)"
            width="130px"
            data-type="currency">
            </igc-column>
            <igc-column
            field="YearlyLow"
            header="Low(Y)"
            width="130px"
            data-type="currency">
            </igc-column>
            <igc-column
            field="YearlyStart"
            header="Start(Y)"
            width="130px"
            data-type="currency">
            </igc-column>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>