<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options vertical">
        <igc-property-editor-panel

        description-type="CategoryChart"
        is-horizontal="true"
        is-wrapping-enabled="true"
        name="propertyEditorPanel1"
        id="propertyEditorPanel1">
            <igc-property-editor-property-description
            property-path="YAxisMinimumValueHandler"
            name="YAxisMinimumValue"
            id="YAxisMinimumValue"
            label="Y Axis Minimum Value"
            should-override-default-editor="true"
            value-type="EnumValue"
            drop-down-names="0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100"
            drop-down-values="0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100"
            primitive-value="0">
            </igc-property-editor-property-description>
            <igc-property-editor-property-description
            property-path="YAxisMaximumValueHandler"
            name="YAxisMaximumValue"
            id="YAxisMaximumValue"
            label="Y Axis Maximum Value"
            should-override-default-editor="true"
            value-type="EnumValue"
            drop-down-names="100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200"
            drop-down-values="100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200"
            primitive-value="150">
            </igc-property-editor-property-description>
        </igc-property-editor-panel>
    </div>

    <div class="legend-title">
        Highest Grossing Movie Franchises
    </div>

    <div class="legend">
        <igc-legend
        name="legend"
        id="legend"
        orientation="Horizontal">
        </igc-legend>
    </div>

    <div class="container fill">
        <igc-category-chart
        name="chart"
        id="chart"
        included-properties="year, europe, china, america"
        chart-type="Line"
        computed-plot-area-margin-mode="Series"
        is-horizontal-zoom-enabled="false"
        is-vertical-zoom-enabled="false"
        y-axis-minimum-value="0"
        y-axis-maximum-value="150">
        </igc-category-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>