<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    
        <div class="legend-title">
        Wind Speed vs Boat Speed
    </div>
    
    <div class="legend">
        <igc-legend
        orientation="Horizontal"
        name="Legend"
        id ="Legend">
        </igc-legend>
    </div>
    
    <div class="container fill">
        <igc-data-chart
        is-horizontal-zoom-enabled="false"
        is-vertical-zoom-enabled="false"
        name="chart"
        id ="chart">
            <igc-numeric-angle-axis
            start-angle-offset="-90"
            minimum-value="0"
            maximum-value="360"
            interval="30"
            name="angleAxis"
            id ="angleAxis">
            </igc-numeric-angle-axis>
            <igc-numeric-radius-axis
            radius-extent-scale="0.9"
            inner-radius-extent-scale="0.1"
            minimum-value="0"
            maximum-value="100"
            interval="25"
            name="radiusAxis"
            id ="radiusAxis">
            </igc-numeric-radius-axis>
            <igc-polar-area-series
            angle-member-path="direction"
            radius-member-path="windSpeed"
            marker-type="Circle"
            thickness="1"
            area-fill-opacity="0.8"
            show-default-tooltip="true"
            title="Wind Speed"
            name="PolarAreaSeries1"
            id ="PolarAreaSeries1">
            </igc-polar-area-series>
            <igc-polar-area-series
            
            angle-member-path="direction"
            radius-member-path="boatSpeed"
            show-default-tooltip="true"
            area-fill-opacity="0.8"
            thickness="1"
            title="Boat Speed"
            marker-type="Circle"
            name="PolarAreaSeries2"
            id ="PolarAreaSeries2">
            </igc-polar-area-series>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>