<html>
  <head>
    <title>Linear Progress Indicator Types</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" type="text/css" />
  </head>

  <body>
    <div id="root">
      <div class="container sample center">
        <igc-linear-progress value="100" variant="primary"></igc-linear-progress>
        <igc-linear-progress value="100" variant="success" striped></igc-linear-progress>
        <igc-linear-progress value="100" variant="danger"></igc-linear-progress>
        <igc-linear-progress value="100" variat="info" striped></igc-linear-progress>
        <igc-linear-progress value="100" variant="warning"></igc-linear-progress>
      </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>
