<html>
  <head>
    <title>DataGridColumnSummaries</title>
    <meta charset="UTF-8" />

    <style>
      html,
      body,
      #root {
        height: calc(100%);
        margin: 0px;
      }
    </style>
     <link rel="stylesheet" type="text/css" href="/src/index.css"  />
  </head>

  <body>
    <div id="root">

<div class="igContainer">
    <div class="igOptions">
        <span class="optionItem">Summary Scope:</span>
        <select class="optionItem" default-value="Root" id="onSummaryScopeChanging">
            <option>Root</option>
            <option>Groups</option>
            <option>Both</option>
            <option>None</option>
        </select>
        <span class="optionItem" >Group Summary Display Mode:</span>
        <select class="optionItem"  default-value="RowBottom" id="onGroupSummaryDisplayModeChanging">
            <option>List</option>
            <option>Cells</option>
            <option>RowTop</option>
            <option>RowBottom</option>
            <option>None</option>
        </select>
    </div>
    <igc-data-grid
        id="grid"
        height="calc(100% - 35px)"
        width="100%"
        summary-scope="Root"
        group-summary-display-mode="RowTop"
        auto-generate-columns="false"
        is-group-collapsable="true"
        group-header-display-mode="combined"
        is-column-options-enabled="true"
        default-column-min-width="100"
        >
            <igc-numeric-column field="ProductID" header-text="ID" horizontal-alignment="center" ></igc-numeric-column>
            <igc-text-column field="ProductName" header-text="Product" width="*>160"></igc-text-column>
            <igc-numeric-column positive-prefix="$" field="BundlePrice" show-grouping-separator="true" header-text="Price" ></igc-numeric-column>
            <igc-numeric-column field="OrderItems" header-text="Order Items" width="*>135"></igc-numeric-column>
            <igc-numeric-column field="OrderValue" show-grouping-separator="true" header-text="Order Totals" positive-prefix="$" width="*>195"></igc-numeric-column>
            <igc-date-time-column field="OrderDate" header-text="Order Date" horizontal-alignment="right" width="*>180"></igc-date-time-column>
            <igc-numeric-column field="Profit" show-grouping-separator="true" header-text="Profit" positive-prefix="$" width="*>165"></igc-numeric-column>
            <igc-text-column field="Countries" header-text="Country" width="*>115"></igc-text-column>
    </igc-data-grid>
</div>

    </div>
    <% if (false) { %>
    <!-- This area isn't needed for webpack, only parcel -->
    <script src="@webcomponents/custom-elements/src/native-shim.js"></script>
    <script src="src/index.ts"></script>
    <% } %>
  </body>
</html>