<html>
  <head>
    <title>DataChartTypeFinancialIndicatorColumn</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="container" style="height: calc(50% - 2.5rem)">
        <igc-data-chart id="chart1"
            width="100%"
            height="100%"
            is-horizontal-zoom-enabled="true"
            is-vertical-zoom-enabled="true">

            <igc-category-x-axis name="xAxis1" label="Label">
            </igc-category-x-axis>
            <igc-numeric-y-axis name="yAxis1" label-location="OutsideLeft" title="Financial Prices">
            </igc-numeric-y-axis>

            <igc-financial-price-series
                name="series1"
                x-axis-name="xAxis1"
                y-axis-name="yAxis1"
                display-type="Candlestick"
                high-member-path="High"
                low-member-path="Low"
                close-member-path="Close"
                open-member-path="Open"
                volume-member-path="Volume">
            </igc-financial-price-series>
        </igc-data-chart>
    </div>
    <div class="options horizontal">
        <span class="options-label"> Indicator Display Type: </span>
        <select id="indicatorSelect">
            <option>AbsoluteVolumeOscillator</option>
            <option>AccumulationDistribution</option>
            <option>AverageDirectionalIndex</option>
            <option>AverageTrueRange</option>
            <option>BollingerBandWidth</option>
            <option>ChaikinVolatility</option>
            <option>ChaikinOscillator</option>
            <option>CommodityChannelIndex</option>
            <option>DetrendedPriceOscillator</option>
            <option>EaseOfMovement</option>
            <option>FastStochasticOscillator</option>
            <option>ForceIndex</option>
            <option>FullStochasticOscillator</option>
            <option>MarketFacilitationIndex</option>
            <option>MassIndex</option>
            <option>MedianPrice</option>
            <option>MoneyFlowIndex</option>
            <option>MovingAverageConvergenceDivergence</option>
            <option>NegativeVolumeIndex</option>
            <option>OnBalanceVolume</option>
            <option>PercentagePriceOscillator</option>
            <option>PercentageVolumeOscillator</option>
            <option>PositiveVolumeIndex</option>
            <option>PriceVolumeTrend</option>
            <option>RateOfChangeAndMomentum</option>
            <option>RelativeStrengthIndex</option>
            <option>SlowStochasticOscillator</option>
            <option>StandardDeviation</option>
            <option>StochRSI</option>
            <option>TRIX</option>
        </select>
    </div>

    <div class="container" style="height: calc(50% - 2.5rem)">
        <igc-data-chart id="chart2"
            width="100%"
            height="100%"
            is-horizontal-zoom-enabled="true"
            is-vertical-zoom-enabled="true">

            <igc-category-x-axis name="xAxis2" label="Label">
            </igc-category-x-axis>
            <igc-numeric-y-axis name="yAxis2" label-location="OutsideLeft" title="Indicators">
            </igc-numeric-y-axis>
        </igc-data-chart>
    </div>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>