<!DOCTYPE html>
<html>
  <head>
    <title>Date Time Input Overview</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browser/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v5.css" type="text/css" />
  </head>

  <body>
    <div id="root">
      <div class="container sample center">
        <igc-date-time-input id="dateTimeInput">
          <igc-icon name="clear" slot="prefix" onclick="dateTimeInput.clear()"></igc-icon>
          <igc-icon name="up" slot="suffix" onclick="dateTimeInput.stepUp()"></igc-icon>
          <igc-icon name="down" slot="suffix" onclick="dateTimeInput.stepDown()"></igc-icon>
        </igc-date-time-input>
      </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>
