<!DOCTYPE html>
<html>
  <head>
    <title>ExcelLibraryWorksheets</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <button class="options-label" id="saveBtn" onClick={this.exportData}>Save Workbook</button>
    <label class="options-label"><input id="isSorted" type="checkbox"></input>Apply Sort</label>
    <label class="options-label"><input id="isFiltered" type="checkbox"></input>Apply Filter</label>
    <label class="options-label"><input id="isProtected" type="checkbox"></input>Protect Worksheet</label>
    <label class="options-label"><input id="showGridlines" type="checkbox"></input>Show Gridlines</label>
    <label class="options-label"><input id="showHeaders" type="checkbox"></input>Show Row and Column Headers</label>
    <label class="options-label"><input id="applyFormat" type="checkbox"></input>Apply Conditional Formatting</label>

</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>