/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

igc-icon {
    --ig-size: var(--ig-size-small);
}

igc-icon-button {
    --ig-size: var(--ig-size-small);
}