<!DOCTYPE html>
<html>
  <head>
    <title>Tailwind Styling</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v6.css" type="text/css" />
    <link rel="stylesheet" href="./src/index.css">
  </head>

  <body>
    <div id="root">
      <main class="text-base grid surface-500 px-6 py-6">
        <div class="font-ig place-content-center text-center shadow-elevation-8 py-8">
          <p class="type-style-body-1 text-primary-600">404</p>
          <h1 class="type-style-h1 text-gray-900">Page not found</h1>
          <p class="type-style-body-1 text-gray-500">Sorry, we couldn’t find the page you’re looking for.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="#" class="type-style-button rounded-md bg-primary-500 text-primary-500-contrast px-3.5 py-2.5 shadow-elevation-2 hover:bg-primary-600 transition duration-150 ease-in-out">Go back home</a>
            <a href="#" class="type-style-button text-gray-900 hover:text-primary-600 transition duration-150 ease-in-out">Contact support <span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>
      </main>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>
