<!DOCTYPE html>
<html>
  <head>
    <title>Grid Lite Custom Styling | Ignite UI | Web Components</title>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" />
  </head>

  <body>
    <div id="root">
      <div class="container sample ig-typography">
        <div class="options">
          <label class="options-label">Theme:</label>
          <igc-select id="theme-select">
            <igc-select-item value="bootstrap-light" selected>
              Light Bootstrap
            </igc-select-item>
            <igc-select-item value="material-light">
              Light Material
            </igc-select-item>
            <igc-select-item value="fluent-light">
              Light Fluent
            </igc-select-item>
            <igc-select-item value="indigo-light">
              Light Indigo
            </igc-select-item>
            <igc-select-item value="bootstrap-dark">
              Dark Bootstrap
            </igc-select-item>
            <igc-select-item value="material-dark">
              Dark Material
            </igc-select-item>
            <igc-select-item value="fluent-dark">
              Dark Fluent
            </igc-select-item>
            <igc-select-item value="indigo-dark">
              Dark Indigo
            </igc-select-item>
          </igc-select>
        </div>
        
        <div class="grid-lite-wrapper" id="grid-lite"></div>

      </div>
    </div>
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>