<!DOCTYPE html>
<html>
  <head>
    <title>DataChartLegends</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browser/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options vertical">
        <label class="legend-title">Energy Source </label>
        <igc-legend id="legend" orientation="Horizontal"></igc-legend>
    </div>

    <div class="container" style="height: calc(100% - 3rem)">
    <igc-data-chart id="chart" width="100%" height="100%"
    is-horizontal-zoom-enabled="true"
    is-vertical-zoom-enabled="true">
        <igc-category-x-axis name="xAxis" label="Country">
        </igc-category-x-axis>
        <igc-numeric-y-axis name="yAxis" minimum-value="0"
            abbreviate-large-numbers="true">
        </igc-numeric-y-axis>

        <igc-column-series name="series1" title="Coal" x-axis-name="xAxis"
            y-axis-name="yAxis" value-member-path="Coal">
        </igc-column-series>
        <igc-column-series name="series2" title="Hydro" x-axis-name="xAxis"
            y-axis-name="yAxis" value-member-path="Hydro">
        </igc-column-series>
        <igc-column-series name="series3" title="Nuclear" x-axis-name="xAxis"
            y-axis-name="yAxis" value-member-path="Nuclear">
        </igc-column-series>
        <igc-column-series name="series4" title="Gas" x-axis-name="xAxis"
            y-axis-name="yAxis" value-member-path="Gas">
        </igc-column-series>
        <igc-column-series name="series5" title="Oil" x-axis-name="xAxis"
            y-axis-name="yAxis" value-member-path="Oil">
        </igc-column-series>

    </igc-data-chart>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>