<html>
  <head>
    <title>DataChartTypeScatterAreaSeries</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="container vertical">
        <igc-data-chart
            id="chart"
            width="100%"
            height="100%"
            grid-mode="BeforeSeries"
            subtitle="Distribution of Magnetic Field"
            subtitle-top-margin="10"
            is-horizontal-zoom-enabled="false"
            is-vertical-zoom-enabled="false">
            <igc-numeric-x-axis
                name="xAxis"
                title-bottom-margin="10"
                title="Longitude"
                minimum-value="-180"
                maximum-value="180"></igc-numeric-x-axis>
            <igc-numeric-y-axis
                name="yAxis"
                title-left-margin="10"
                title="Latitude"
                minimum-value="-90"
                maximum-value="90"></igc-numeric-y-axis>
            <igc-scatter-area-series
                id="series"
                x-axis-name="xAxis"
                y-axis-name="yAxis"
                x-member-path="X"
                y-member-path="Y"
                color-member-path="Z"
                show-default-tooltip="true">
            </igc-scatter-area-series>
        </igc-data-chart>
    </div>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>