<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <base href="/webcomponents-demos/">

  <link rel="stylesheet"    href="https://fonts.googleapis.com/css?family=Berkshire+Swash">
  <link rel="stylesheet"    href="https://fonts.googleapis.com/css?family=Kanit&display=swap" >
  <link rel="stylesheet"    href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet"    href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
  <link rel="stylesheet"    href="https://dl.infragistics.com/x/css/samples/custom-legend.css" type="text/css" />
  <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >

  <!-- <link href="<%= htmlWebpackPlugin.options.publicPath %>assets/css/index.css" rel="stylesheet" /> -->
  <link href="<%= htmlWebpackPlugin.options.publicPath %>assets/css/browser.css" rel="stylesheet" />

</head>
<!-- class="nav-bar-expanded"> -->
<body>
  <div id="nav-bar" >
    <div class="nav-content"  >

        <!-- <div class="nav-logo">
          <img src="https://dl.infragistics.com/x/img/browsers/wc.png" width="20px" height="20px">
          <div >SAMPLES BROWSER</div>
        </div> -->

<!-- {AutoInsertSampleLinks} -->

    </div>
  </div>

  <div id="router-target" class="with-nav-bar">
  </div>

</body>
</html>