<html>
  <head>
    <title>StepLineStyling</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
  <div class="options horizontal">
    <span id="legend-title" >Renewable Electricity Generated: </span>
    <igc-legend id="legend" orientation="Horizontal" ></igc-legend >
  </div>

    <igc-category-chart id="chart"
        width="100%"
        height="calc(100% - 7rem)"
        chart-type="StepLine"
        y-axis-minimum-value="0"
        y-axis-title="TWh"
        is-category-highlighting-enabled="true"
        is-series-highlighting-enabled="true"
        tool-tip-type="Category"
        is-transition-in-enabled="true">
    </igc-category-chart>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>