@import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";

/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

.sample {
    display: flex;
    justify-content: center;
    font-family: "Aktiv Grotesk", sans-serif;
}