<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample ig-typography">

    <div class="container fill">
        <igc-grid
        auto-generate="false"
        name="grid"
        id="grid"
        id="grid"
        allow-filtering="true"
        filter-mode="excelStyleFilter"
        locale="EN">
            <igc-column
            field="ProductName"
            header="Prod. Name"
            width="120px"
            sortable="true"
            has-summary="true"
            editable="true"
            resizable="true"
            data-type="string">
            </igc-column>
            <igc-column
            field="UnitPrice"
            header="Unit Price"
            width="120px"
            sortable="true"
            has-summary="true"
            editable="true"
            resizable="true"
            data-type="number"
            name="column1"
            id="column1">
            </igc-column>
            <igc-column
            field="OrderFullDate"
            header="Order Full Date"
            width="300px"
            sortable="true"
            has-summary="true"
            editable="true"
            resizable="true"
            data-type="dateTime"
            name="column2"
            id="column2">
            </igc-column>
            <igc-column
            field="OrderDate"
            header="Order Date"
            width="160px"
            sortable="true"
            has-summary="true"
            editable="true"
            resizable="true"
            data-type="date"
            name="column3"
            id="column3">
            </igc-column>
            <igc-column
            field="OrderDateDelay"
            header="Order Time"
            width="120px"
            sortable="true"
            has-summary="true"
            editable="true"
            resizable="true"
            data-type="time"
            name="column4"
            id="column4">
            </igc-column>
            <igc-column
            field="UnitsInStock"
            header="Stock Value"
            width="120px"
            sortable="true"
            has-summary="true"
            editable="true"
            resizable="true"
            data-type="currency"
            name="column5"
            id="column5">
            </igc-column>
            <igc-column
            field="UnitsOnOrder"
            header="% Change"
            width="120px"
            sortable="true"
            has-summary="true"
            editable="true"
            resizable="true"
            data-type="percent"
            name="column6"
            id="column6">
            </igc-column>
            <igc-column
            field="Discontinued"
            header="Discontinued"
            width="160px"
            sortable="true"
            has-summary="true"
            editable="true"
            resizable="true"
            data-type="boolean">
            </igc-column>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>