igc-file-input::part(label) {
    color: var(--ig-gray-600);
}

igc-file-input::part(suffix) {
    background: var(--ig-primary-700);
    color: var(--ig-primary-700-contrast);
}

igc-file-input::part(file-names) {
    --file-names-foreground: var(--ig-gray-400);
    --file-names-foreground--filled: var(--ig-gray-900);

    background: var(--ig-primary-50);
}

igc-file-input::part(file-selector-button) {
    --file-selector-button-foreground: var(--ig-primary-700-contrast);
    --file-selector-button-background: var(--ig-primary-700);
    --file-selector-button-foreground--focused: var(--ig-primary-900-contrast);
    --file-selector-button-background--focused: var(--ig-primary-900);
    --file-selector-button-foreground--filled: var(--ig-primary-700-contrast);
    --file-selector-button-background--filled: var(--ig-primary-700);
}