igc-file-input::part(file-names) {
    color: var(--ig-gray-400);
}

igc-file-input::part(file-selector-button),
igc-file-input::part(suffix) {
    --blackground: var(--ig-primary-700);
    --foreground: var(--ig-primary-700-contrast);

    /* Style the file selector button */
    --input-prefix-background: var(--blackground);
    --input-prefix-color: var(--foreground);

    /* Style the custom suffix */
    --input-suffix-background: var(--blackground);
    --input-suffix-color: var(--foreground);
}

igc-file-input::part(label) {
    color: var(--ig-gray-600);
}

