<!DOCTYPE html>
<html>

<head>
    <title>QR Code Styling</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png">
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />

</head>

<body>
    <div id="root">
        <div class="container sample">
            <igc-qr-code class="qr-blue" value="https://www.infragistics.com/products/ignite-ui-web-components"
                size="150" dot-style="rounded" square-style="rounded" error-level="H"></igc-qr-code>
            <igc-qr-code class="qr-orange" value="https://www.infragistics.com/products/ignite-ui-web-components"
                size="150" dot-style="rounded" square-style="rounded" error-level="H"></igc-qr-code>
            <igc-qr-code class="qr-green" value="https://www.infragistics.com/products/ignite-ui-web-components"
                size="150" dot-style="rounded" square-style="rounded" error-level="H"></igc-qr-code>
            <igc-qr-code class="qr-dark" value="https://www.infragistics.com/products/ignite-ui-web-components"
                size="150" dot-style="rounded" square-style="rounded" error-level="H"></igc-qr-code>
        </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %>
        <script src="src/index.ts"></script>
        <% } %>

</body>

</html>