<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
        <div class="options horizontal">
        <igc-property-editor-panel
        
        description-type="CategoryChart"
        is-horizontal="true"
        is-wrapping-enabled="true"
        name="propertyEditorPanel1"
        id ="propertyEditorPanel1">
            <igc-property-editor-property-description
            property-path="XAxisInverted"
            label="X Axis - Inverted"
            should-override-default-editor="true"
            primitive-value="True"
            name="XAxisInvertedEditor"
            id ="XAxisInvertedEditor">
            </igc-property-editor-property-description>
            <igc-property-editor-property-description
            property-path="YAxisInverted"
            label="Y Axis - Inverted"
            should-override-default-editor="true"
            primitive-value="True"
            name="YAxisInvertedEditor"
            id ="YAxisInvertedEditor">
            </igc-property-editor-property-description>
        </igc-property-editor-panel>
    </div>
    
        <div class="legend-title">
        Renewable Electricity Generated
    </div>
    
    
    <div class="container fill">
        <igc-category-chart
        chart-type="Line"
        y-axis-label-left-margin="0"
        y-axis-title-left-margin="10"
        y-axis-title-right-margin="5"
        y-axis-title="TWh"
        x-axis-inverted="true"
        y-axis-inverted="true"
        included-properties="year, europe"
        is-horizontal-zoom-enabled="false"
        is-vertical-zoom-enabled="false"
        computed-plot-area-margin-mode="Series"
        name="chart"
        id ="chart">
        </igc-category-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>