<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample ig-typography">

    <div class="container fill">
        <igc-hierarchical-grid
        auto-generate="false"
        name="hierarchicalGrid"
        id="hierarchicalGrid"
        id="hierarchicalGrid"
        primary-key="ID"
        moving="true"
        allow-filtering="true">
            <igc-column
            field="CustomerID"
            data-type="string"
            sortable="true"
            resizable="true">
            </igc-column>
            <igc-column-group
            header="General Information">
                <igc-column
                field="Company"
                data-type="string"
                sortable="true"
                resizable="true">
                </igc-column>
                <igc-column-group
                header="Personal Details">
                    <igc-column
                    field="ContactName"
                    data-type="string"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                    <igc-column
                    field="ContactTitle"
                    data-type="string"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                </igc-column-group>
            </igc-column-group>
            <igc-column-group
            header="Address Information">
                <igc-column-group
                header="Location">
                    <igc-column
                    field="Address"
                    data-type="string"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                    <igc-column
                    field="City"
                    data-type="string"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                    <igc-column
                    field="PostalCode"
                    data-type="string"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                    <igc-column
                    field="Country"
                    data-type="string"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                </igc-column-group>
                <igc-column-group
                header="Contact Information">
                    <igc-column
                    field="Phone"
                    data-type="string"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                    <igc-column
                    field="Fax"
                    data-type="string"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                </igc-column-group>
            </igc-column-group>
            <igc-row-island
            child-data-key="Orders"
            auto-generate="false">
                <igc-column-group
                header="Order Information">
                    <igc-column-group
                    header="Order Details">
                        <igc-column
                        field="OrderID"
                        data-type="number"
                        sortable="true"
                        resizable="true">
                        </igc-column>
                        <igc-column
                        field="EmployeeID"
                        data-type="number"
                        sortable="true"
                        resizable="true">
                        </igc-column>
                        <igc-column
                        field="OrderDate"
                        data-type="date"
                        sortable="true"
                        resizable="true">
                        </igc-column>
                        <igc-column
                        field="RequiredDate"
                        data-type="date"
                        sortable="true"
                        resizable="true">
                        </igc-column>
                    </igc-column-group>
                    <igc-column-group
                    header="General Shipping Information">
                        <igc-column
                        field="ShipDate"
                        data-type="date"
                        sortable="true"
                        resizable="true">
                        </igc-column>
                        <igc-column
                        field="ShipVia"
                        data-type="number"
                        sortable="true"
                        resizable="true">
                        </igc-column>
                        <igc-column
                        field="Freight"
                        data-type="number"
                        sortable="true"
                        resizable="true">
                        </igc-column>
                        <igc-column
                        field="ShipName"
                        data-type="string"
                        sortable="true"
                        resizable="true">
                        </igc-column>
                    </igc-column-group>
                    <igc-column-group
                    header="Shipping Locations">
                        <igc-column
                        field="ShipAddress"
                        data-type="string"
                        sortable="true"
                        resizable="true">
                        </igc-column>
                        <igc-column
                        field="ShipCity"
                        data-type="string"
                        sortable="true"
                        resizable="true">
                        </igc-column>
                        <igc-column
                        field="ShipPostalCode"
                        data-type="string"
                        sortable="true"
                        resizable="true">
                        </igc-column>
                        <igc-column
                        field="ShipCountry"
                        data-type="string"
                        sortable="true"
                        resizable="true">
                        </igc-column>
                    </igc-column-group>
                </igc-column-group>
                <igc-row-island
                child-data-key="OrderDetails"
                auto-generate="false">
                    <igc-column
                    field="ProductID"
                    data-type="number"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                    <igc-column
                    field="UnitPrice"
                    data-type="number"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                    <igc-column
                    field="Quantity"
                    data-type="number"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                    <igc-column
                    field="Discount"
                    data-type="number"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                </igc-row-island>
            </igc-row-island>
        </igc-hierarchical-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>