<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample ig-typography">

    <div class="container fill">
        <igc-grid
        auto-generate="false"
        id="grid"
        name="grid"
        id="grid"
        primary-key="ProductID"
        allow-filtering="true"
        filter-mode="excelStyleFilter">
            <igc-paginator
            per-page="10">
            </igc-paginator>
            <igc-column
            field="ProductName"
            header="Product Name"
            data-type="string"
            sortable="true"
            has-summary="true"
            editable="true"
            resizable="true">
            </igc-column>
            <igc-column
            field="UnitPrice"
            header="Unit Price"
            data-type="number"
            sortable="true"
            has-summary="true"
            editable="true"
            resizable="true">
            </igc-column>
            <igc-column
            field="UnitsInStock"
            header="Units in Stock"
            data-type="number"
            sortable="true"
            has-summary="true"
            editable="true"
            resizable="true">
            </igc-column>
            <igc-column
            field="OrderDate"
            header="Order Date"
            data-type="date"
            sortable="true"
            has-summary="true"
            editable="true"
            resizable="true">
            </igc-column>
            <igc-column
            field="Discontinued"
            header="Discontinued"
            data-type="boolean"
            sortable="true"
            has-summary="true"
            editable="true"
            name="column1"
            id="column1">
            </igc-column>
            <igc-column
            field="ReorderLevel"
            header="Reorder Level"
            data-type="number"
            sortable="true"
            has-summary="true"
            editable="true"
            filterable="true">
            </igc-column>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>