<!DOCTYPE html>
<html>
  <head>
    <title>Button Group Size</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
  </head>

  <body>
    <div id="root">
      <div class="button-group-size">
        <div class="button-group-size-item">
          <span>Small</span>
          <igc-button-group style="--ig-size: var(--ig-size-small)">
            <igc-toggle-button value="sofia">
              Sofia
              <igc-ripple></igc-ripple>
            </igc-toggle-button>
            <igc-toggle-button value="london">
              London
              <igc-ripple></igc-ripple>
            </igc-toggle-button>
            <igc-toggle-button value="new york">
              New York
              <igc-ripple></igc-ripple>
            </igc-toggle-button>
          </igc-button-group>
        </div>

        <div class="button-group-size-item">
          <span>Medium</span>
          <igc-button-group style="--ig-size: var(--ig-size-medium)">
            <igc-toggle-button value="sofia">
              Sofia
              <igc-ripple></igc-ripple>
            </igc-toggle-button>
            <igc-toggle-button value="london">
              London
              <igc-ripple></igc-ripple>
            </igc-toggle-button>
            <igc-toggle-button value="new york">
              New York
              <igc-ripple></igc-ripple>
            </igc-toggle-button>
          </igc-button-group>
        </div>

        <div class="button-group-size-item">
          <span>Large</span>
          <igc-button-group style="--ig-size: var(--ig-size-large)">
            <igc-toggle-button value="sofia">
              Sofia
              <igc-ripple></igc-ripple>
            </igc-toggle-button>
            <igc-toggle-button value="london">
              London
              <igc-ripple></igc-ripple>
            </igc-toggle-button>
            <igc-toggle-button value="new york">
              New York
              <igc-ripple></igc-ripple>
            </igc-toggle-button>
          </igc-button-group>
        </div>
      </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>
