<!DOCTYPE html>
<html>
  <head>
    <title>Combo Overview</title>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
    <link href="https://dl.infragistics.com/x/css/samples/custom-legend.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="root">
      <div class="container sample center">
        <igc-combo
          id='combo'
          value-key='id'
          display-key='name'
          value='["BG01"]'
        >
        </igc-combo>
      </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>
