<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample ig-typography">

    <div class="container fill">
        <igc-grid
        auto-generate="false"
        name="grid"
        id="grid"
        moving="true"
        display-density="compact"
        allow-filtering="true">
            <igc-grid-toolbar
            >
                <igc-grid-toolbar-actions
                >
                    <igc-grid-toolbar-hiding
                    >
                    </igc-grid-toolbar-hiding>
                    <igc-grid-toolbar-pinning
                    >
                    </igc-grid-toolbar-pinning>
                    <igc-grid-toolbar-exporter
                    export-csv="false"
                    export-excel="true"
                    name="gridToolbarExporter1"
                    id="gridToolbarExporter1">
                    </igc-grid-toolbar-exporter>
                </igc-grid-toolbar-actions>
            </igc-grid-toolbar>
            <igc-column
            name="ID"
            id="ID"
            field="ID"
            header="ID"
            resizable="true"
            filterable="false">
            </igc-column>
            <igc-column-group
            name="GeneralInformation"
            id="GeneralInformation"
            header="General Information"
            collapsible="true">
                <igc-column
                name="CompanyName"
                id="CompanyName"
                field="CompanyName"
                visible-when-collapsed="true">
                </igc-column>
                <igc-column-group
                name="PersonalDetails"
                id="PersonalDetails"
                header="Personal Details"
                collapsible="true"
                visible-when-collapsed="false">
                    <igc-column
                    name="ContactName"
                    id="ContactName"
                    field="ContactName">
                    </igc-column>
                    <igc-column
                    name="ContactTitle"
                    id="ContactTitle"
                    field="ContactTitle">
                    </igc-column>
                </igc-column-group>
            </igc-column-group>
            <igc-column-group
            name="AddressInformation"
            id="AddressInformation"
            header="Address Information">
                <igc-column-group
                name="Location"
                id="Location"
                header="Location"
                collapsible="true"
                visible-when-collapsed="true">
                    <igc-column
                    name="Country"
                    id="Country"
                    field="Country"
                    visible-when-collapsed="true"
                    hidden="true">
                    </igc-column>
                    <igc-column
                    name="Region"
                    id="Region"
                    field="Region"
                    visible-when-collapsed="false"
                    hidden="true">
                    </igc-column>
                    <igc-column
                    name="City"
                    id="City"
                    field="City"
                    visible-when-collapsed="false"
                    hidden="true">
                    </igc-column>
                    <igc-column
                    name="Address"
                    id="Address"
                    field="Address"
                    visible-when-collapsed="false"
                    hidden="true">
                    </igc-column>
                </igc-column-group>
                <igc-column-group
                name="ContactInformation"
                id="ContactInformation"
                header="Contact Information">
                    <igc-column
                    name="Phone"
                    id="Phone"
                    field="Phone">
                    </igc-column>
                    <igc-column
                    name="Fax"
                    id="Fax"
                    field="Fax">
                    </igc-column>
                    <igc-column
                    name="PostalCode"
                    id="PostalCode"
                    field="PostalCode">
                    </igc-column>
                </igc-column-group>
            </igc-column-group>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>