<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

    <div class="container fill">
        <igc-grid
        auto-generate="false"
        id="grid"
        primary-key="ProductID"
        row-editable="true"
        name="grid"
        id ="grid">
            <igc-action-strip
            >
                <igc-grid-editing-actions
                add-row="true">
                </igc-grid-editing-actions>
            </igc-action-strip>
            <igc-column
            field="ProductID"
            header="Product ID"
            hidden="true"
            data-type="number"
            name="ID"
            id ="ID">
            </igc-column>
            <igc-column
            name="ReorderLevel"
            id ="ReorderLevel"
            field="ReorderLevel"
            header="Reorder Level"
            data-type="number">
            </igc-column>
            <igc-column
            name="ProductName"
            id ="ProductName"
            field="ProductName"
            header="Product Name"
            data-type="string">
            </igc-column>
            <igc-column
            name="UnitsInStock"
            id ="UnitsInStock"
            field="UnitsInStock"
            header="Units In Stock"
            data-type="number">
            </igc-column>
            <igc-column
            name="UnitPrice"
            id ="UnitPrice"
            field="UnitPrice"
            header="Unit Price"
            data-type="number"
            sortable="true">
            </igc-column>
            <igc-column
            name="OrderDate"
            id ="OrderDate"
            field="OrderDate"
            header="Order Date"
            data-type="date">
            </igc-column>
            <igc-column
            name="Discontinued"
            id ="Discontinued"
            field="Discontinued"
            header="Discontinued"
            data-type="boolean">
            </igc-column>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>