igc-slider::part(thumb) {
  background: var(--ig-success-500);
}

igc-slider::part(thumb):focus {
  background: var(--ig-success-200);
  box-shadow: 0 0 0 2px var(--ig-success-200);
}

igc-slider::part(fill) {
  display: block;
  background: var(--ig-success-500);
}

igc-range-slider::part(thumb) {
  background: var(--ig-warn-600);
}

igc-range-slider::part(thumb):focus {
  background: var(--ig-warn-400);
  box-shadow: 0 0 0 2px var(--ig-warn-500);
}

igc-range-slider::part(track) {
  display: block;
  background: var(--ig-primary-800);
}

igc-range-slider::part(thumb-label-inner) {
  background: var(--ig-primary-800);
}
