<!DOCTYPE html>
<html>
  <head>
    <title>Select Group</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browser/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v6.css" type="text/css" />
  </head>

  <body>
    <div id="root">
      <div class="container sample center">
        <igc-select>
          <igc-select-group>
            <span slot="label">Europe</span>
            <igc-select-item>
              <igc-icon slot="prefix" name="place" collection="material"></igc-icon>
              Germany
              <span slot="suffix">DE</span>
            </igc-select-item>
            <igc-select-item>
              <igc-icon slot="prefix" name="place" collection="material"></igc-icon>
              France
              <span slot="suffix">FR</span>
            </igc-select-item>
            <igc-select-item>
              <igc-icon slot="prefix" name="place" collection="material"></igc-icon>
              Spain
              <span slot="suffix">ES</span>
            </igc-select-item>
          </igc-select-group>

          <igc-select-group disabled>
            <span slot="label">Asia</span>
            <igc-select-item>
              <igc-icon slot="prefix" name="place" collection="material"></igc-icon>
              China
              <span slot="suffix">CN</span>
            </igc-select-item>
            <igc-select-item>
              <igc-icon slot="prefix" name="place" collection="material"></igc-icon>
              Japan
              <span slot="suffix">JP</span>
            </igc-select-item>
            <igc-select-item>
              <igc-icon slot="prefix" name="place" collection="material"></igc-icon>
              India
              <span slot="suffix">IN</span>
            </igc-select-item>
            <igc-select-item>
              <igc-icon slot="prefix" name="place" collection="material"></igc-icon>
              Thailand
              <span slot="suffix">TH</span>
            </igc-select-item>
          </igc-select-group>
          
          <igc-select-group>
            <span slot="label">North America</span>
            <igc-select-item>
              <igc-icon slot="prefix" name="place" collection="material"></igc-icon>
              USA
              <span slot="suffix">US</span>
            </igc-select-item>
            <igc-select-item>
              <igc-icon slot="prefix" name="place" collection="material"></igc-icon>
              Canada
              <span slot="suffix">CA</span>
            </igc-select-item>
            <igc-select-item>
              <igc-icon slot="prefix" name="place" collection="material"></igc-icon>
              Mexico
              <span slot="suffix">MX</span>
            </igc-select-item>
          </igc-select-group>
        </igc-select>
      </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>
