<!DOCTYPE html>
<html>

<head>
  <title>Breadcrumbs Tailwind Styling</title>
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class='sample'>
      <nav aria-label="Breadcrumb">
        <igc-breadcrumbs
          separator="slash"
          class=" ![--ig-breadcrumb-text-color:var(--ig-primary-50)] ![--ig-breadcrumb-hover-text-color:var(--ig-primary-50)] ![--ig-breadcrumb-focus-text-color:var(--ig-primary-50)] ![--ig-breadcrumb-current-text-color:var(--ig-primary-200)] ![--ig-breadcrumb-separator-color:var(--ig-primary-200)] ![--ig-breadcrumb-focus-pressed-text-color:var(--ig-primary-50)] ![padding:0.5rem_1.125rem] ![background:#002146] ![border-radius:3.125rem]"
        >
          <igc-breadcrumb class="!light-qr-code"><a href="/">Home</a></igc-breadcrumb>
          <igc-breadcrumb><a href="/electronics">Electronics</a></igc-breadcrumb>
          <igc-breadcrumb><a href="/electronics/audio">Audio</a></igc-breadcrumb>
          <igc-breadcrumb><a href="/electronics/audio/headphones">Headphones</a></igc-breadcrumb>
          <igc-breadcrumb current><a href="/electronics/audio/headphones/sony-x">Sony X Wireless</a></igc-breadcrumb>
        </igc-breadcrumbs>
      </nav>
    </div>
  </div>

  <!-- This script is needed only for parcel and it will be excluded for webpack -->
  <% if (false) { %>
    <script src="src/index.ts"></script>
    <% } %>

</body>

</html>
