<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    
    <div class="legend-title">
        Where Online Shoppers Start Their Search
    </div>
    
    <div class="container fill">
        <igc-data-chart
        is-horizontal-zoom-enabled="false"
        is-vertical-zoom-enabled="false"
        name="Chart"
        id ="Chart">
            <igc-category-y-axis
            
            gap="0.75"
            is-inverted="true"
            label="shop"
            name="yAxis"
            id ="yAxis">
            </igc-category-y-axis>
            <igc-numeric-x-axis
            minimum-value="0"
            maximum-value="80"
            interval="20"
            label-format="{0}%"
            name="xAxis"
            id ="xAxis">
            </igc-numeric-x-axis>
            <igc-category-highlight-layer
            name="CategoryHighlightLayer"
            id ="CategoryHighlightLayer">
            </igc-category-highlight-layer>
            <igc-bar-series
            
            value-member-path="percent"
            is-transition-in-enabled="true"
            brush="rgba(134, 6, 138, 0.654901960784314)"
            outline="rgba(133, 6, 138, 1)"
            thickness="2"
            is-highlighting-enabled="true"
            area-fill-opacity="0.5"
            show-default-tooltip="true"
            name="BarSeries1"
            id ="BarSeries1">
            </igc-bar-series>
            <igc-callout-layer
            label-member-path="label"
            x-member-path="x"
            y-member-path="y"
            content-member-path="label"
            callout-text-color="rgba(133, 6, 138, 1)"
            callout-background="rgba(0, 0, 0, 0)"
            callout-leader-brush="rgba(0, 0, 0, 0)"
            name="CalloutLayer1"
            id ="CalloutLayer1">
            </igc-callout-layer>
            <igc-data-tool-tip-layer
            name="Tooltips"
            id ="Tooltips">
            </igc-data-tool-tip-layer>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>