<!DOCTYPE html>
<html>
  <head>
    <title>DataGridColumnAnimation</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options horizontal">
        <label class="options-label" style="width: 130px">Adding Animation: </label>
        <select id="addAnimationDropDown" class="options-label" style="width: 175px">
            <option>Auto</option>
            <option>None</option>
            <option>SlideFromLeft</option>
            <option>SlideFromRight</option>
            <option>SlideFromTop</option>
            <option>SlideFromBottom</option>
            <option>FadeIn</option>
            <option>SlideFromLeftAndFadeIn</option>
            <option>SlideFromRightAndFadeIn</option>
            <option>SlideFromTopAndFadeIn</option>
            <option>SlideFromBottomAndFadeIn</option>
        </select>
        <span class="options-label" style="width: 130px">Exchange Animation: </span>
        <select id="exchangeAnimationDropDown" class="options-label" style="width: 175px">
            <option>Auto</option>
            <option>None</option>
            <option>SlideToLeft</option>
            <option>SlideToRight</option>
            <option>SlideToTop</option>
            <option>SlideToBottom</option>
            <option>Crossfade</option>
            <option>SlideToLeftAndCrossfade</option>
            <option>SlideToRightAndCrossfade</option>
            <option>SlideToTopAndCrossfade</option>
            <option>SlideToBottomAndCrossfade</option>
        </select>
    </div>
    <div class="options horizontal">
        <span class="options-label" style="width: 130px">Hiding Animation: </span>
        <select id="hidingAnimationDropDown" class="options-label" style="width: 175px">
            <option>Auto</option>
            <option>None</option>
            <option>SlideToLeft</option>
            <option>SlideToRight</option>
            <option>SlideToTop</option>
            <option>SlideToBottom</option>
            <option>FadeOut</option>
            <option>SlideToLeftAndFadeOut</option>
            <option>SlideToRightAndFadeOut</option>
            <option>SlideToTopAndFadeOut</option>
            <option>SlideToBottomAndFadeOut</option>
        </select>
        <span class="options-label" style="width: 130px">Updating Animation: </span>
        <select id="updatingAnimationDropDown" class="options-label" style="width: 175px" >
            <option>Auto</option>
            <option>None</option>
            <option>Interpolate</option>
            <option>InterpolateDeep</option>
        </select>
    </div>
    <div class="options horizontal">
        <span class="options-label" style="width: 130px">Moving Animation: </span>
        <select id="movingAnimationDropDown" class="options-label" style="width: 175px">
            <option>Auto</option>
            <option>None</option>
            <option>SlideOver</option>
        </select>
        <button id="hideColumnBtnClick" class="options-label" style="width: 100px">Hide Column</button>
        <button id="showColumnBtnClick" class="options-label" style="width: 100px">Show Column</button>
        <button id="reloadGridBtnClick" class="options-label" style="width: 100px">Reload Grid</button>
    </div>

    <igc-data-grid
        id="grid"
        height="calc(100% - 6rem)"
        width="100%"
        default-column-min-width="100"
        column-adding-animation-mode="Auto"
        column-showing-animation-mode="Auto"
        column-exchanging-animation-mode="Auto"
        column-hiding-animation-mode="Auto"
        column-moving-animation-mode="Auto"
        column-property-updating-animation-mode="Auto"
        is-column-options-enabled="true"
        auto-generate-columns="false" >

        <igc-text-column field="Name" width="*>150"></igc-text-column>
        <igc-text-column field="Street" header-text="Address" width="*>165" ></igc-text-column>
        <igc-text-column field="City" width="*>140" ></igc-text-column>
        <igc-numeric-column field="Salary" positive-prefix="$" show-grouping-separator="true" width="*>140" ></igc-numeric-column>
        <igc-date-time-column field="Birthday" ></igc-date-time-column>

    </igc-data-grid>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>