/* shared styles are loaded from: */
/* https://static.infragistics.com/xplatform/css/samples */
.controls {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    border: 1px solid hsl(var(--ig-gray-300));
    justify-items: center;
    justify-content: center;
}

igc-icon {
    --size: 3rem;
    color: hsl(var(--ig-gray-600));
}
    
igc-icon[name="control"] {
    position: relative;
    --size: 4rem;
    cursor: pointer;
    color: hsl(var(--ig-gray-800));
    z-index: 0;

    &::after {
        position: absolute;
        content: '';
        inset: 0;
        background: hsl(var(--ig-warn-500));
        border-radius: 50%;
        animation: pulse 1.25s ease-in-out infinite both;
        z-index: -1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(.5);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: .5;
    }

    100% {
        transform: scale(.5);
        opacity: 0;
    }
}
