<!DOCTYPE html>
<html>
  <head>
    <title>Grid Lite Sorting Pipeline | Ignite UI | Web Components</title>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browser/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" />
  </head>

  <body>
    <div id="root">
      <div class="container sample ig-typography">
        <div class="grid-lite-wrapper">
          <div>
            <h5>Generated request</h5>
            <p id="queryString"><code></code></p>
          </div>
          <section class="grid-section">
            <igc-circular-progress id="progress" indeterminate></igc-circular-progress>
            <igc-grid-lite id="grid-lite"></igc-grid-lite>
          </section>
        </div>
      </div>
    </div>
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>