<!DOCTYPE html>
<html>

<head>
  <title>Default Chip</title>
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class="container sample center" style="flex-direction: row; gap: 8px">
      <igc-chip selectable removable>
        <igc-icon slot="select" name="custom-select"></igc-icon>
        Custom Icons
        <igc-icon slot="remove" name="custom-remove"></igc-icon>
      </igc-chip>
      <igc-chip removable>
        <igc-icon slot="start" name="brush"></igc-icon>
        Start Slot
      </igc-chip>
      <igc-chip selectable>
        End Slot
        <igc-icon slot="end" name="brick-wall"></igc-icon>
      </igc-chip>
      <igc-chip disabled>
        Disabled Chip
        <igc-icon slot="end" name="dog-icon"></igc-icon>
      </igc-chip>
    </div>
  </div>

  <!-- This script is needed only for parcel and it will be excluded for webpack -->
  <% if (false) { %>
    <script src="src/index.ts"></script>
    <% } %>

</body>

</html>