<!DOCTYPE html>
<html>

<head>
  <title>Badge Variants</title>
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class="badge-variants">
      <div class="variant-item">
        <div class="avatar-wrapper">
          <igc-avatar shape="circle">
            <igc-icon name="notifications" collection="material"></igc-icon>
          </igc-avatar>
          <igc-badge outlined variant="primary">2</igc-badge>
        </div>
        <span>Primary</span>
      </div>
      <div class="variant-item">
        <div class="avatar-wrapper">
          <igc-avatar initials="AZ" shape="circle"></igc-avatar>
          <igc-badge outlined variant="info">
            <igc-icon name="check" collection="material"></igc-icon>
          </igc-badge>
        </div>
        <span>Info</span>
      </div>
      <div class="variant-item">
        <div class="avatar-wrapper">
          <igc-avatar src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png" shape="circle"></igc-avatar>
          <igc-badge outlined variant="success">
            <igc-icon name="check" collection="material"></igc-icon>
          </igc-badge>
        </div>
        <span>Success</span>
      </div>
      <div class="variant-item">
        <div class="avatar-wrapper">
          <igc-avatar shape="circle">
            <igc-icon name="mail" collection="material"></igc-icon>
          </igc-avatar>
          <igc-badge outlined variant="warning">2</igc-badge>
        </div>
        <span>Warn</span>
      </div>
      <div class="variant-item">
        <div class="avatar-wrapper">
          <igc-avatar src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png" shape="circle"></igc-avatar>
          <igc-badge outlined variant="danger">
            <igc-icon name="close" collection="material"></igc-icon>
          </igc-badge>
        </div>
        <span>Error</span>
      </div>
    </div>
  </div>

  <!-- This script is needed only for parcel and it will be excluded for webpack -->
  <% if (false) { %>
    <script src="src/index.ts"></script>
    <% } %>

</body>

</html>
