<!DOCTYPE html>
<html>

<head>
  <title>Badge Styling</title>
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class="badge-styling">
      <div class="styling-item green">
        <igc-avatar shape="circle">
          <igc-icon name="person" collection="material"></igc-icon>
        </igc-avatar>
        <igc-badge outlined class="badge-teal">
          <igc-icon name="photo_camera" collection="material"></igc-icon>
        </igc-badge>
      </div>
      <div class="styling-item">
        <igc-avatar src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png" shape="circle"></igc-avatar>
        <igc-badge outlined class="badge-amber">
          <igc-icon name="star_border" collection="material"></igc-icon>
        </igc-badge>
      </div>
      <div class="styling-item pink">
        <igc-avatar shape="circle">
          <igc-icon name="favorite_border" collection="material"></igc-icon>
        </igc-avatar>
        <igc-badge outlined class="badge-magenta">2</igc-badge>
      </div>
      <div class="styling-item">
        <igc-avatar src="https://dl.infragistics.com/x/img/avatars/avatar6.png" shape="rounded"></igc-avatar>
        <igc-badge dot outlined class="badge-lime"></igc-badge>
      </div>
    </div>
  </div>

  <!-- This script is needed only for parcel and it will be excluded for webpack -->
  <% if (false) { %>
    <script src="src/index.ts"></script>
    <% } %>

</body>

</html>
