<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

    <div class="legend-title">
        Renewable Electricity Generated
    </div>

    <div class="legend">
        <igc-legend
        name="legend"
        id="legend"
        orientation="Horizontal">
        </igc-legend>
    </div>

    <div class="container fill">
        <igc-category-chart
        name="chart"
        id="chart"
        included-properties="year, europe, china, america"
        chart-type="Line"
        is-horizontal-zoom-enabled="false"
        is-vertical-zoom-enabled="false"
        computed-plot-area-margin-mode="Series"
        x-axis-title="Year"
        x-axis-title-text-color="gray"
        x-axis-title-text-style="10pt 'Titillium Web'"
        x-axis-title-angle="0"
        y-axis-title="Trillions of Watt-hours (Twh)"
        y-axis-title-text-color="gray"
        y-axis-title-text-style="10pt 'Titillium Web'"
        y-axis-title-angle="90"
        y-axis-title-left-margin="5">
        </igc-category-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>