<!DOCTYPE html>
<html>
  <head>
    <title>DataChartSeriesTooltips</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options horizontal">
        <span class="options-label">Tooltip Type: </span>
        <select id="tooltipSelect">
            <option>Default</option>
            <option>Item</option>
            <option>Category</option>
            <option>Custom</option>
        </select>
    </div>
    <div class="container" style="height: calc(100% - 3rem)">
        <igc-data-chart id="chart" width="100%" height="100%"
            chart-title="Renewable Energy Production by Source"
            subtitle="Renewable Energy Production by Source"
            is-horizontal-zoom-enabled="true"
            is-vertical-zoom-enabled="true">

            <igc-category-x-axis name="xAxis" label="Country"></igc-category-x-axis>
            <igc-numeric-y-axis name="yAxis" minimum-value="0" title="Billions (kWh)"></igc-numeric-y-axis>

            <igc-column-series name="series1" id="seriesSolar" title="Solar"
                x-axis-name="xAxis"
                y-axis-name="yAxis"
                value-member-path="Solar"
                show-default-tooltip="true">
            </igc-column-series>
            <igc-column-series name="series2" id="seriesHydro" title="Hydro"
                x-axis-name="xAxis"
                y-axis-name="yAxis"
                value-member-path="Hydro"
                show-default-tooltip="true">
            </igc-column-series>
            <igc-column-series name="series3" id="seriesWind" title="Wind"
                x-axis-name="xAxis"
                y-axis-name="yAxis" value-member-path="Wind"
                show-default-tooltip="true">
            </igc-column-series>

            </igc-column-series>
        </igc-data-chart>
    </div>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>