<html>
  <head>
    <title>SparklineDisplayTypes</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
  <label class="options-label">Sparkline with Line Display Type</label>
  <igc-sparkline id="chart1"
      height="calc(25% - 2.5rem)"
      width="100%"
      display-type="Line"
      minimum="-1"
      maximum="1"
      value-member-path="Value"
      label-member-path="Angle">
  </igc-sparkline>
  <label class="options-label">Sparkline with Area Display Type</label>
  <igc-sparkline id="chart2"
      height="calc(25% - 2.5rem)"
       width="100%"
       display-type="Area"
       minimum="-1" maximum="1"
       value-member-path="Value"
       label-member-path="Angle">
  </igc-sparkline>
  <label class="options-label">Sparkline with Column Display Type</label>
  <igc-sparkline id="chart3"
      height="calc(25% - 2.5rem)"
      width="100%"
      display-type="Column"
      minimum="-1"
      maximum="1"
      value-member-path="Value"
      label-member-path="Angle">
  </igc-sparkline>
  <label class="options-label">Sparkline with WinLoss Display Type</label>
  <igc-sparkline id="chart4"
      height="calc(25% - 2.5rem)"
      width="100%"
      display-type="WinLoss"
      minimum="-1" maximum="1"
      value-member-path="Value"
      label-member-path="Angle">
   </igc-sparkline>

</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>
