<html>
  <head>
    <title>DataGridRowPinning</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

    <igc-data-grid
        id="grid"
        height="100%"
        width="100%"
        is-column-options-enabled="true"
        auto-generate-columns="false">

        <igc-image-column field="Photo" content-opacity="1" horizontal-alignment="center" width="*>105" ></igc-image-column>
        <igc-text-column field="FirstName" header-text="First Name" width="*>130" ></igc-text-column>
        <igc-text-column field="LastName" header-text="Last Name" width="*>135"></igc-text-column>
        <igc-text-column field="City" width="*>125"></igc-text-column>
        <igc-text-column field="Country" width="*>120"></igc-text-column>
        <igc-numeric-column field="Sales" width="*>120" positive-prefix="$" show-grouping-separator="true"></igc-numeric-column>
        <igc-numeric-column field="Age" width="*>90"></igc-numeric-column>
        <igc-date-time-column field="Birthday" header-text="Date of Birth" horizontal-alignment="right" width="*>145"></igc-date-time-column>
    </igc-data-grid>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>