
.igAspectContainer {
  overflow: hidden;
  /* background-color: red; */
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  width: 100%;
}

.igAspectComponent {
  /* background-color: blueviolet; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.legend {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5rem;
  justify-content: center;
}

.legend span {
  height: 0.75rem;
  width: 0.75rem;
  background: white;
  border-color: black;
  border-width: thin;
  border-style: solid;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  margin-left: 1.0rem;
}

.legend div {
  display: flex;
  flex-direction: row;
}

.legend label {
  white-space: nowrap;
  font-size: 8pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}