<!DOCTYPE html>
<html>
  <head>
    <title>Tabs Alignment</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browser/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v6.css" type="text/css" />
  </head>

  <body>
    <div id="root">
      <div class="container sample center">
        <igc-radio-group id="radio-group" alignment="horizontal">
          <igc-radio name="alignment" value="start" label-position="after" checked>Start</igc-radio>
          <igc-radio name="alignment" value="center" label-position="after">Center</igc-radio>
          <igc-radio name="alignment" value="end" label-position="after">End</igc-radio>
          <igc-radio name="alignment" value="justify" label-position="after">Justify</igc-radio>
        </igc-radio-group>

        <igc-tabs id="tabs">
          <igc-tab>
            <div slot="label">Basics</div>
            <p>Basics tab panel</p>
          </igc-tab>
          <igc-tab>
            <div slot="label">Details</div>
            <p>Details tab panel</p>
          </igc-tab>
          <igc-tab>
            <div slot="label">Custom</div>
            <p>Custom tab panel</p>
          </igc-tab>
          <igc-tab disabled>
            <div slot="label">Disabled</div>
            <p>Disabled tab panel won't be displayed</p>
          </igc-tab>
        </igc-tabs>
      </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>
