<html>
  <head>
    <title>NavbarStyling</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" type="text/css" />
  </head>

  <body>
    <div id="root">

<div class="container sample">
  <igc-navbar style="height:40px">
    <igc-icon name="home" slot="start" size="large"></igc-icon>
    <h2>SAMPLE APP</h2>
    <igc-icon name="search" slot="end" size="large"></igc-icon>
    <igc-icon name="favorite" slot="end" size="large"></igc-icon>
    <igc-icon name="more_vert" slot="end" size="large"></igc-icon>
  </igc-navbar>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>