<html>
  <head>
    <title>RadialGaugeTypeRing</title>
    <meta charset="UTF-8" />

    <style>
      html,
      body,
      #root {
        height: calc(100%);
        margin: 0px;
      }
    </style>
     <link rel="stylesheet" type="text/css" href="/src/index.css"  />
  </head>

  <body>
    <div id="root">
        
<div class="sampleOverlays">
    <div class="sampleOverlayItem">
        <igc-radial-gauge
            id="gauge"
            height="100%"
            width="100%"  >
        </igc-radial-gauge>
    </div>

</div>
    </div>
    <% if (false) { %>
    <!-- This area isn't needed for webpack, only parcel -->
    <script src="@webcomponents/custom-elements/src/native-shim.js"></script>
    <script src="src/index.ts"></script>
    <% } %>
  </body>
</html>