.button-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#radio-group {
    display: flex;
    width: 30%;
    margin: 0 auto;
    justify-content: space-evenly;
}