<!DOCTYPE html>
<html>

<head>
  <title>Tile Manager Resize</title>
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class="container sample center">
      <div class="inputWrapper">
        <igc-radio-group id="resize" alignment="horizontal">
          <igc-radio name="resize" value="Always" checked>Always</igc-radio>
          <igc-radio name="resize" value="Hover">Hover</igc-radio>
          <igc-radio name="resize" value="None">None</igc-radio>
        </igc-radio-group>
        <igc-input label="Minimum Column Width" placeholder="200px" type='string'></igc-input>
        <igc-input label="Minimum Row Height" placeholder="200px" type='string'></igc-input>
      </div>
      <igc-tile-manager resize-mode="always" gap="20px">
        <igc-tile>
          <span slot="title">Tile 1 header</span>
          <p>Content for Tile 1</p>
        </igc-tile>
        <igc-tile>
          <span slot="title">Tile 2 header</span>
          <p>Content for Tile 2</p>
        </igc-tile>
        <igc-tile>
          <span slot="title">Tile 3 header</span>
          <p>Content for Tile 3</p>
        </igc-tile>
        <igc-tile>
          <span slot="title">Tile 4 header</span>
          <p>Content for Tile 4</p>
        </igc-tile>
      </igc-tile-manager>
    </div>
  </div>

  <!-- This script is needed only for parcel and it will be excluded for webpack -->
  <% if (false) { %>
    <script src="src/index.ts"></script>
    <% } %>

</body>

</html>