<html>
  <head>
    <title>DataChartTypeFinancialSeries</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options horizontal">
    <span class="options-label"> Series Display Type: </span>
    <select id="seriesSelect">
        <option>Candlestick</option>
        <option>OHLC</option>
    </select>
    <span class="options-label"> Indicator Display Type: </span>
    <select id="indicatorSelect">
        <option>Line</option>
        <option>Area</option>
        <option>Column</option>
    </select>
    </div>
    <div class="container" style="height: calc(100% - 3rem)">
        <igc-data-chart id="chart" width="100%" height="100%"
        is-horizontal-zoom-enabled="true"
        is-vertical-zoom-enabled="true">

            <igc-category-x-axis name="xAxis" label="Label">
            </igc-category-x-axis>
            <igc-numeric-y-axis  name="yAxis1" label-location="OutsideRight"
                title="Financial Prices">
            </igc-numeric-y-axis>
            <igc-numeric-y-axis  name="yAxis2" label-location="OutsideLeft"
                title="Indicator Values" major-stroke-thickness="0" maximum-value="800">
            </igc-numeric-y-axis>

            <igc-bollinger-bands-overlay
                name="series1"
                x-axis-name="xAxis"
                y-axis-name="yAxis1"
                high-member-path="High"
                low-member-path="Low"
                close-member-path="Close"
                open-member-path="Open"
                brush="rgba(171, 82, 235, 0.39)">
            </igc-bollinger-bands-overlay>

            <igc-financial-price-series
                id="series2"
                x-axis-name="xAxis"
                y-axis-name="yAxis1"
                high-member-path="High"
                low-member-path="Low"
                close-member-path="Close"
                open-member-path="Open"
                volume-member-path="Volume">
            </igc-financial-price-series>

            <igc-median-price-indicator
                id="series3"
                x-axis-name="xAxis"
                y-axis-name="yAxis2"
                high-member-path="High"
                low-member-path="Low"
                close-member-path="Close"
                open-member-path="Open"
                volume-member-path="Volume">
            </igc-median-price-indicator>
        </igc-data-chart>
    </div>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>