<!DOCTYPE html>
<html>

<head>
  <title>Radio Layout</title>
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class="sample radio-layout">
      <div class="radio-layout-item">
        <span>Label After</span>
        <igc-radio-group name="color-after">
          <igc-radio value="yellow" checked>Yellow</igc-radio>
          <igc-radio value="orange">Orange</igc-radio>
          <igc-radio value="purple">Purple</igc-radio>
        </igc-radio-group>
      </div>
      <div class="radio-layout-item">
        <igc-radio-group name="color-before">
          <igc-radio value="yellow" label-position="before" checked>Yellow</igc-radio>
          <igc-radio value="orange" label-position="before">Orange</igc-radio>
          <igc-radio value="purple" label-position="before">Purple</igc-radio>
        </igc-radio-group>
        <span>Label Before</span>
      </div>
    </div>
  </div>

  <!-- This script is needed only for parcel and it will be excluded for webpack -->
  <% if (false) { %>
    <script src="src/index.ts"></script>
    <% } %>

</body>

</html>
