<!DOCTYPE html>
<html>

<head>
  <title>Badge Size</title>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class="sample center">
      <div class="badge-wrapper">
        <span>Large</span>
        <igc-badge class="size-large" variant="primary"></igc-badge>
      </div>
      <div class="badge-wrapper">
        <span>Medium</span>
        <igc-badge class="size-medium" variant="primary"></igc-badge>
      </div>
      <div class="badge-wrapper">
        <span>Small</span>
        <igc-badge class="size-small" variant="primary"></igc-badge>
      </div>
    </div>
  </div>

  <% if (false) { %>
    <script src="src/index.ts"></script>
  <% } %>
</body>

</html>
