<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options vertical">
        <igc-property-editor-panel

        description-type="CategoryChart"
        is-horizontal="true"
        is-wrapping-enabled="true"
        name="propertyEditorPanel1"
        id="propertyEditorPanel1">
            <igc-property-editor-property-description
            property-path="InitialGroups"
            name="InitialGroups"
            id="InitialGroups"
            label="Initial Groups"
            value-type="EnumValue"
            should-override-default-editor="true"
            drop-down-names="Country, Product, MonthName, Year"
            drop-down-values="Country, Product, MonthName, Year"
            primitive-value="Country">
            </igc-property-editor-property-description>
            <igc-property-editor-property-description
            property-path="InitialSummaries"
            name="InitialSummaries"
            id="InitialSummaries"
            label="Initial Summaries"
            value-type="EnumValue"
            should-override-default-editor="true"
            drop-down-names="Sum(Sales) as Sales, Avg(Sales) as Sales, Min(Sales) as Sales, Max(Sales) as Sales, Count(Sales) as Sales"
            drop-down-values="Sum(Sales) as Sales, Avg(Sales) as Sales, Min(Sales) as Sales, Max(Sales) as Sales, Count(Sales) as Sales"
            primitive-value="Sum(Sales) as Sales">
            </igc-property-editor-property-description>
            <igc-property-editor-property-description
            property-path="GroupSorts"
            name="GroupSorts"
            id="GroupSorts"
            label="Sort Groups"
            value-type="EnumValue"
            should-override-default-editor="true"
            drop-down-names="Sales Desc, Sales Asc"
            drop-down-values="Sales Desc, Sales Asc"
            primitive-value="Sales Desc">
            </igc-property-editor-property-description>
        </igc-property-editor-panel>
    </div>

    <div class="legend-title">
        Renewable Electricity Generated
    </div>

    <div class="container fill">
        <igc-category-chart
        name="chart"
        id="chart"
        chart-type="Column"
        is-horizontal-zoom-enabled="false"
        is-vertical-zoom-enabled="false"
        crosshairs-display-mode="None"
        initial-groups="Country"
        initial-summaries="Sum(Sales) as Sales"
        group-sorts="Sales Desc">
        </igc-category-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>