<!DOCTYPE html>
<html>
  <head>
    <title>Button Group Interaction States</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
  </head>

  <body>
    <div id="root">
      <div class="button-group-interaction-states">
        <div class="button-group-interaction-states-row">
          <span class="row-label"></span>
          <span class="column-label">Enabled</span>
          <span class="column-label">Disabled</span>
        </div>

        <div class="button-group-interaction-states-row">
          <span class="row-label">Selected / Off</span>
          <igc-button-group selection="multiple">
            <igc-toggle-button value="device">
              Device
              <igc-ripple></igc-ripple>
            </igc-toggle-button>
          </igc-button-group>
          <igc-button-group selection="multiple" disabled>
            <igc-toggle-button value="cloud">Cloud</igc-toggle-button>
          </igc-button-group>
        </div>

        <div class="button-group-interaction-states-row">
          <span class="row-label">Selected / On</span>
          <igc-button-group selection="multiple">
            <igc-toggle-button value="device" selected>
              Device
              <igc-ripple></igc-ripple>
            </igc-toggle-button>
          </igc-button-group>
          <igc-button-group selection="multiple" disabled>
            <igc-toggle-button value="cloud" selected>Cloud</igc-toggle-button>
          </igc-button-group>
        </div>
      </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>
