<html>
  <head>
    <title>FinancialChartHighFrequency</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" type="text/css" />

  </head>

  <body>
    <div id="root">
        <div class="container sample">
            <div class="options horizontal">
                <label class="options-label" style="width: 5rem;">Data Update:</label>
                <label class="options-value" id="refreshInfoLabel"></label>
                <input class="options-slider" id="refreshSlider" type="range" min="5" max="1000"></input>
                <button id="timerButton">Stop Data</button>
                <label class="options-label" id="fpsSpan"></label>
            </div>
            <div class="options horizontal">
                <label class="options-label" style="width: 5rem;">Data Points:</label>
                <label class="options-value" id="dataInfoLabel"></label>
                <input class="options-slider" id="dataPointsSlider" type="range"
                    min="10000" max="100000" step="1000">
                </input>
                <button id="genDataBtn">Generate Data</button>
                <label class="options-label">
                    <input id="scalingRatio" type="checkbox"></input>Optimize Scaling
                </label>
            </div>
            <div style="height: calc(100% - 3rem)">
                <igc-financial-chart id="chart" width="100%" height="100%"
                    chart-type="Line"
                    zoom-slider-type="None"
                    thickness="2">
                </igc-financial-chart>
            </div>
        </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>