<!DOCTYPE html>
<html>
    <head>
        <title>Sample | Ignite UI | Web Components | Infragistics</title>
        <meta charset="UTF-8" />

        <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
        <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
        <link rel="stylesheet" href="/src/index.css" type="text/css" />
    </head>

    <body>
        <div id="root">
            <div class="grid-wrapper">
                <div class="summaries">
                    <igc-dialog id="dialog" title="Disabled Summaries">
                        <div class="summaries-dialog-items">
                        </div>
                        <igc-button id="disableAllBtn" slot="footer" variant="flat">Disable All</igc-button>
                        <igc-button id="enableAllBtn" slot="footer" variant="flat">Enable All</igc-button>
                    </igc-dialog>
                </div>

                <igc-grid auto-generate="false" name="grid" id="grid" primary-key="ProductID">
                    <igc-column name="ProductID" id="productID" field="ProductID" has-summary="true"> </igc-column>
                    <igc-column name="ProductName" id="productName" field="ProductName" header="Product Name" has-summary="true"> </igc-column>
                    <igc-column name="UnitPrice" id="unitPrice" field="UnitPrice" header="Unit Price" has-summary="true" data-type="number"> </igc-column>
                    <igc-column name="UnitsInStock" id="unitsInStock" field="UnitsInStock" header="Units In Stock" has-summary="true" data-type="number"> </igc-column>
                    <igc-column name="Discontinued" id="discontinued" field="Discontinued" header="Discontinued" has-summary="true"> </igc-column>
                    <igc-column name="OrderDate" id="orderDate" field="OrderDate" header="Order Date" has-summary="true" data-type="date"> </igc-column>
                </igc-grid>
            </div>
        </div>

        <!-- This script is needed only for parcel and it will be excluded for webpack -->
        <% if (false) { %>
        <script src="src/index.ts"></script>
        <% } %>
    </body>
</html>
