<html>
  <head>
    <title>SparklineGrid</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <igc-data-grid id="grid"
        width="100%"
        height="100%"
        row-height="90"
        auto-generate-columns="false">
        <igc-text-column
            field="ProductID"
            header-text="ID"
            width="*>110"
            horizontal-alignment="Center">
        </igc-text-column>
        <igc-text-column
            field="ProductName"
            header-text="Product"
            width="*>140">
        </igc-text-column>
        <igc-numeric-column
            field="ProductPrice"
            header-text="Price"
            width="*>110"
            positive-prefix="$"
            show-grouping-separator="true"
            min-fraction-digits="2">
        </igc-numeric-column>
        <igc-template-column
            id="historyColumn"
            field="OrderHistory"
            header-text="Order History"
            width="*>180"
            padding-top="10"
            padding-bottom="10"
            horizontal-alignment="Center">
        </igc-template-column>
        <igc-numeric-column
            field="OrderCount"
            header-text="Orders"
            width="*>110"
            horizontal-alignment="Center">
        </igc-numeric-column>
        <igc-image-column
            field="CountryFlag"
            header-text="Country"
            width="*>120"
            is-editable="false"
            content-opacity="1"
            horizontal-alignment="Center"
            padding-top="10"
            padding-bottom="10">
        </igc-image-column>
        <igc-text-column
            field="Status"
            width="*>120"
            horizontal-alignment="Center">
        </igc-text-column>
    </igc-data-grid>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>