<html>
  <head>
    <title>RadialGaugeAnimation</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class ="container sample center">
    <div class="options horizontal">
        <button id="button1" class="options-button">Gauge Animation #1</button>
        <button id="button2" class="options-button">Gauge Animation #2</button>
        <button id="button3" class="options-button">Gauge Animation #3</button>
        <button id="button4" class="options-button">Gauge Animation #4</button>
    </div>

    <igc-radial-gauge
        id="gauge"
        transition-duration="1000"
        height="calc(100% - 3.5rem)"
        width="100%"
        value="25"
        interval="5"
        minimum-value="0"
        maximum-value="50"
        label-interval="5"
        label-extent="0.71"
        minor-tickCount="4"
        minor-tick-end-extent=".625"
        minor-tick-start-extent=".6"
        minor-tick-stroke-thickness="1"
        minor-tick-brush = "#79797a"
        tick-start-extent=".6"
        tick-end-extent=".65"
        tick-stroke-thickness="2"
        tick-brush="#79797a"
        needle-shape="Triangle"
        needle-end-width-ratio="0.03"
        needle-start-width-ratio="0.05"
        needle-pivot-shape="CircleOverlay"
        needle-pivot-width-ratio="0.15"
        needle-base-feature-width-ratio="0.15"
        needle-brush="#79797a"
        needle-outline="#79797a"
        needle-pivot-brush="#79797a"
        needle-pivot-outline="#79797a"
        is-needle-dragging-enabled="true"
        backing-brush="#fcfcfc"
        backing-outline="#d6d6d6"
        backing-stroke-thickness="5"
        scale-start-angle="120"
        scale-end-angle="60"
        scale-brush="#d6d6d6"
        range-brushes="#F86232, #DC3F76, #7446B9"
        range-outlines="#F86232, #DC3F76, #7446B9" >
    </igc-radial-gauge>

</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>