<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

    <div class="container fill">
        <igc-data-chart
        name="chart"
        id="chart"
        should-auto-expand-margin-for-initial-labels="true"
        computed-plot-area-margin-mode="Series"
        is-vertical-zoom-enabled="true"
        is-horizontal-zoom-enabled="true">
            <igc-category-x-axis
            name="xAxis"
            id="xAxis"
            label-location="OutsideBottom"
            label="month"
            interval="1"
            label-extent="30">
            </igc-category-x-axis>
            <igc-numeric-y-axis
            name="yAxis"
            id="yAxis"
            label-location="OutsideRight">
            </igc-numeric-y-axis>
            <igc-financial-price-series
            name="Series1"
            id="Series1"
            title="Stock Price"
            display-type="Candlestick"
            open-member-path="open"
            high-member-path="high"
            low-member-path="low"
            close-member-path="close"
            volume-member-path="volume"
            show-default-tooltip="true"
            trend-line-type="QuarticFit"
            trend-line-brush="dodgerblue"
            trend-line-dash-array="5, 5">
            </igc-financial-price-series>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>