<!DOCTYPE html>
<html>
    <head>
        <title>Icon Button Variants</title>
        <meta charset="UTF-8" />

        <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browser/wc.png" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
        <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
    </head>

    <body>
        <div id="root">
            <div class="sample">
                <igc-icon-button name="thumb-up" collection="material" variant="flat"></igc-icon-button>
                <igc-icon-button name="thumb-up" collection="material" variant="contained"></igc-icon-button>
                <igc-icon-button name="thumb-up" collection="material" variant="outlined"></igc-icon-button>
            </div>
        </div>
        <!-- This script is needed only for parcel and it will be excluded for webpack -->
        <% if (false) { %>
        <script src="src/index.ts"></script>
        <% } %>
    </body>
</html>
