<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
        <div class="options vertical">
        <igc-property-editor-panel
        
        description-type="WebGrid"
        is-horizontal="true"
        is-wrapping-enabled="true"
        name="PropertyEditor"
        id ="PropertyEditor">
            <igc-property-editor-property-description
            property-path="RowSelection"
            name="selectionType"
            id ="selectionType">
            </igc-property-editor-property-description>
        </igc-property-editor-panel>
    </div>
    
    
    
    <div class="container fill">
        <igc-grid
        auto-generate="false"
        id="grid"
        display-density="Cosy"
        name="grid"
        id ="grid">
            <igc-paginator
            per-page="15"
            select-options="5, 10, 15, 25, 50"
            name="paginator"
            id ="paginator"
            display-density="Cosy">
                <igc-paginator-resource-strings
                igx-_paginator-_label="Items per page">
                </igc-paginator-resource-strings>
            </igc-paginator>
            <igc-column
            field="ContactName"
            header="Name">
            </igc-column>
            <igc-column
            field="Country"
            header="Country">
            </igc-column>
            <igc-column
            field="City"
            header="City">
            </igc-column>
            <igc-column
            field="PostalCode"
            header="Postal Code">
            </igc-column>
            <igc-column
            field="CompanyName"
            header="Company">
            </igc-column>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>