<!DOCTYPE html>
<html>

<head>
  <title>Date Picker Inside A Form</title>
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v5.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class="container sample center">
      <form id="form">
        <igc-date-picker id="datePicker" required>
          <p slot="helper-text">Date</p>
        </igc-date-picker>
        <div>
          <igc-button id="submitButton" onclick="form.requestSubmit()">Submit</igc-button>
          <igc-button id="resetButton">Reset</igc-button>
        </div>
      </form>
      <p id="datePickerValue"></p>
      <p id="formStatus"></p>
    </div>
  </div>
  <!-- This script is needed only for parcel and it will be excluded for webpack -->
  <% if (false) { %>
    <script src="src/index.ts"></script>
    <% } %>

</body>

</html>