<html>
  <head>
    <title>DataGridBindingDataService</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <igc-data-grid
    id="grid"
    height="100%"
    width="100%"
    auto-generate-columns="false"
    default-column-min-width="110">

        <igc-text-column width="120" field="Category" ></igc-text-column>
        <igc-text-column width="140" field="Type" ></igc-text-column>
        <igc-text-column width="120" field="Contract" ></igc-text-column>
        <igc-text-column width="135"  field="Settlement" ></igc-text-column>
        <igc-text-column width="130" field="Region" ></igc-text-column>
        <igc-text-column width="140" field="Country" ></igc-text-column>

        <igc-numeric-column width="120" field="Open Price" header-text="Open" show-grouping-separator="true" positive-prefix="$" min-fraction-digits="2" max-fraction-digits="2" ></igc-numeric-column>
        <igc-numeric-column width="120" field="Price" header-text="Close" show-grouping-separator="true" positive-prefix="$" min-fraction-digits="2" max-fraction-digits="2"></igc-numeric-column>
        <igc-numeric-column width="110" field="Change"  min-fraction-digits="2" max-fraction-digits="2"></igc-numeric-column>
        <igc-numeric-column width="135" field="Change(%)" negative-suffix="%" positive-suffix="%" min-fraction-digits="2" max-fraction-digits="2"></igc-numeric-column>
        <igc-numeric-column width="90"  field="Buy" show-grouping-separator="true" positive-prefix="$"  min-fraction-digits="2" max-fraction-digits="2"></igc-numeric-column>
        <igc-numeric-column width="90"  field="Sell" show-grouping-separator="true" positive-prefix="$" min-fraction-digits="2" max-fraction-digits="2"></igc-numeric-column>
        <igc-numeric-column width="110" field="Spread" show-grouping-separator="true"  min-fraction-digits="2" max-fraction-digits="2"></igc-numeric-column>
        <igc-numeric-column width="110" field="Volume" show-grouping-separator="true"  min-fraction-digits="0" max-fraction-digits="0"></igc-numeric-column>
        <igc-numeric-column width="110" field="High(D)" show-grouping-separator="true" min-fraction-digits="2" max-fraction-digits="2" positive-prefix="$"></igc-numeric-column>
        <igc-numeric-column width="110" field="Low(D)" show-grouping-separator="true" min-fraction-digits="2" max-fraction-digits="2" positive-prefix="$"></igc-numeric-column>
        <igc-numeric-column width="110" field="High(Y)" show-grouping-separator="true" min-fraction-digits="2" max-fraction-digits="2" positive-prefix="$"></igc-numeric-column>
        <igc-numeric-column width="110" field="Low(Y)" show-grouping-separator="true" min-fraction-digits="2" max-fraction-digits="2" positive-prefix="$"></igc-numeric-column>
        <igc-numeric-column width="110" field="Start(Y)" show-grouping-separator="true" min-fraction-digits="2" max-fraction-digits="2" positive-prefix="$"></igc-numeric-column>

        <igc-date-time-column width="120" field="Maturity" horizontalAlignment="right" ></igc-date-time-column>
        <igc-text-column width="125" field="Currency" ></igc-text-column>
        <igc-text-column width="90" field="Risk" ></igc-text-column>
        <igc-text-column width="110" field="Sector" ></igc-text-column>
        <igc-text-column width="110" field="Security" ></igc-text-column>
        <igc-text-column width="150" field="Issuer" ></igc-text-column>

    </igc-data-grid>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>