<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">         
    <div class="container vertical">
      <div style="margin-bottom: 1rem">
        <igc-input id="searchBox" name="searchBox">          
          <igc-icon id="clearIcon" slot="prefix" name="clear" collection="material"></igc-icon>
          <div slot="suffix">
            <igc-chip selectable="true" id="caseSensitiveChip">Case Sensitive</igc-chip>
            <igc-chip selectable="true" id="exactMatchChip">Exact Match</igc-chip>
          </div>
          <div slot="suffix">
            <igc-icon-button id="prevIconBtn" variant="flat" name="prev" collection="material" ></igc-icon-button>
            <igc-icon-button id="nextIconBtn" variant="flat" name="next" collection="material"></igc-icon-button>
          </div>
        </igc-input>
      </div>

      <igc-grid auto-generate="false" id="grid" name="grid" allow-filtering="true" display-density="compact">
        <igc-column field="IndustrySector" header="Industry Sector" data-type="string" sortable="true"></igc-column>        
        <igc-column field="IndustryGroup" header="Industry Group" data-type="string" sortable="true"></igc-column>        
        <igc-column field="SectorType" header="Sector Type" data-type="string" sortable="true"></igc-column>        
        <igc-column field="KRD" data-type="number" sortable="true"></igc-column>        
        <igc-column field="MarketNotion" header="Market Notion" data-type="number" sortable="true"></igc-column>        
      </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>