<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">



    <div class="container fill">
        <igc-grid
        auto-generate="false"
        id="grid"
        grouping-expressions="Infragistics.Controls.Description.CodeGenerationItemBuilder"
        row-selection="Multiple"
        name="grid"
        id ="grid">
            <igc-paginator
            per-page="10">
            </igc-paginator>
            <igc-column
            field="ShipCountry"
            header="Ship Country"
            groupable="true"
            width="200px">
            </igc-column>
            <igc-column
            field="ShipCity"
            header="Ship City"
            width="250px"
            groupable="true">
            </igc-column>
            <igc-column
            field="UnitPrice"
            header="Unit Price"
            width="150px"
            groupable="true"
            data-type="Number">
            </igc-column>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>