<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

        <div class="legend-title">
        Annual Birth Rates by World Region
    </div>

    <div class="legend">
        <igc-legend
        orientation="Horizontal"
        name="Legend"
        id ="Legend">
        </igc-legend>
    </div>

    <div class="container fill">
        <igc-data-chart

        is-horizontal-zoom-enabled="false"
        is-vertical-zoom-enabled="false"
        name="chart"
        id ="chart">
            <igc-category-x-axis

            label="year"
            name="xAxis"
            id ="xAxis">
            </igc-category-x-axis>
            <igc-numeric-y-axis
            interval="20"
            title-left-margin="10"
            label-format="{0}%"
            name="yAxis"
            id ="yAxis">
            </igc-numeric-y-axis>
            <igc-stacked-100-spline-area-series

            marker-type="Circle"
            show-default-tooltip="false"
            name="Stacked100SplineAreaSeries"
            id ="Stacked100SplineAreaSeries">
                <igc-stacked-fragment-series
                name="s1"
                id ="s1"
                value-member-path="asia"
                title="Asia">
                </igc-stacked-fragment-series>
                <igc-stacked-fragment-series
                name="s2"
                id ="s2"
                value-member-path="africa"
                title="Africa">
                </igc-stacked-fragment-series>
                <igc-stacked-fragment-series
                name="s3"
                id ="s3"
                value-member-path="europe"
                title="Europe">
                </igc-stacked-fragment-series>
                <igc-stacked-fragment-series
                name="s4"
                id ="s4"
                value-member-path="northAmerica"
                title="North America">
                </igc-stacked-fragment-series>
                <igc-stacked-fragment-series
                name="s5"
                id ="s5"
                value-member-path="southAmerica"
                title="South America">
                </igc-stacked-fragment-series>
            </igc-stacked-100-spline-area-series>
            <igc-data-tool-tip-layer
            name="DataToolTipLayer"
            id ="DataToolTipLayer">
            </igc-data-tool-tip-layer>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>