<!DOCTYPE html>
<html>

<head>
  <title>Card Overview</title>
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class="container sample">
      <div class="card-options">
        <igc-switch id="media" label-position="before" checked>
          <span>Media</span>
        </igc-switch>
        <igc-switch id="header" label-position="before" checked>
          <span>Header</span>
        </igc-switch>
        <igc-switch id="content" label-position="before" checked>
          <span>Content</span>
        </igc-switch>
        <igc-switch id="actions" label-position="before" checked>
          <span>Actions</span>
        </igc-switch>
      </div>

      <div class="card-container">
        <igc-card>
          <igc-card-media id="media-section">
            <img
              src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-1.2.1&auto=format&fit=crop&w=640&q=50"
              alt="Mountain range above the clouds at sunset" />
          </igc-card-media>

          <igc-card-header id="header-section">
            <igc-avatar
              slot="thumbnail"
              shape="circle"
              src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png"
              alt="profile picture"></igc-avatar>
            <span slot="title">Title</span>
            <span slot="subtitle">Subtitle</span>
          </igc-card-header>

          <igc-card-content id="content-section">
            <p>
              A paragraph is a self-contained unit of a discourse in writing
              dealing with a particular point or idea.
            </p>
          </igc-card-content>

          <igc-card-actions id="actions-section">
            <div class="card-actions-start" slot="start">
              <igc-button variant="flat">Button</igc-button>
              <igc-button variant="flat">Button</igc-button>
            </div>
            <div class="card-actions-end" slot="end">
              <igc-icon-button variant="flat" name="add" collection="material"></igc-icon-button>
              <igc-icon-button variant="flat" name="add" collection="material"></igc-icon-button>
              <igc-icon-button variant="flat" name="add" collection="material"></igc-icon-button>
            </div>
          </igc-card-actions>
        </igc-card>
      </div>
    </div>
  </div>

  <!-- This script is needed only for parcel and it will be excluded for webpack -->
  <% if (false) { %>
    <script src="src/index.ts"></script>
    <% } %>

</body>

</html>
