/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples */
#hGrid {
    --ig-grid--cell-selected-text-color: #FFFFFF;
    --ig-grid--cell-active-border-color: #0578c4;
    --ig-grid--cell-selected-background: #0578c4;
}