<html>
  <head>
    <title>DataChartTypeScatterPolygonSeries</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" type="text/css" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/custom-legend.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

    <div class="options horizontal">
      <div class="legend-title">
        <span>Airplane Seating Chart (Polygons)</span>
      </div>
    </div>

    <div class="custom-legend">
      <div><span style="background: DodgerBlue; "></span><label>First Class</label></div>
      <div><span style="background: LimeGreen; "></span><label>Business Class</label></div>
      <div><span style="background: Orange; "></span><label>Premium Class</label></div>
      <div><span style="background: Red; "></span><label>Economy Class</label></div>
      <div><span style="background: Gray; "></span><label>Sold Seat</label> </div>
      <div><span style="background: LightGray; "></span><label>Airplane</label> </div>
    </div>

    <igc-data-chart id="chart" width="100%" height="100%"
        is-horizontal-zoom-enabled="true"
        is-vertical-zoom-enabled="true">

        <igc-numeric-x-axis name="xAxis" minimum-value=-1000 maximum-value=1000 interval=200>
        </igc-numeric-x-axis>
        <igc-numeric-y-axis name="yAxis" minimum-value=-600 maximum-value=600 interval=200>
        </igc-numeric-y-axis>

        <igc-scatter-polygon-series
            id="airplaneShapeSeries"
            name="airplaneShapeSeries"
            x-axis-name="xAxis"
            y-axis-name="yAxis"
            shape-member-path="points"
            title="Airplane Shape"
            thickness="0.5"
            brush="LightGray"
            outline="Black">
        </igc-scatter-polygon-series>

        <igc-scatter-polygon-series
            id="airplaneSeatSeries"
            name="airplaneSeatSeries"
            x-axis-name="xAxis"
            y-axis-name="yAxis"
            shape-member-path="points"
            title="Airplane Seats">
        </igc-scatter-polygon-series>

    </igc-data-chart>

</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>