<html>
  <head>
    <title>DataChartTypeScatterPolygonSeries</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <igc-data-chart
        id="chart"
        width="100%"
        height="100%"
        subtitle="Airplane Seating Chart (Polygons)"
        subtitle-top-margin="10"
        is-horizontal-zoom-enabled="true"
        is-vertical-zoom-enabled="true">
        <igc-numeric-x-axis
            name="xAxis"
            minimum-value="-1000"
            maximum-value="1000"
            interval="200"></igc-numeric-x-axis>
        <igc-numeric-y-axis
            name="yAxis"
            minimum-value="-600"
            maximum-value="600"
            interval="200"></igc-numeric-y-axis>
        <igc-scatter-polygon-series
            id="airplaneShapeSeries"
            x-axis-name="xAxis"
            y-axis-name="yAxis"
            shape-member-path="points"
            show-default-tooltip="false"
            thickness="0.5"
            brush="LightGray"
            outline="Black"></igc-scatter-polygon-series>
        <igc-scatter-polygon-series
            id="airplaneSeatSeries"
            x-axis-name="xAxis"
            y-axis-name="yAxis"
            title="Airplane Seats"
            shape-member-path="points"></igc-scatter-polygon-series>
    </igc-data-chart>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>