/* shared styles are loaded from: */
/* https://static.infragistics.com/xplatform/css/samples */

.grid_wrapper {
    width: 75%;
}

.list_wrapper {
    width: 20%;
}

.container {
    display: flex;
    flex-direction: row;
}

.empty-list > h6 {
    padding: 15px;
    font-size: 15px;
}

.empty-list > ul {
    margin-left: 15px;
    font-weight: 400;
}

.disabled {
    opacity: .4;
}