<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample ig-typography">

    <div class="container fill">
        <igc-grid
        auto-generate="false"
        primary-key="ProductID"
        moving="true"
        name="grid"
        id="grid"
        id="grid">
            <igc-column
            field="Category"
            pinned="true"
            width="200px"
            name="column1"
            id="column1">
            </igc-column>
            <igc-column
            field="Type"
            pinned="true"
            name="column2"
            id="column2">
            </igc-column>
            <igc-column
            field="Price"
            data-type="currency"
            name="column3"
            id="column3">
            </igc-column>
            <igc-column
            field="Buy"
            data-type="currency"
            name="column4"
            id="column4">
            </igc-column>
            <igc-column
            field="Sell"
            data-type="currency"
            name="column5"
            id="column5">
            </igc-column>
            <igc-column
            field="Spread"
            name="column6"
            id="column6">
            </igc-column>
            <igc-column
            field="Change"
            name="column7"
            id="column7">
            </igc-column>
            <igc-column
            field="ChangePercent"
            header="Change Percent"
            data-type="number"
            name="column8"
            id="column8">
            </igc-column>
            <igc-column
            field="YearlyChange"
            header="Yearly Change"
            data-type="number"
            name="column9"
            id="column9">
            </igc-column>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>