<html>

<head>
  <title>Rating w/ Custom Symbol</title>
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class="sample center">
      <igc-rating label="Rate Experience" value="3" step=".5" hover-preview>
        <igc-rating-symbol>
          <igc-icon name="heart"></igc-icon>
          <igc-icon name="empty-heart" slot="empty"></igc-icon>
        </igc-rating-symbol>
        <igc-rating-symbol>
          <igc-icon name="heart"></igc-icon>
          <igc-icon name="empty-heart" slot="empty"></igc-icon>
        </igc-rating-symbol>
        <igc-rating-symbol>
          <igc-icon name="heart"></igc-icon>
          <igc-icon name="empty-heart" slot="empty"></igc-icon>
        </igc-rating-symbol>
        <igc-rating-symbol>
          <igc-icon name="heart"></igc-icon>
          <igc-icon name="empty-heart" slot="empty"></igc-icon>
        </igc-rating-symbol>
        <igc-rating-symbol>
          <igc-icon name="heart"></igc-icon>
          <igc-icon name="empty-heart" slot="empty"></igc-icon>
        </igc-rating-symbol>
      </igc-rating>
    </div>
  </div>

  <!-- This script is needed only for parcel and it will be excluded for webpack -->
  <% if (false) { %>
    <script src="src/index.ts"></script>
    <% } %>

</body>

</html>