<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

    <div class="container fill">
        <igc-grid
        auto-generate="false"
        name="grid"
        row-selection="multiple"
        moving="true"
        display-density="compact"
        allow-filtering="true"
        id="grid">
            <igc-column
            field="ID"
            filterable="false"
            resizable="true">
            </igc-column>
            <igc-column-group
            header="General Information" id="column-group-1" pinned="false">
                <igc-column
                field="CompanyName"
                sortable="true"
                resizable="true">
                </igc-column>
                <igc-column-group
                header="Personal Details">
                    <igc-column
                    field="ContactName"
                    pinned="false"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                    <igc-column
                    field="ContactTitle"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                </igc-column-group>
            </igc-column-group>
            <igc-column-group
            header="Address Information" id="column-group-2">
            <igc-column sortable="true" resizable="true" field="Location" hidden="true"></igc-column>
            <igc-column sortable="true" resizable="true" field="Phone" hidden="true"></igc-column>
                <igc-column-group
                header="Location">
                    <igc-column
                    field="Country"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                    <igc-column
                    field="Region"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                    <igc-column
                    field="City"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                    <igc-column
                    field="Address"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                </igc-column-group>
                <igc-column-group
                header="Contact Information">
                    <igc-column
                    field="Phone"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                    <igc-column
                    field="Fax"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                    <igc-column
                    field="PostalCode"
                    sortable="true"
                    resizable="true">
                    </igc-column>
                </igc-column-group>
            </igc-column-group>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>