igc-tile-manager::part(base) {
  background-color: var(--ig-surface-900);
}

igc-tile::part(content-container) {
  color: var(--ig-secondary-200);
}

igc-tile-header::part(header) {
  background-color: var(--ig-gray-300);
}

igc-tile-header::part(title) {
  color: var(--ig-primary-400);
}