<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample ig-typography">

    <div class="container fill">
        <igc-grid
        name="grid"
        id="grid"
        primary-key="ID"
        cell-selection="none">
            <igc-column
            width="70px"
            filterable="false"
            pinned="true"
            name="column1"
            id="column1">
            </igc-column>
            <igc-column
            field="ID"
            width="150px"
            hidden="true">
            </igc-column>
            <igc-column
            field="Company"
            header="Company"
            width="350px">
            </igc-column>
            <igc-column
            field="ContactName"
            header="Name">
            </igc-column>
            <igc-column
            field="ContactTitle"
            header="Contact Tiasdsadtle">
            </igc-column>
            <igc-column
            field="Address">
            </igc-column>
            <igc-column
            field="City">
            </igc-column>
            <igc-column
            field="PostalCode"
            header="Postal Code">
            </igc-column>
            <igc-column
            field="Phone">
            </igc-column>
            <igc-column
            field="Fax">
            </igc-column>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>