<!DOCTYPE html>
<html>
  <head>
    <title>Combo Features</title>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" type="text/css" />
    <link href="https://static.infragistics.com/xplatform/css/samples/custom-legend.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="root">
      <div class="container sample center">
        <igc-combo
          id="combo"
          value-key="id"
          display-key="name"
          label="Cities"
          placeholder="Pick a city"
          placeholder-search="Search for a city"
        >
        </igc-combo>
        <div class="options">
          <igc-switch id="filtering">Disable Filtering</igc-switch>
          <igc-switch id="caseSensitive">Show Case-sensitive Icon</igc-switch>
          <igc-switch id="grouping">Enable Grouping</igc-switch>
          <igc-switch id="disabled">Disable Combo</igc-switch>
        </div>
      </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>
