<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample ig-typography">
    <div class="options vertical">
        <igc-property-editor-panel
        name="PropertyEditor"
        id="PropertyEditor"
        description-type="WebGrid"
        is-horizontal="true"
        is-wrapping-enabled="true">
            <igc-property-editor-property-description
            property-path="DisplayDensity"
            name="DisplayDensityEditor"
            id="DisplayDensityEditor">
            </igc-property-editor-property-description>
        </igc-property-editor-panel>
    </div>

    <div class="container fill">
        <igc-grid
        auto-generate="false"
        name="grid"
        id="grid"
        allow-filtering="true">
            <igc-column
            field="CustomerName"
            header="Customer Name"
            data-type="string"
            sortable="true"
            has-summary="true">
            </igc-column>
            <igc-column
            field="Country"
            header="Country"
            data-type="string"
            sortable="true"
            has-summary="true">
            </igc-column>
            <igc-column
            field="City"
            header="City"
            data-type="string"
            sortable="true"
            has-summary="true">
            </igc-column>
            <igc-column
            field="Address"
            header="Address"
            data-type="string"
            sortable="true"
            has-summary="true">
            </igc-column>
            <igc-column
            field="PostalCode"
            header="Postal Code"
            data-type="string"
            sortable="true"
            has-summary="true">
            </igc-column>
            <igc-column
            field="Salesperson"
            header="Sales Person"
            data-type="string"
            sortable="true"
            has-summary="true">
            </igc-column>
            <igc-column
            field="ShipperName"
            header="Shipper Name"
            data-type="string"
            sortable="true"
            has-summary="true">
            </igc-column>
            <igc-column
            field="OrderDate"
            header="Order Date"
            data-type="date"
            sortable="true"
            has-summary="true">
            </igc-column>
            <igc-column
            field="ProductID"
            header="ID"
            data-type="string"
            sortable="true"
            has-summary="true">
            </igc-column>
            <igc-column
            field="ProductName"
            header="Name"
            data-type="string"
            sortable="true"
            has-summary="true">
            </igc-column>
            <igc-column
            field="UnitPrice"
            header="Unit Price"
            data-type="number"
            sortable="true"
            has-summary="true"
            filterable="false">
            </igc-column>
            <igc-column
            field="Quantity"
            header="Quantity"
            data-type="number"
            sortable="true"
            has-summary="true"
            filterable="false">
            </igc-column>
            <igc-column
            field="Discontinued"
            header="Discontinued"
            data-type="boolean"
            sortable="true"
            has-summary="true">
            </igc-column>
            <igc-column
            field="Discontinued"
            header="Discontinued"
            data-type="boolean"
            sortable="true"
            has-summary="true">
            </igc-column>
            <igc-column
            field="ShipName"
            header="Name"
            data-type="string"
            sortable="true"
            has-summary="true">
            </igc-column>
            <igc-column
            field="ShipCountry"
            header="Country"
            data-type="string"
            sortable="true"
            has-summary="true">
            </igc-column>
            <igc-column
            field="ShipCity"
            header="City"
            data-type="string"
            sortable="true"
            has-summary="true">
            </igc-column>
            <igc-column
            field="ShipPostalCode"
            header="Postal Code"
            data-type="string"
            sortable="true"
            has-summary="true">
            </igc-column>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>