<html>
  <head>
    <title>CategoryChartTooltipTypes</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options horizontal">
        <span class="options-label">Tooltip Type: </span>
        <select value="Default" id="toolTipSelect" >
            <option>Default</option>
            <option>Item</option>
            <option>Category</option>
            <option>None</option>
        </select>
    </div>

    <igc-category-chart id="chart"
        width="100%"
        height="calc(100% - 3rem)"
        chart-title="Olympic Medals By Country"
        chart-type="column"
        y-axis-minimumValue="0"
        y-axis-maximumValue="200"
        x-axis-interval="1"
        tool-tip-type="Default">
    </igc-category-chart>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>