<html>

<head>
  <title>Stepper Styling Example</title>
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browser/wc.png" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class="container sample">
      <igc-stepper id="stepper">
        <igc-step>
          <span slot="title">Order</span>
          </br>
          <igc-button onclick="stepper.next()">NEXT</igc-button>
        </igc-step>
        <igc-step>
          <span slot="title">Payment</span>
          </br>
          <igc-button onclick="stepper.prev()">PREVIOUS</igc-button>
          <igc-button onclick="stepper.next()">NEXT</igc-button>
        </igc-step>
        <igc-step>
          <span slot="title">Confirmation</span>
          </br>
          <igc-button onclick="stepper.prev()">PREVIOUS</igc-button>
          <igc-button onclick="stepper.reset()">RESET</igc-button>
        </igc-step>
      </igc-stepper>
    </div>
  </div>
  <!-- This script is needed only for parcel and it will be excluded for webpack -->
  <% if (false) { %>
    <script src="src/index.ts"></script>
    <% } %>
</body>

</html>