<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    
    <div class="legend-title">
        Renewable Electricity Generated
    </div>
    
    
    <div class="container fill">
        <igc-data-chart
        should-auto-expand-margin-for-initial-labels="true"
        computed-plot-area-margin-mode="Series"
        name="chart"
        id ="chart">
            <igc-category-x-axis
            
            label="year"
            name="xAxis"
            id ="xAxis">
            </igc-category-x-axis>
            <igc-numeric-y-axis
            title="TWh"
            label-location="OutsideRight"
            name="yAxis"
            id ="yAxis">
            </igc-numeric-y-axis>
            <igc-line-series
            
            value-member-path="america"
            name="LineSeries1"
            id ="LineSeries1">
            </igc-line-series>
            <igc-callout-layer
            label-member-path="label"
            x-member-path="index"
            y-member-path="value"
            callout-text-color="black"
            callout-background="orange"
            callout-outline="black"
            callout-leader-brush="black"
            callout-stroke-thickness="2"
            name="CalloutLayer1"
            id ="CalloutLayer1">
            </igc-callout-layer>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>