<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

    <div class="aboveContentSplit">
        <div class="aboveContentLeftContainer">
            <igc-toolbar
            name="Toolbar"
            id="Toolbar"
            orientation="Horizontal">
                <igc-tool-action-checkbox
                title="Enable Tooltips"
                before-id="ZoomReset"
                command-id="EnableTooltips">
                </igc-tool-action-checkbox>
                <igc-tool-action-label
                overlay-id="ZoomReset"
                visibility="Collapsed">
                </igc-tool-action-label>
                <igc-tool-action-label
                title="Reset"
                after-id="ZoomOut"
                icon-name="reset"
                icon-collection-name="ChartToolbarIcons"
                command-id="ZoomReset">
                </igc-tool-action-label>
                <igc-tool-action-icon-menu
                overlay-id="AnalyzeMenu"
                visibility="Collapsed">
                </igc-tool-action-icon-menu>
            </igc-toolbar>
        </div>
        <div class="aboveContentRightContainer">
            <!-- insert aboveContentRight -->
            <!-- end aboveContentRight -->
        </div>
    </div>

    <div class="container fill">
        <igc-data-chart
        computed-plot-area-margin-mode="Series"
        is-horizontal-zoom-enabled="true"
        is-vertical-zoom-enabled="true"
        name="chart"
        id="chart">
            <igc-category-x-axis
            name="xAxis"
            id="xAxis"
            label="year">
            </igc-category-x-axis>
            <igc-numeric-y-axis
            name="yAxis"
            id="yAxis"
            title="TWh">
            </igc-numeric-y-axis>
            <igc-line-series
            name="LineSeries1"
            id="LineSeries1"
            title="Electricity"
            value-member-path="america">
            </igc-line-series>
            <igc-line-series
            name="LineSeries2"
            id="LineSeries2"
            title="Electricity"
            value-member-path="europe">
            </igc-line-series>
            <igc-line-series
            name="LineSeries3"
            id="LineSeries3"
            title="Electricity"
            value-member-path="china">
            </igc-line-series>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>