<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options vertical">
        <igc-property-editor
        
        description-type="CategoryChart"
        is-horizontal="true"
        is-wrapping-enabled="true">
            <igc-property-editor-property-description
            property-path="YAxisStroke"
            label="Y Axis Stroke"
            value-type="EnumValue"
            should-override-default-editor="true"
            drop-down-names="gray, darkslategray, salmon, cornflowerblue, darkgreen"
            drop-down-values="gray, darkslategray, salmon, cornflowerblue, darkgreen"
            primitive-value="gray">
            </igc-property-editor-property-description>
            <igc-property-editor-property-description
            drop-down-values="gray, darkslategray, salmon, cornflowerblue, darkgreen"
            primitive-value="darkslategray"
            property-path="YAxisMajorStroke"
            label="Y Axis Major Stroke"
            value-type="EnumValue"
            should-override-default-editor="true"
            drop-down-names="gray, darkslategray, salmon, cornflowerblue, darkgreen">
            </igc-property-editor-property-description>
            <igc-property-editor-property-description
            drop-down-values="gray, darkslategray, salmon, cornflowerblue, darkgreen"
            primitive-value="gray"
            property-path="YAxisMinorStroke"
            label="Y Axis Minor Stroke"
            value-type="EnumValue"
            should-override-default-editor="true"
            drop-down-names="gray, darkslategray, salmon, cornflowerblue, darkgreen">
            </igc-property-editor-property-description>
        </igc-property-editor>
    </div>
    <div class="legend-title">
        Renewable Electricity Generated
    </div>
    <div class="legend">
        <igc-legend
        orientation="Horizontal"
        name="Legend"
        id ="Legend">
        </igc-legend>
    </div>
    <div class="container fill">
        <igc-category-chart
        chart-type="Line"
        x-axis-interval="1"
        y-axis-interval="20"
        y-axis-minor-interval="5"
        x-axis-major-stroke="rgba(71, 71, 71, 1)"
        y-axis-major-stroke="darkslategray"
        x-axis-major-stroke-thickness="0.5"
        y-axis-major-stroke-thickness="1"
        y-axis-minor-stroke-thickness="0.5"
        x-axis-stroke="rgba(145, 145, 145, 1)"
        y-axis-stroke="gray"
        x-axis-stroke-thickness="2"
        y-axis-stroke-thickness="2"
        y-axis-minor-stroke="gray"
        is-horizontal-zoom-enabled="false"
        is-vertical-zoom-enabled="false"
        thickness="2"
        name="chart"
        id ="chart">
        </igc-category-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>