.container {
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

#radio-group {
    display: flex;
    justify-content: center;
}