<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample ig-typography">

    <div class="container fill">
        <igc-grid
        name="grid"
        id="grid"
        row-draggable="true"
        primary-key="ID">
            <igc-column
            field="ID"
            header="ID">
            </igc-column>
            <igc-column
            field="Company"
            header="Company">
            </igc-column>
            <igc-column
            field="ContactName"
            header="Name"
            min-width="60px"
            max-width="230px">
            </igc-column>
            <igc-column
            field="ContactTitle"
            header="Title">
            </igc-column>
            <igc-column
            field="Address">
            </igc-column>
            <igc-column
            field="City">
            </igc-column>
            <igc-column
            field="PostalCode">
            </igc-column>
            <igc-column
            field="Phone">
            </igc-column>
            <igc-column
            field="Fax">
            </igc-column>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>