/* shared styles are loaded from: */
/* https://static.infragistics.com/xplatform/css/samples */

.grid {
    --igx-grid-cell-selected-text-color: #FFFFFF;
    --igx-grid-cell-active-border-color: #f2c43c;
    --igx-grid-cell-selected-background: #0062A3;
}