/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */
@import "tailwindcss";
@import "igniteui-theming/tailwind/themes/base";
@import "igniteui-theming/tailwind/themes/light/bootstrap";

main {
    width: 800px;
    height: 300px;
    margin: 50px auto;
}