/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */
:root {
    --ig-primary-h: 60deg;
    --ig-primary-s: 100%;
    --ig-primary-l: 25%;
}

igc-radio::part(control) {
    --size: 18px;
}