<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options vertical">
        <igc-property-editor-panel
        
        description-type="WebGrid"
        is-horizontal="true"
        is-wrapping-enabled="true"
        name="PropertyEditor"
        id ="PropertyEditor">
            <igc-property-editor-property-description
            property-path="RowEditable"
            value-type="Boolean1"
            primitive-value="True"
            name="RowEditableEditor"
            id ="RowEditableEditor">
            </igc-property-editor-property-description>
        </igc-property-editor-panel>
    </div>



    <div class="container fill">
        <igc-grid
        auto-generate="false"
        primary-key="ID"
        row-editable="true"
        name="grid"
        id ="grid">
            <igc-column
            field="Avatar"
            header="Avatar"
            editable="false"
            width="80px"
            data-type="String"
            name="Avatar"
            id ="Avatar">
            </igc-column>
            <igc-column
            name="Name"
            id ="Name"
            field="Name"
            header="Name"
            editable="true">
            </igc-column>
            <igc-column
            name="Company"
            id ="Company"
            field="Company"
            header="Company"
            editable="true">
            </igc-column>
            <igc-column
            name="Email"
            id ="Email"
            field="Email"
            header="Email"
            editable="true"
            width="190px">
            </igc-column>
            <igc-column
            name="Fax"
            id ="Fax"
            field="Fax"
            header="Phone"
            editable="true">
            </igc-column>
            <igc-column
            name="CreatedOn"
            id ="CreatedOn"
            field="CreatedOn"
            header="Date of Registration"
            data-type="Date"
            editable="true"
            width="170px">
            </igc-column>
            <igc-column
            name="LastActivity"
            id ="LastActivity"
            field="LastActivity"
            header="Last Active"
            data-type="Date"
            editable="true"
            width="170px">
            </igc-column>
            <igc-column
            name="EstimatedSales"
            id ="EstimatedSales"
            field="EstimatedSales"
            header="Estimated Sales"
            data-type="Number"
            editable="true">
            </igc-column>
            <igc-column
            name="DealsLost"
            id ="DealsLost"
            field="DealsLost"
            header="Deals Lost"
            data-type="Number"
            editable="true">
            </igc-column>
            <igc-column
            name="DealsWon"
            id ="DealsWon"
            field="DealsWon"
            header="Deals Won"
            data-type="Number"
            editable="true">
            </igc-column>
            <igc-column
            name="DealsPending"
            id ="DealsPending"
            field="DealsPending"
            header="Deals Pending"
            data-type="Number"
            editable="true">
            </igc-column>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>