<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

    <div class="container fill">
        <igc-data-chart
        name="chart"
        id="chart"
        should-auto-expand-margin-for-initial-labels="true"
        computed-plot-area-margin-mode="Series"
        is-vertical-zoom-enabled="false"
        is-horizontal-zoom-enabled="true"
        brushes="green red"
        outlines="green red"
        plot-area-margin-left="10"
        plot-area-margin-top="0"
        plot-area-margin-right="20"
        plot-area-margin-bottom="0"
        left-margin="10"
        top-margin="0"
        right-margin="20"
        bottom-margin="0"
        is-window-synced-to-visible-range="false"
        chart-title="This Data Chart demonstrates the DataAnnotationStripLayer bound to data that markert events affecting stock prices.">
            <igc-category-x-axis
            name="xAxisBottom"
            id="xAxisBottom"
            label="date"
            label-left-margin="10"
            label-top-margin="5"
            label-right-margin="10"
            label-bottom-margin="15">
            </igc-category-x-axis>
            <igc-category-x-axis
            name="xAxisTop"
            id="xAxisTop"
            label="date"
            tick-length="0"
            label-text-color="rgba(0, 0, 0, 0)"
            label-location="OutsideTop"
            label-text-style="normal normal 12px Verdana"
            label-extent="40"
            label-left-margin="8"
            label-top-margin="3"
            label-right-margin="8"
            label-bottom-margin="5">
            </igc-category-x-axis>
            <igc-numeric-y-axis
            name="yAxisLeft"
            id="yAxisLeft"
            label-location="OutsideLeft"
            label-text-style="normal normal 12px Verdana"
            label-extent="80"
            label-horizontal-alignment="Right"
            label-left-margin="8"
            label-top-margin="3"
            label-right-margin="8"
            label-bottom-margin="5"
            minimum-value="0"
            maximum-value="550">
            </igc-numeric-y-axis>
            <igc-numeric-y-axis
            name="yAxisRight"
            id="yAxisRight"
            label-location="OutsideRight"
            label-text-style="normal normal 12px Verdana"
            label-extent="80"
            label-horizontal-alignment="Left"
            label-left-margin="8"
            label-top-margin="3"
            label-right-margin="8"
            label-bottom-margin="5"
            minimum-value="0"
            maximum-value="550">
            </igc-numeric-y-axis>
            <igc-financial-price-series
            name="series1"
            id="series1"
            title="Stock Price"
            display-type="Candlestick"
            open-member-path="open"
            high-member-path="high"
            low-member-path="low"
            close-member-path="close"
            show-default-tooltip="false">
            </igc-financial-price-series>
            <igc-data-tool-tip-layer
            name="Tooltip"
            id="Tooltip"
            included-columns="high, low, open, close"
            layout-mode="Vertical">
            </igc-data-tool-tip-layer>
            <igc-data-annotation-strip-layer
            name="StripLayer"
            id="StripLayer"
            center-label-member-path="label"
            start-value-member-path="start"
            end-value-member-path="end"
            start-label-display-mode="Hidden"
            end-label-display-mode="Hidden"
            brush="black"
            outline="black"
            overlay-text-color="purple"
            overlay-text-vertical-margin="20"
            overlay-text-horizontal-margin="-50"
            overlay-text-location="InsideTopCenter"
            overlay-text-member-path="label">
            </igc-data-annotation-strip-layer>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>