<!DOCTYPE html>
<html>
  <head>
    <title>MapMarkerType</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options horizontal">
        <span class="options-label">Marker Type: </span>
        <select value="Circle" id="MarkerTypeSelect">
            <option>Circle</option>
            <option>Diamond</option>
            <option>Hexagon</option>
            <option>Hexagram</option>
            <option>Hidden</option>
            <option>Pentagon</option>
            <option>Pentagram</option>
            <option>Pyramid</option>
            <option>Square</option>
            <option>Tetragram</option>
            <option>Triangle</option>
        </select>

        <span class="options-label">Marker Brush: </span>
        <select value="White" id="MarkerBrushSelect">
            <option>White</option>
            <option>Green</option>
            <option>Blue</option>
            <option>Black</option>
            <option>Red</option>
            <option>Gray</option>
        </select>

        <span class="options-label">Marker Outline: </span>
        <select value="DodgerBlue" id="MarkerOutlineSelect">
            <option>DodgerBlue</option>
            <option>Gray</option>
            <option>Red</option>
            <option>Green</option>
            <option>Black</option>
            <option>White</option>
        </select>

    </div>

    <igc-geographic-map
        id="geoMap"
        width="100%"
        height="100%">
    </igc-geographic-map>

</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>