<html>
  <head>
    <title>DataChartSeriesHighlighting</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options horizontal">
        <label class="options-label">Enable Highlighting: </label>
        <label class="options-label"><input type="checkbox" id="seriesInput">
        </input> Series </label>
        <label class="options-label"><input type="checkbox" id="itemInput"}>
        </input> Item </label>
        <label class="options-label"><input type="checkbox" id="categoryInput">
        </input> Category </label>
    </div>

    <div class="container" style="height: calc(100% - 3rem)">
        <igc-data-chart id="chart" width="100%" height="100%"
        is-horizontal-zoom-enabled="true"
        is-vertical-zoom-enabled="true">
            <igc-category-x-axis name="xAxis" label="Country">
            </igc-category-x-axis>
            <igc-numeric-y-axis name="yAxis" minimum-value="0">
            </igc-numeric-y-axis>

            <igc-column-series id="series1" title="Coal" x-axis-name="xAxis"
                y-axis-name="yAxis" value-member-path="Coal"
                is-transition-in-enabled="true">
            </igc-column-series>
            <igc-column-series id="series2" title="Hydro" x-axis-name="xAxis"
                y-axis-name="yAxis" value-member-path="Hydro"
                is-transition-in-enabled="true">
            </igc-column-series>
            <igc-column-series id="series3" title="Nuclear" x-axis-name="xAxis"
                y-axis-name="yAxis" value-member-path="Nuclear"
                is-transition-in-enabled="true">
            </igc-column-series>
            <igc-column-series id="series4" title="Gas" x-axis-name="xAxis"
                y-axis-name="yAxis" value-member-path="Gas"
                is-transition-in-enabled="true">
            </igc-column-series>
            <igc-column-series id="series5" title="Oil" x-axis-name="xAxis"
                y-axis-name="yAxis" value-member-path="Oil"
                is-transition-in-enabled="true">
            </igc-column-series>
        </igc-data-chart>
    </div>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>