<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample ig-typography">
    <div class="options vertical">
        <igc-property-editor-panel

        description-type="WebGrid"
        is-horizontal="true"
        is-wrapping-enabled="false"
        name="propertyEditorPanel1"
        id="propertyEditorPanel1">
            <igc-property-editor-property-description
            label=""
            value-type="Button"
            primitive-value="Undo"
            name="propertyEditorPropertyDescription1"
            id="propertyEditorPropertyDescription1">
            </igc-property-editor-property-description>
            <igc-property-editor-property-description
            label=""
            value-type="Button"
            primitive-value="Redo"
            name="propertyEditorPropertyDescription2"
            id="propertyEditorPropertyDescription2">
            </igc-property-editor-property-description>
            <igc-property-editor-property-description
            label=""
            value-type="Button"
            primitive-value="Commit"
            name="propertyEditorPropertyDescription3"
            id="propertyEditorPropertyDescription3">
            </igc-property-editor-property-description>
        </igc-property-editor-panel>
    </div>

    <div class="container fill">
        <igc-grid
        name="grid"
        id="grid"
        row-editable="true"
        primary-key="ProductID">
            <igc-column
            field="ProductID"
            header="Product ID">
            </igc-column>
            <igc-column
            field="ProductName"
            header="Product Name">
            </igc-column>
            <igc-column
            field="UnitPrice"
            header="Unit Price">
            </igc-column>
            <igc-column
            field="UnitsOnOrder"
            header="Units On Order">
            </igc-column>
            <igc-column
            field="UnitsInStock"
            header="Units In Stock">
            </igc-column>
            <igc-column
            field="QuantityPerUnit"
            header="Quantity Per Unit">
            </igc-column>
            <igc-column
            field="ReorderLevel"
            header="Reorder Level">
            </igc-column>
            <igc-column
            field="SupplierID"
            header="Supplier ID">
            </igc-column>
            <igc-column
            field="CategoryID"
            header="Category ID">
            </igc-column>
            <igc-column
            field="Discontinued"
            header="Discontinued">
            </igc-column>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>