<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample ig-typography">

    <div class="container fill">
        <igc-grid
        auto-generate="false"
        name="grid"
        id="grid"
        id="grid"
        column-width="200px"
        allow-filtering="true"
        column-selection="single">
            <igc-grid-toolbar
            >
                <igc-grid-toolbar-title
                >
                </igc-grid-toolbar-title>
                <igc-grid-toolbar-actions
                >
                    <igc-grid-toolbar-hiding
                    >
                    </igc-grid-toolbar-hiding>
                </igc-grid-toolbar-actions>
            </igc-grid-toolbar>
            <igc-column
            field="ID"
            header="ID"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="ContactName"
            header="Name"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="ContactTitle"
            header="Title"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="City"
            header="City"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="Company"
            header="Company"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="Fax"
            header="Fax"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="Address"
            header="Address"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="PostalCode"
            header="Postal Code"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="Country"
            header="Country"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="Phone"
            header="Phone"
            data-type="string"
            sortable="true">
            </igc-column>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>