<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    
        <div class="legend-title">
        Average Temperature Range in New York
    </div>
    
    
    <div class="container fill">
        <igc-data-chart
        name="chart"
        id ="chart">
            <igc-category-x-axis
            
            minimum-gap-size="25"
            use-enhanced-interval-management="true"
            enhanced-interval-prefer-more-category-labels="true"
            label="month"
            name="xAxis"
            id ="xAxis">
            </igc-category-x-axis>
            <igc-numeric-y-axis
            name="yAxis"
            id ="yAxis">
            </igc-numeric-y-axis>
            <igc-category-highlight-layer
            name="CategoryHighlightLayer"
            id ="CategoryHighlightLayer">
            </igc-category-highlight-layer>
            <igc-column-series
            
            value-member-path="temperature"
            name="columnSeries1"
            id ="columnSeries1">
            </igc-column-series>
            <igc-data-tool-tip-layer
            name="Tooltips"
            id ="Tooltips">
            </igc-data-tool-tip-layer>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>