igc-tile-header span{
  font-size: 30px;
}

p {
  font-size: 25px;
  padding-left: 20px;
}

igc-radio-group {
  margin-left: 20px;
  width: fit-content;
  padding: 4px 15px;
  margin-bottom: 10px;
  border: 2px solid var(--ig-primary-700);
  background-color: var(--ig-gray-300);
}

igc-tile-manager {
  max-width: 1000px;
}