/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

    #grid {
        --ig-size: var(--ig-size-medium);
    }

    .centered-cell {
        width:30px;
        display: flex;
        justify-content: center;
    }

    .custom-icon {
        width: 18px;
        cursor: pointer;
    }

