<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

    <div class="container fill">
        <igc-tree-grid
        auto-generate="false"
        foreign-key="ParentID"
        id="treeGrid"
        primary-key="ID"
        column-width="200"
        allow-filtering="true"
        name="treeGrid"
        id ="treeGrid">
            <igc-grid-toolbar
            >
                <igc-grid-toolbar-actions
                >
                    <igc-grid-toolbar-hiding
                    >
                    </igc-grid-toolbar-hiding>
                </igc-grid-toolbar-actions>
            </igc-grid-toolbar>
            <igc-column
            field="Name"
            sortable="true"
            data-type="string">
            </igc-column>
            <igc-column
            field="ID"
            sortable="true"
            data-type="number">
            </igc-column>
            <igc-column
            field="Title"
            sortable="true"
            data-type="string">
            </igc-column>
            <igc-column
            field="HireDate"
            sortable="true"
            data-type="date">
            </igc-column>
            <igc-column
            field="Age"
            sortable="true"
            data-type="number">
            </igc-column>
            <igc-column
            field="Address"
            sortable="true"
            data-type="string">
            </igc-column>
            <igc-column
            field="City"
            sortable="true"
            data-type="string">
            </igc-column>
            <igc-column
            field="Country"
            sortable="true"
            data-type="string">
            </igc-column>
            <igc-column
            field="Fax"
            sortable="true"
            data-type="string">
            </igc-column>
            <igc-column
            field="PostalCode"
            sortable="true"
            data-type="string">
            </igc-column>
            <igc-column
            field="Phone"
            sortable="true"
            data-type="string">
            </igc-column>
        </igc-tree-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>