<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    
    
    
    <div class="container fill">
        <igc-grid
        
        primary-key="ProductID"
        row-editable="true"
        batch-editing="true"
        name="grid"
        id ="grid">
            <igc-column
            field="ProductID"
            header="Product ID"
            name="ProductID"
            id ="ProductID">
            </igc-column>
            <igc-column
            field="ProductName"
            header="Product Name"
            name="ProductName"
            id ="ProductName">
            </igc-column>
            <igc-column
            field="UnitPrice"
            header="Unit Price"
            name="UnitPrice"
            id ="UnitPrice">
            </igc-column>
            <igc-column
            field="UnitsOnOrder"
            header="Units On Order"
            name="UnitsOnOrder"
            id ="UnitsOnOrder">
            </igc-column>
            <igc-column
            field="UnitsInStock"
            header="Units In Stock"
            name="UnitsInStock"
            id ="UnitsInStock">
            </igc-column>
            <igc-column
            field="QuantityPerUnit"
            header="Quantity Per Unit"
            name="QuantityPerUnit"
            id ="QuantityPerUnit">
            </igc-column>
            <igc-column
            field="ReorderLevel"
            header="Reorder Level"
            name="ReorderLevel"
            id ="ReorderLevel">
            </igc-column>
            <igc-column
            field="SupplierID"
            header="Supplier ID"
            name="SupplierID"
            id ="SupplierID">
            </igc-column>
            <igc-column
            field="CategoryID"
            header="Category ID"
            name="CategoryID"
            id ="CategoryID">
            </igc-column>
            <igc-column
            field="Discontinued"
            header="Discontinued"
            name="Discontinued"
            id ="Discontinued">
            </igc-column>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>