/* this CSS defines dark theme for Infragistics Doughnut Chart */

.ig-doughnut-chart {
    margin: 0px;
    padding: 0px;

    /* creating variables which will be re-used in custom CSS properties below */
    --color_semitransparent: rgba(255, 255, 255, 0.06);
    --color_transparent: rgba(255, 255, 255, 0);
    --color_001: #FFFFFF;
    --color_002: #1E1E1E;
    --color_003: #333333;
    --color_004: #AAAAAA;
    --color_005: #444444;
    --color_006: #888888;
    --color_007: #212121;
    --color_008: #272727;
    --color_009: #1B1B1B;
    --color_010: #4F4F4F;
    --color_011: #58358B;
    --color_012: #777777;
    --color_014: #2D2D2D;
    --color_015: #3C3C3E;
    --color_016: #DDDDDD;
    --color_017: #666666;
    --color_018: #191919;
    --color_019: #C62828;

    /* variables used for series colors: */
    --color_020: rgb(138, 88, 214); /* #7446B9; */
    --color_021: rgb(159, 179, 40); /* #9FB328; */
    --color_022: rgb(249, 98, 50);  /* #F96232; */
    --color_023: rgb(60, 189, 201); /* #2E9CA6; */
    --color_024: rgb(220, 63, 118); /* #DC3F76; */
    --color_026: rgb(78, 98, 207);  /* #3F51B5; */
    --color_027: rgb(84, 194, 90);  /* #439C47; */
    --color_028: rgb(121, 85, 72);  /* #795548; */

    /* excluding this color from series because it is too similar colors to above colors */
    --color_025: rgb(255, 152, 0);  /* #FF9800; */
    /* excluding this color from series because it is reserved for the OtherCategory slice */
    --color_029: rgb(154, 154, 154);/* #9A9A9A;  */

    /* variable with combined above colors into a collection */
    --brushes_array: var(--color_020), var(--color_021), var(--color_022), var(--color_023), var(--color_024), var(--color_026), var(--color_027);

    /* variables shared between multiple custom CSS properties */
    --color_foreground: rgb(211, 211, 211);
    --color_background:  var(--color_018); /* #191919; */
    --color_axis_labels: var(--color_004);
    --color_axis_titles: var(--color_006);

    /* setting regular CSS properties supported by chart */
    background: var(--color_background);
    color:      var(--color_foreground);

    /* setting custom CSS properties for chart's slices */
    --brushes:  var(--brushes_array);
    --outlines: var(--brushes_array);

    --others-category-threshold: 5.0;
    --others-category-type: "Percent";
    --others-category-fill: var(--color_029);
    --others-category-stroke: var(--color_029);
    --others-category-stroke-thickness: 1;

    --selected-slice-stroke: rgb(211, 211, 211);
    --selected-slice-stroke-thickness: 2;
    --selected-slice-opacity: 1.0;

    /* ISSUE #3 DoughnutChart does not support --label-outer-color property: */
    --label-outer-color: var(--color_foreground);
    /* ISSUE #3 DoughnutChart does not support --label-inner-color property: */
    --label-inner-color: var(--color_background);

}
