<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

    <div class="legend-title">
        Renewable Electricity Generated
    </div>

    <div class="container fill">
        <igc-data-chart
        name="chart"
        id="chart">
            <igc-category-x-axis
            name="xAxis"
            id="xAxis"
            label="year">
            </igc-category-x-axis>
            <igc-numeric-y-axis
            name="yAxis"
            id="yAxis">
            </igc-numeric-y-axis>
            <igc-line-series
            name="LineSeries1"
            id="LineSeries1"
            title="Electricity"
            value-member-path="america">
            </igc-line-series>
            <igc-callout-layer
            name="CalloutLayer1"
            id="CalloutLayer1"
            x-member-path="index"
            y-member-path="value"
            label-member-path="label"
            callout-padding-left="20"
            callout-padding-right="20"
            callout-padding-bottom="10"
            callout-padding-top="10"
            callout-corner-radius="5">
            </igc-callout-layer>
            <igc-final-value-layer
            name="FinalValueLayer"
            id="FinalValueLayer"
            axis-annotation-background-corner-radius="10"
            axis-annotation-padding-bottom="10"
            axis-annotation-padding-top="10"
            axis-annotation-padding-left="10"
            axis-annotation-padding-right="10">
            </igc-final-value-layer>
            <igc-crosshair-layer
            name="CrosshairLayer"
            id="CrosshairLayer"
            is-axis-annotation-enabled="true"
            y-axis-annotation-interpolated-value-precision="0"
            x-axis-annotation-background-corner-radius="10"
            y-axis-annotation-background-corner-radius="10">
            </igc-crosshair-layer>
            <igc-data-tool-tip-layer
            name="Tooltips"
            id="Tooltips">
            </igc-data-tool-tip-layer>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>