<!DOCTYPE html>
<html>
  <head>
    <title>FinancialChartAnnotations</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options horizontal">
        <label class="options-label">Annotations: </label>
        <label class="options-label">
          <input id="crosshairs" type="checkbox" checked="true"></input> Crosshair
        </label>
        <label class="options-label">
          <input id="callouts" type="checkbox" checked="true"></input> Callouts
        </label>
        <label class="options-label">
          <input id="itemTooltip" type="checkbox" checked="true"></input> Item Tooltip
        </label>
        <label class="options-label">
          <input id="useFinalValues" type="checkbox" checked="true"></input> Final Values
        </label>
        <label class="options-label">
          <input id="markers" type="checkbox"></input> Markers
        </label>
    </div>
    <div class="container" style="height: calc(100% - 3rem)">
        <igc-financial-chart id="chart" width="100%" height="100%"
            chart-type="Line"
            thickness="2"
            excluded-properties="index, info"
            callouts-x-member-path="index"
            callouts-y-member-path="value"
            callouts-label-member-path="info"
            callouts-content-member-path="info"
            crosshairs-snap-to-data="false">
        </igc-financial-chart>
    </div>
</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>