<html>
  <head>
    <title>Select Header</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" type="text/css" />
  </head>

  <body>
    <div id="root">
      <div class="container sample center">
        <igc-select>
          <igc-select-header>Tasks</igc-select-header>
          <igc-select-item value="spec" selected>Specification</igc-select-item>
          <igc-select-item value="implement">Implementation</igc-select-item>
          <igc-select-item value="test" disabled>Testing</igc-select-item>
          <igc-select-item value="docs">Documentation</igc-select-item>
       </igc-select>
      </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>
