<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    
        <div class="legend-title">
        Total Population of Selected Countries
    </div>
    
    <div class="legend">
        <igc-legend
        orientation="Horizontal"
        name="Legend"
        id ="Legend">
        </igc-legend>
    </div>
    
    <div class="container fill">
        <igc-data-chart
        
        name="chart"
        id ="chart">
            <igc-numeric-x-axis
            is-logarithmic="true"
            abbreviate-large-numbers="true"
            title="Population"
            name="xAxis"
            id ="xAxis">
            </igc-numeric-x-axis>
            <igc-numeric-y-axis
            is-logarithmic="true"
            abbreviate-large-numbers="true"
            title="GDP per Capita"
            name="yAxis"
            id ="yAxis">
            </igc-numeric-y-axis>
            <igc-bubble-series
            radius-member-path="population"
            x-member-path="population"
            y-member-path="gDP"
            marker-type="Circle"
            marker-thickness="2"
            marker-brush="rgba(62, 202, 62, 1)"
            marker-outline="rgba(62, 202, 62, 1)"
            marker-fill-opacity="0.5"
            show-default-tooltip="true"
            title="African Countries"
            name="BubbleSeries1"
            id ="BubbleSeries1">
            </igc-bubble-series>
            <igc-bubble-series
            title="European Countries"
            x-member-path="population"
            y-member-path="gDP"
            radius-member-path="population"
            marker-type="Circle"
            marker-outline="rgba(171, 6, 221, 1)"
            marker-brush="rgba(171, 6, 221, 1)"
            marker-fill-opacity="0.5"
            marker-thickness="2"
            show-default-tooltip="true"
            name="BubbleSeries2"
            id ="BubbleSeries2">
            </igc-bubble-series>
            <igc-data-tool-tip-layer
            name="DataToolTipLayer"
            id ="DataToolTipLayer">
            </igc-data-tool-tip-layer>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>