<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

    <div class="legend-title">
        Total Population of Selected Countries
    </div>

    <div class="legend">
        <igc-legend
        name="legend"
        id="legend"
        orientation="Horizontal">
        </igc-legend>
    </div>

    <div class="container fill">
        <igc-data-chart
        name="chart"
        id="chart">
            <igc-numeric-x-axis
            name="xAxis"
            id="xAxis"
            title="Population"
            is-logarithmic="true"
            abbreviate-large-numbers="true">
            </igc-numeric-x-axis>
            <igc-numeric-y-axis
            name="yAxis"
            id="yAxis"
            title="GDP per Capita"
            title-left-margin="5"
            is-logarithmic="true"
            abbreviate-large-numbers="true">
            </igc-numeric-y-axis>
            <igc-bubble-series
            name="bubbleSeries1"
            id="bubbleSeries1"
            title="African Countries"
            x-member-path="population"
            y-member-path="gDP"
            radius-member-path="workedHours"
            x-member-as-legend-label="Population"
            y-member-as-legend-label="GDP"
            radius-member-as-legend-label="Worked Hours"
            marker-type="Circle"
            marker-outline="rgba(2, 158, 30, 1)"
            marker-brush="rgba(2, 158, 30, 1)"
            marker-fill-opacity="0.5"
            marker-thickness="1"
            show-default-tooltip="true">
            </igc-bubble-series>
            <igc-bubble-series
            name="bubbleSeries2"
            id="bubbleSeries2"
            title="European Countries"
            x-member-path="population"
            y-member-path="gDP"
            radius-member-path="workedHours"
            x-member-as-legend-label="Population"
            y-member-as-legend-label="GDP"
            radius-member-as-legend-label="Worked Hours"
            marker-type="Circle"
            marker-outline="rgba(95, 2, 171, 1)"
            marker-brush="rgba(95, 2, 171, 1)"
            marker-fill-opacity="0.5"
            marker-thickness="1"
            show-default-tooltip="true">
            </igc-bubble-series>
            <igc-data-tool-tip-layer
            name="dataToolTipLayer"
            id="dataToolTipLayer"
            value-row-margin-top="1"
            label-text-margin-top="1"
            title-text-margin-top="1"
            units-text-margin-top="1"
            value-row-margin-bottom="1"
            label-text-margin-bottom="1"
            title-text-margin-bottom="1"
            units-text-margin-bottom="1"
            units-text-margin-right="5"
            value-text-margin-left="10"
            label-text-margin-left="5"
            grouping-mode="Grouped"
            layout-mode="Vertical">
            </igc-data-tool-tip-layer>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>