<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

    <div class="legend">
        <igc-data-legend
        name="legend"
        id="legend"
        included-columns="close, change, value"
        excluded-columns="high, low, open, volume"
        label-display-mode="Hidden"
        value-format-string="{0}">
        </igc-data-legend>
    </div>

    <div class="container fill">
        <igc-financial-chart
        name="chart"
        id="chart"
        chart-type="Candle"
        data-tool-tip-value-format-string="{0}"
        data-tool-tip-included-columns="Close, Change, Value"
        data-tool-tip-header-format-time="None"
        zoom-slider-type="None"
        y-axis-abbreviate-large-numbers="false"
        y-axis-label-format="{0}"
        x-axis-label-format="{0}">
        </igc-financial-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>