<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample ig-typography">

    <div class="container fill">
        <igc-tree-grid
        auto-generate="false"
        name="treeGrid"
        id="treeGrid"
        id="treeGrid"
        primary-key="ID"
        foreign-key="ParentID"
        row-editable="true"
        batch-editing="true"
        allow-filtering="true">
            <igc-action-strip
            name="actionStrip"
            id="actionStrip">
                <igc-grid-editing-actions
                >
                </igc-grid-editing-actions>
            </igc-action-strip>
            <igc-column
            field="Name"
            data-type="string"
            sortable="true"
            disable-hiding="true">
            </igc-column>
            <igc-column
            field="ID"
            data-type="number"
            sortable="true">
            </igc-column>
            <igc-column
            field="Title"
            data-type="string"
            sortable="true"
            disable-hiding="true">
            </igc-column>
            <igc-column
            field="HireDate"
            data-type="date"
            sortable="true"
            hidden="true">
            </igc-column>
            <igc-column
            field="Age"
            data-type="number"
            sortable="true"
            hidden="true">
            </igc-column>
            <igc-column
            field="Address"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="City"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="Country"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="Fax"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="PostalCode"
            header="Postal Code"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="Phone"
            data-type="string"
            sortable="true">
            </igc-column>
        </igc-tree-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>