<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    
    
    
    <div class="container fill">
        <igc-tree-grid
        auto-generate="false"
        foreign-key="parentID"
        id="treeGrid"
        primary-key="ID"
        row-editable="true"
        allow-filtering="true"
        batch-editing="false"
        name="treeGrid"
        id ="treeGrid">
            <igc-action-strip
            name="actionStrip"
            id ="actionStrip">
                <igc-grid-pinning-actions
                >
                </igc-grid-pinning-actions>
                <igc-grid-editing-actions
                edit-row="true"
                delete-row="false">
                </igc-grid-editing-actions>
            </igc-action-strip>
            <igc-pinning-config
            rows="Top">
            </igc-pinning-config>
            <igc-column
            field="name"
            sortable="true"
            disable-hiding="true"
            data-type="string">
            </igc-column>
            <igc-column
            field="iD"
            data-type="number"
            sortable="true">
            </igc-column>
            <igc-column
            field="title"
            data-type="string"
            sortable="true"
            disable-hiding="true">
            </igc-column>
            <igc-column
            field="hireDate"
            data-type="date"
            sortable="true"
            hidden="true">
            </igc-column>
            <igc-column
            field="age"
            data-type="number"
            sortable="true"
            hidden="true">
            </igc-column>
            <igc-column
            field="address"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="city"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="country"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="fax"
            data-type="string"
            sortable="true">
            </igc-column>
            <igc-column
            field="postalCode"
            data-type="string"
            sortable="true"
            header="Postal Code">
            </igc-column>
            <igc-column
            field="phone"
            data-type="string"
            sortable="true">
            </igc-column>
        </igc-tree-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>