<html>
  <head>
    <title>DockManagerUpdatingPanes</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <igc-dockmanager id="dockManager">
        <div class="dockManagerContent"
             slot="employeeListContainer" id="employeeListContainer">
        </div>
        <div class="dockManagerContent"
             slot="productivityChartContainer" id="productivityChartContainer">
            <igc-category-chart id="productivityChart" width="100%" height="100%">
            </igc-category-chart>
        </div>
        <div class="dockManagerContent"
            slot="geoLocationMapContainer" id="geoLocationMapContainer">
            <igc-geographic-map id="geoLocationMap" width="100%" height="100%">
            </igc-geographic-map>
        </div>
    </igc-dockmanager>
</div>

    </div>
    <script src="src/index.ts"></script>

  </body>
</html>