<html>
  <head>
    <title>SparklineNormalRange</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <label class="options-label"><input id="rangeVisibility" checked="true" type="checkbox" />Range Visibility</label>
    <label class="options-label" ><input id="minRange" type="range" min="-2" max="7" step="0.5"
    value="1" />Min Range <label id="minRangeLabel"></label> </label>
    <label class="options-label"><input id="maxRange" type="range" min="-2" max="7" step="0.5"
    value="4"/>Max Range <label id="maxRangeLabel"></label></label>

    <igc-sparkline id="sparkline"
        height="calc(100% - 3.5rem)"
        width="100%"
        value-Member-Path="Value"
        display-type="Area"
        normal-range-visibility="Visible"
        normal-range-minimum="1"
        normal-range-maximum="4"
        normal-range-fill="rgba(255, 0, 0, 0.4)"
        display-normal-range-in-front="true" >
    </igc-sparkline>

</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>