<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">



    <div class="container fill">
        <igc-grid
        auto-generate="false"
        id="grid"
        name="grid"
        id ="grid">
            <igc-column
            field="Name"
            header="Name"
            width="15%">
            </igc-column>
            <igc-column
            header="Title"
            field="Title"
            width="15%">
            </igc-column>
            <igc-column
            header="Salary"
            field="Salary"
            width="10%">
            </igc-column>
            <igc-column
            header="Employees"
            field="Employees"
            width="30%"
            name="column1"
            id ="column1">
            </igc-column>
            <igc-column
            header="City"
            field="City"
            width="15%">
            </igc-column>
            <igc-column
            header="Country"
            field="Country"
            width="15%">
            </igc-column>
            <igc-column
            header="Age"
            field="Age"
            width="10%">
            </igc-column>
            <igc-column
            header="Hire Date"
            field="HireDate"
            data-type="Date">
            </igc-column>
        </igc-grid>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>