<!DOCTYPE html>
<html>
<head>
    <title>MapDisplayImageryBingTiles</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browser/wc.png" >
    <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    
</head>

<body>
    <div class="container sample center" style="display:flex; flex-direction:column; gap:12px;">

        <!-- Button -->
        <div style="width: 100%; display: flex; justify-content: center; margin-top: 8px;">
            <igc-button
                id="enterKeyBtn"
                variant="contained"
                style="min-width: 200px;"
            >
                Enter Enterprise Key
            </igc-button>
        </div>

        <!-- Enterprise Key Dialog -->
        <igc-dialog id="bingDialog" title="Bing Maps Enterprise Key">
            <p>
                Bing Maps Basic has been retired.<br />
                Please enter your <b>Bing Maps Enterprise Key</b>.
            </p>
            <br/>
            <igc-input id="bingKeyInput" placeholder=""></igc-input>
            
            <div slot="footer" style="display:flex; justify-content:flex-end; gap:8px;">
                <igc-button id="cancelBtn" variant="flat">Cancel</igc-button>
                <igc-button id="applyBtn" variant="flat">Apply</igc-button>
            </div>
        </igc-dialog>

        <!-- Geographic Map -->
        <igc-geographic-map id="bingMap" width="100%" height="100%">
        </igc-geographic-map>

    </div>

    <% if (false) { %>
      <script src="src/index.ts"></script>
    <% } %>
</body>
</html>
