<!DOCTYPE html>
<html>

<head>
  <title>Switch Overview</title>
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class="container sample">
      <div class="notifications">
        <h6 class="notifications__title">Notifications</h6>
        <div class="notifications__row">
          <igc-switch label-position="before" checked>
            <span class="option">
              <span class="option__label">Push notifications</span>
              <span class="option__hint">Deliver alerts to this device</span>
            </span>
          </igc-switch>
        </div>
        <div class="notifications__row">
          <igc-switch label-position="before">
            <span class="option">
              <span class="option__label">Weekly digest</span>
              <span class="option__hint">Summary email every Monday</span>
            </span>
          </igc-switch>
        </div>
        <div class="notifications__row">
          <igc-switch label-position="before" disabled>
            <span class="option">
              <span class="option__label">SMS alerts</span>
              <span class="option__hint">Unavailable on your plan</span>
            </span>
          </igc-switch>
        </div>
      </div>
    </div>
  </div>

  <!-- This script is needed only for parcel and it will be excluded for webpack -->
  <% if (false) { %>
    <script src="src/index.ts"></script>
    <% } %>

</body>

</html>
