<html>
  <head>
    <title>RadialGaugeTickmarks</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample center">
    <igc-radial-gauge
        id="gauge"
        height="100%"
        width="100%"
        minimum-vue="0" value="50"
        maximum-value="80" interval="10"
        tick-start-extent="0.5"
        tick-end-extent="0.57"
        tick-stroke-thickness="2"
        tick-brush="DodgerBlue"
        minor-tick-count="4"
        minor-tick-end-extent="0.520"
        minor-tick-start-extent="0.57"
        minor-tick-stroke-thickness="1"
        minor-tick-brush="DarkViolet" >
    </igc-radial-gauge>

</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>