<!DOCTYPE html>
<html>
  <head>
    <title>RadialGaugeOpticalScaling</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample center">
  <div class="options horizontal">
    <label class="options-label">Optical Scaling: </label>
    <label class="options-label"><input type="checkbox" id="checkbox1" checked="true"></input> Resize Gauge: </label>
    <input class="options-slider" id="slider" type="range" min="20" max="100" step="10" value="100"></input>

</div>

    <igc-radial-gauge
        id="gauge"
        height="100%"
        width="100%"
        title-displays-value="true"
        subtitle-text="MPH"       
        minimum-value="0" value="50"
        maximum-value="80" interval="10"
        title-extent="0.5"
        subtitle-extent="0.65"
        optical-scaling-enabled="true" 
        optical-scaling-size="500">
    </igc-radial-gauge>

</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>