<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    
        <div class="legend-title">
        Global Electricity Demand by Energy Use
    </div>
    
    <div class="legend">
        <igc-item-legend
        orientation="Horizontal"
        name="Legend"
        id ="Legend">
        </igc-item-legend>
    </div>
    
    <div class="container fill">
        <igc-pie-chart
        
        value-member-path="value"
        label-member-path="summary"
        legend-label-member-path="summary"
        labels-position="OutsideEnd"
        others-category-threshold="10"
        others-category-type="Number"
        others-category-text="Others"
        radius-factor="0.7"
        label-extent="30"
        outlines="white"
        name="chart"
        id ="chart">
        </igc-pie-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>