<html>
  <head>
    <title>SparklineMarkers</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v6.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="options horizontal">
        <label class="options-label"><input id="High" checked="true" type="checkbox" />High Markers</label>
        <label class="options-label"><input id="Low" checked="true" type="checkbox" />Low Markers</label>
        <label class="options-label"><input id="First" checked="true" type="checkbox" />First Markers</label>
        <label class="options-label"><input id="Last" checked="true" type="checkbox" />Last Markers</label>
        <label class="options-label"><input id="Negative" checked="true" type="checkbox" />Negative Markers</label>
        <label class="options-label"><input id="All" checked="true" type="checkbox" />All Markers</label>
    </div>
    <igc-sparkline id="sparkline"
        height="calc(100% - 3.5rem)" width="100%"
        value-member-path="Value"
        display-type="Line"
        minimum="-3"
        maximum="8"
        marker-visibility="Visible"
        high-marker-visibility="Visible"
        low-marker-visibility="Visible"
        first-marker-visibility="Visible"
        last-marker-visibility="Visible"
        negative-marker-visibility="Visible"
        marker-size="10"
        first-marker-size="10"
        last-marker-size="10"
        low-marker-size="10"
        high-marker-size="10"
        negative-marker-size="10">
    </igc-sparkline>

</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>