<html>
  <head>
    <title>DataGridTypeMatrixTable</title>
    <meta charset="UTF-8" />

    <style>
      html,
      body,
      #root {
        height: calc(100%);
        margin: 0px;
      }
    </style>
     <link rel="stylesheet" type="text/css" href="/src/index.css"  />
  </head>

  <body>
    <div id="root">

<div class="igContainer">
    <igc-data-grid
        id="grid"
        height="100%"
        width="100%"
        row-height="50"
        row-separator-height="1"
        row-separator-background="lightgray"
        header-separator-background="lightgray"
        header-separator-width="1"
        header-height="110"
        column-resizing-mode="None"
        auto-generate-columns="false"
        >

        <igc-text-column id="nameColumn" field="Name" header-text="Friends" horizontal-alignment="right" width="*>110"></igc-text-column>
        <igc-template-column id="Kyle" field="Kyle" header-text="Kyle" horizontal-alignment="center" width="50"></igc-template-column>
        <igc-template-column id="Oscar" field="Oscar" header-text="Oscar" horizontal-alignment="center" width="50"></igc-template-column>
        <igc-template-column id="Gina" field="Gina" header-text="Gina" horizontal-alignment="center" width="50"></igc-template-column>
        <igc-template-column id="Irene" field="Irene" header-text="Irene" horizontal-alignment="center" width="50"></igc-template-column>
        <igc-template-column id="Kate" field="Kate" header-text="Kate" horizontal-alignment="center" width="50"></igc-template-column>
        <igc-template-column id="Brenda" field="Brenda" header-text="Brenda" horizontal-alignment="center" width="50"></igc-template-column>
        <igc-template-column id="Mark" field="Mark" header-text="Mark" horizontal-alignment="center" width="50"></igc-template-column>
        <igc-template-column id="John" field="John" header-text="John" horizontal-alignment="center" width="50"></igc-template-column>
        <igc-template-column id="Andrew" field="Andrew" header-text="Andrew" horizontal-alignment="center" width="50"></igc-template-column>
        <igc-template-column id="Casey" field="Casey" header-text="Casey" horizontal-alignment="center" width="50"></igc-template-column>
        <igc-template-column id="Holly" field="Holly" header-text="Holly" horizontal-alignment="center" width="50"></igc-template-column>
        <igc-template-column id="Larry" field="Larry" header-text="Larry" horizontal-alignment="center" width="50"></igc-template-column>
        <igc-template-column id="Pete" field="Pete" header-text="Pete" horizontal-alignment="center" width="50"></igc-template-column>
        <igc-template-column id="Steve" field="Steve" header-text="Steve" horizontal-alignment="center" width="50"></igc-template-column>
        <igc-numeric-column id="countColumn" field="Count" header-text="Total" horizontal-alignment="left" width="*>110"></igc-numeric-column>
    </igc-data-grid>
</div>

    </div>
    <% if (false) { %>
    <!-- This area isn't needed for webpack, only parcel -->
    <script src="@webcomponents/custom-elements/src/native-shim.js"></script>
    <script src="src/index.ts"></script>
    <% } %>
  </body>
</html>