<!doctype html>
<html>
    <head>
        <title>Sample | Ignite UI | Web Components | infragistics</title>
        <meta charset="UTF-8" />

        <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browser/wc.png" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
        <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" />
        <link rel="stylesheet" href="/src/index.css" type="text/css" />
    </head>

    <body>
        <div id="root">
            <div class="container sample ig-typography">
                <div class="container fill">
                    <igc-grid auto-generate="false" id="grid" row-selection="single" cell-merge-mode="always" width="100%" height="570px">
                        <igc-grid-toolbar>
                            <igc-select id="mergeSelect" value="always">
                                <igc-select-header>Select Merge Type</igc-select-header>
                                <igc-select-item value="always">Merge always</igc-select-item>
                                <igc-select-item value="onSort">Merge on sort</igc-select-item>
                            </igc-select>
                        </igc-grid-toolbar>

                        <igc-column field="OrderID" header="Order ID" hidden="true"></igc-column>
                        <igc-column field="ShipperName" header="Shipper Name" merge="true" sortable="true" width="250px"></igc-column>
                        <igc-column field="Salesperson" header="Salesperson" merge="true" sortable="true" width="250px"></igc-column>
                        <igc-column field="Discontinued" header="Discontinued" merge="true" sortable="true" width="200px"></igc-column>
                        <igc-column field="UnitPrice" header="Unit Price" data-type="number" width="150px"></igc-column>
                        <igc-column field="Quantity" header="Quantity" data-type="number" width="150px"></igc-column>
                        <igc-column field="ShipCountry" header="Ship Country" merge="true" width="200px"></igc-column>
                        <igc-column field="ShipCity" header="Ship City" merge="true" width="250px"></igc-column>
                        <igc-column field="ShipName" header="Ship Name" width="250px"></igc-column>
                        <igc-column field="PostalCode" header="Postal Code" width="200px"></igc-column>
                        <igc-column field="OrderDate" header="Order Date" data-type="date" width="200px"></igc-column>
                    </igc-grid>
                </div>
            </div>
        </div>

        <!-- This script is needed only for parcel and it will be excluded for webpack -->
        <% if (false) { %>
        <script src="src/index.ts"></script>
        <% } %>
    </body>
</html>
