<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">
    <div class="legend-title">
        Distribution of Online Traffic Worldwide in 2019, by Device
    </div>

    <div class="legend">
        <igc-legend
        orientation="Horizontal"
        name="legend"
        id ="legend">
        </igc-legend>
    </div>

    <div class="container fill">
        <igc-data-chart
        is-horizontal-zoom-enabled="false"
        is-vertical-zoom-enabled="false"
        name="chart"
        id ="chart">
            <igc-category-x-axis
            
            gap="0.75"
            label="category"
            name="xAxis"
            id ="xAxis">
            </igc-category-x-axis>
            <igc-numeric-y-axis
            minimum-value="0"
            name="yAxis"
            id ="yAxis">
            </igc-numeric-y-axis>
            <igc-stacked-100-column-series
            
            area-fill-opacity="1"
            show-default-tooltip="true"
            name="Stacked100ColumnSeries"
            id ="Stacked100ColumnSeries">
                <igc-stacked-fragment-series
                name="s1"
                id ="s1"
                value-member-path="desktop">
                </igc-stacked-fragment-series>
                <igc-stacked-fragment-series
                name="s2"
                id ="s2"
                value-member-path="mobile">
                </igc-stacked-fragment-series>
                <igc-stacked-fragment-series
                name="s3"
                id ="s3"
                value-member-path="tablet">
                </igc-stacked-fragment-series>
            </igc-stacked-100-column-series>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>