/* shared styles are loaded from: */
/* https://static.infragistics.com/xplatform/css/samples */

.grid {
    --igx-grid-row-selected-background: #0062A3;
    --igx-grid-row-selected-text-color: #ecaa53;
    --igx-grid-row-selected-hover-background: #0062A3;
    --igx-grid-header-selected-text-color: #ecaa53;
    --igx-grid-header-selected-background: #0062A3;
    --igx-grid-row-selected-hover-text-color: #ecaa53;
    --igx-grid-row-selected-hover-background: #0062A3;
}