<!DOCTYPE html>
<html>
<head>
  <title>Button Group Toggle</title>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
</head>
<body>
  <div id="root">
    <div class="container sample">
      <igc-button-group selection="multiple">
        <igc-toggle-button value="top" selected><igc-icon name="border_top" collection="material"></igc-icon></igc-toggle-button>
        <igc-toggle-button value="right"><igc-icon name="border_right" collection="material"></igc-icon></igc-toggle-button>
        <igc-toggle-button value="bottom"><igc-icon name="border_bottom" collection="material"></igc-icon></igc-toggle-button>
        <igc-toggle-button value="left"><igc-icon name="border_left" collection="material"></igc-icon></igc-toggle-button>
      </igc-button-group>
    </div>
  </div>
  <% if (false) { %><script src="src/index.ts"></script><% } %>
</body>
</html>