<!DOCTYPE html>
<html>

<head>
  <title>Tile Manager Actions</title>
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class="container sample center">
      <igc-tile-manager id="tile-manager1" column-count="2" gap="20px">
        <igc-tile >
          <h3 slot="title">Default Actions</h3>
          <p>This tile has default actions and title.</p>
        </igc-tile>
        <igc-tile disable-fullscreen>
          <h3 slot="title">No Fullscreen Action</h3>
          <p>Fullscreen is disabled via property.</p>
        </igc-tile>
        <igc-tile disable-fullscreen disable-maximize>
          <h3 slot="title">Custom Actions</h3>
          <igc-icon-button id="customOne" slot="actions" variant="flat" collection="material" exportparts="icon" name="north_east"
            aria-label="north_east"></igc-icon-button>
          <p>Replace the default actions with custom ones, and include extra actions when the tile is maximized.</p>
        </igc-tile>
        <igc-tile disable-fullscreen disable-maximize>
          <igc-icon-button id="customTwo" slot="actions" variant="flat" collection="material" exportparts="icon"
            name="north_east"></igc-icon-button>
          <p>Display only custom actions in the header.</p>
        </igc-tile>
        <igc-tile disable-fullscreen disable-maximize>
          <h3 slot="title">Only title</h3>
          <p>Display only title in the header.</p>
        </igc-tile>
        <igc-tile disable-fullscreen disable-maximize>
          <p>Content only.</p>
        </igc-tile>
      </igc-tile-manager>
    </div>
  </div>

  <!-- This script is needed only for parcel and it will be excluded for webpack -->
  <% if (false) { %>
    <script src="src/index.ts"></script>
    <% } %>

</body>

</html>