<!DOCTYPE html>
<html>

<head>
  <title>Radio On Off State</title>
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="https://dl.infragistics.com/x/img/browsers/wc.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
  <link rel="stylesheet" href="https://dl.infragistics.com/x/css/samples/shared.v8.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class="sample radio-on-off">
      <div class="age-question">
        <span id="age-title" class="age-title">What is your age?</span>
        <igc-radio-group name="age" aria-labelledby="age-title">
          <igc-radio value="18-27" checked>18-27</igc-radio>
          <igc-radio value="28-39">28-39</igc-radio>
          <igc-radio value="40-55">40-55</igc-radio>
        </igc-radio-group>
      </div>
    </div>
  </div>

  <!-- This script is needed only for parcel and it will be excluded for webpack -->
  <% if (false) { %>
    <script src="src/index.ts"></script>
    <% } %>

</body>

</html>
