<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

    <div class="legend-title">
        Total Population of Selected Countries
    </div>

    <div class="container fill">
        <igc-data-chart
        name="chart"
        id="chart">
            <igc-numeric-x-axis
            name="xAxis"
            id="xAxis"
            title="Population"
            is-logarithmic="true"
            abbreviate-large-numbers="true">
            </igc-numeric-x-axis>
            <igc-numeric-y-axis
            name="yAxis"
            id="yAxis"
            title="Public Debt"
            is-logarithmic="false"
            abbreviate-large-numbers="true"
            maximum-value="120">
            </igc-numeric-y-axis>
            <igc-bubble-series
            name="bubbleSeries1"
            id="bubbleSeries1"
            x-member-path="population"
            y-member-path="publicDebt"
            radius-member-path="gdpPerPerson"
            fill-member-path="gdpPerPerson"
            marker-type="Circle"
            show-default-tooltip="true">
            </igc-bubble-series>
            <igc-data-tool-tip-layer
            name="dataToolTipLayer"
            id="dataToolTipLayer">
            </igc-data-tool-tip-layer>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>