<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

        <div class="legend-title">
        Roadblocks Critical to Success of the Data & Analytics Team
    </div>

    <div class="legend">
        <igc-legend
        orientation="Horizontal"
        name="Legend"
        id ="Legend">
        </igc-legend>
    </div>

    <div class="container fill">
        <igc-data-chart

        name="Chart"
        id ="Chart">
            <igc-category-y-axis

            gap="0.25"
            label-extent="0"
            label="category"
            name="yAxis1"
            id ="yAxis1">
            </igc-category-y-axis>
            <igc-category-y-axis
            label="category"
            gap="1"
            label-horizontal-alignment="Right"
            name="yAxis2"
            id ="yAxis2">
            </igc-category-y-axis>
            <igc-numeric-x-axis
            minimum-value="0"
            maximum-value="50"
            stroke="gray"
            stroke-thickness="2"
            tick-length="5"
            use-enhanced-interval-management="true"
            label-format="{0}%"
            name="xAxis"
            id ="xAxis">
            </igc-numeric-x-axis>
            <igc-category-highlight-layer
            name="CategoryHighlightLayer"
            id ="CategoryHighlightLayer">
            </igc-category-highlight-layer>
            <igc-bar-series

            value-member-path="topChoices"
            is-transition-in-enabled="true"
            is-highlighting-enabled="true"
            show-default-tooltip="true"
            title="Sum of Top 3 Choices"
            name="BarSeries1"
            id ="BarSeries1">
            </igc-bar-series>
            <igc-bar-series

            title="Top Choice"
            value-member-path="firstChoice"
            show-default-tooltip="true"
            is-transition-in-enabled="true"
            is-highlighting-enabled="true"
            name="BarSeries2"
            id ="BarSeries2">
            </igc-bar-series>
            <igc-callout-layer
            label-member-path="firstChoiceLabel"
            x-member-path="firstChoice"
            y-member-path="index"
            callout-text-color="black"
            callout-background="rgba(0, 0, 0, 0)"
            callout-outline="rgba(0, 0, 0, 0)"
            callout-leader-brush="rgba(0, 0, 0, 0)"
            callout-padding-top="0"
            callout-position-padding="0"
            callout-stroke-thickness="2"
            name="CalloutLayer1"
            id ="CalloutLayer1">
            </igc-callout-layer>
            <igc-callout-layer

            y-member-path="index"
            x-member-path="topChoices"
            label-member-path="topChoicesLabel"
            callout-leader-brush="rgba(0, 0, 0, 0)"
            callout-outline="rgba(0, 0, 0, 0)"
            callout-background="rgba(0, 0, 0, 0)"
            callout-text-color="black"
            callout-stroke-thickness="2"
            callout-padding-top="0"
            callout-position-padding="0"
            name="CalloutLayer2"
            id ="CalloutLayer2">
            </igc-callout-layer>
            <igc-data-tool-tip-layer
            name="Tooltips"
            id ="Tooltips">
            </igc-data-tool-tip-layer>
        </igc-data-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>