<!DOCTYPE html>
<html>
  <head>
    <title>Sample | Ignite UI | Web Components | infragistics</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v8.css" />
    <link rel="stylesheet" href="/src/index.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample">

    <div class="legend">
        <igc-data-legend
        name="Legend"
        id="Legend"
        included-columns="Open, Close, High, Low, Change"
        label-text-color="rgba(74, 74, 74, 1)"
        units-text="K"
        units-text-color="rgba(0, 173, 3, 1)"
        units-text-style="normal bold 14px Verdana"
        value-format-mode="Currency"
        value-text-color="rgba(0, 173, 3, 1)"
        value-text-style="normal bold 14px Verdana">
        </igc-data-legend>
    </div>

    <div class="container fill">
        <igc-financial-chart
        name="chart"
        id="chart"
        is-vertical-zoom-enabled="true"
        is-horizontal-zoom-enabled="true"
        tool-tip-type="None"
        y-axis-title="Thousands of Dollars ($)"
        zoom-slider-type="None">
        </igc-financial-chart>
    </div>
</div>

    </div>

    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>
  </body>
</html>