<html>
  <head>
    <title>BulletGraphMeasures</title>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="https://static.infragistics.com/xplatform/images/browsers/wc.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web" />
    <link rel="stylesheet" href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css" type="text/css" />

  </head>

  <body>
    <div id="root">

<div class="container sample center" >
                <igc-bullet-graph
                     id="gauge"
                     height="80px"
                     width="100%"
                     minimum-value="0"
                     maximum-value="100"
                     value="50"
                     value-brush="DodgerBlue"
                     value-stroke-thickness="1"
                     value-inner-extent="0.5"
                     value-outer-extent="0.65"
                     target-value="80"
                     target-value-breadth="10"
                     target-value-brush="LimeGreen"
                     target-value-outline="LimeGreen"
                     target-value-stroke-thickness="1"
                     target-value-inner-extent="0.3"
                     target-value-outer-extent="0.85"
                     scale-background-brush = "#e5e5e5"
                     scale-background-outline = "#e5e5e5"
                     backing-brush = "#f7f7f7"
                     backing-outline = "#bfbfbf"
                     tick-stroke-thickness = "1.5" >
                </igc-bullet-graph>

</div>

    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %><script src="src/index.ts"></script><% } %>

  </body>
</html>