<html>
  <head>
    <title>Radio Group</title>
    <meta charset="UTF-8" />

    <link
      rel="shortcut icon"
      href="https://static.infragistics.com/xplatform/images/browsers/wc.png"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Kanit&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Titillium Web"
    />
    <link
      rel="stylesheet"
      href="https://static.infragistics.com/xplatform/css/samples/shared.v5.css"
      type="text/css"
    />
  </head>

  <body>
    <div id="root">
      <div class="container sample">
        <div style="width: 400px; border: 1px solid gainsboro">
          <igc-radio-group>
            <igc-radio label-position="before" value="apple">Apple</igc-radio>
            <div style="display: flex; align-items: center">
              <span id="radio-label">Label</span>
              <igc-radio
                label-position="before"
                aria-labelledby="radio-label"
                value="orange"
              ></igc-radio>
            </div>
          </igc-radio-group>
        </div>
      </div>
    </div>
    <!-- This script is needed only for parcel and it will be excluded for webpack -->
    <% if (false) { %>
    <script src="src/index.ts"></script>
    <% } %>
  </body>
</html>
